<div style="border-radius: 10px; border: #6B8E23 solid; padding: 15px; background-color: #F5F5DC; font-size: 100%; text-align: left">

<h3 align="left"><font color='#556B2F'>📜 Introduction : </font></h3>

**Bir ürünü satın aldıran nedir?**

Örneğin; bir kullanıcı ürün almaya karar verdi ve bir e-ticaret sitesine gidip arattırdığında karşısına ürünle alakalı öneriler ve alternatifler çıkmaktadır. Bu kişiye ürünü aldıran en önemli unsurlardan birisi sosyal ispat (Social Proof) kavramıdır. Bir kullanıcının satın almasını en fazla etkileyen sebeplerden birisidir. Bu ürünü daha önce almış kişilerin ürün incelemeleri, puanlamaları incelenir ve böylelikle kişi ürün hakkında bir kanaate varabilir. Bu durum da en temel sebebi ise kalabalıkların bilgeliğine olan inançtır. (The Wisdom of Crowds)

Şimdi kullanıcımızın birçok üründen iki seçeneğe kadar indirgediğini varsayalım. Ürünlerin markasıyla ve fiyatıyla ilgilenmiyoruz. Bu iki ürünün sadece puanlarına odaklandığımızı varsayalım. Algılarımız en yüksek puanı alan ürüne kayar ve onun en iyisi olduğunu düşünürüz.

Bir başka durumda; ürünlerin puanları ve sayılarını aynı anda gösterdiğini varsayalım. 5 puan almış olan ürünün 7 oylama aldığını, 4.5 puan alan ürünün 256 oy aldığını düşünelim. İşte bu noktada bu sefer 4.5 puana sahip ürünü satın alırız çünkü sosyal ispat (Social Proof) kavramı etkilidir.

Yani bu noktada alıcının en temel hedefi; fiyat ve performans açısından en iyi ürüne ulaşmaktır. Pazar Yeri/Satıcının da hedefi kullanıcılara en doğru şekilde ürünleri ulaştırmaktır. Hatta satıcı sponsorluk alarak ürünlerinin aramalarda üst sıralarda gözükmesini sağlayabilir. Mademki kullanıcıların en çok satın almasını etkileyen faktör sosyal ispattır, o zaman bu sosyal ispat olarak adlandırdığımız şey her neredeyse, bunu pazarı manipüle etmekten sakınacak şekilde, en doğru şekilde sunmamız lazım. Bu konuda ürünlere yapılan yorumların ve puanları hesaplanmasına denk gelmektedir.

Bu sürece girildiğinde karşılaşılacak bazı problemler vardır. Bir kullanıcı satın alma sürecine girdiğinde geliştiricileri ilgilendirecek başlıklar şunlardır;

* Ürün puanlarının hesaplanması
* Ürünlerin sıralanması
* Ürünlerin detay sayfalarındaki kullanıcı yorumlarının sıralanması
* Sayfa, süreç ve etkileşim alanlarının tasarımları
* Özellik denemeleri
* Olası aksiyonların ve reaksiyonların test edilmesi

Bu sureçte kullanıcının deneyimini etkileyen başlıkların bir çoğunda birlikte bilimsel bir formda literatürdeki bu başlıkları inceleyeceğiz;

* Ürün Puanlandırma (Rating Products)
* Ürünleri Sıralama (Sorting Products)
* Yorumları Sıralama (Sorting Reviews)

<center><img src="https://i.imgur.com/jIuU22M.png" width="800" height="800"></center>

# Content

1. [💯 Rating Products 💯](#1)
    * [Average](#2)
    * [Time-Based Weighted Average](#3)
    * [User-Based Weighted Average](#4)
    * [Weighted Rating](#5)
1. [🤩 Sorting Products 🤩](#6)
    * [Sorting by Rating](#7)
    * [Sorting by Comment Count or Purchase Count](#8)
    * [Sorting by Rating, Comment and Purchase](#9)
    * [Bayesian Average Rating Score](#10)
    * [Hybrid Sorting](#11)
    * [IMDB Movie Scoring and Sorting](#12)
        * [Importing Libraries & First Look](#13)
        * [Sorting by Vote Average](#14)
    * [IMDB Weighted Rating](#15)
    * [Bayesian Average Rating Score (BAR Score)](#16)
1. [🙏 Sorting Reviews 🙏](#17)
    * [Up-Down Difference Score](#18)
    * [Average Rating (Up Ratio)](#19)
    * [Wilson Lower Bound Score](#20)
    * [Case Study](#21)

<a id="1"></a>
<h1 style="border-radius: 10px; border: 2px solid #6B8E23; background-color: #F5F5DC; font-family: 'Pacifico', cursive; font-size: 200%; text-align: center; border-radius: 15px 50px; padding: 15px; box-shadow: 5px 5px 5px #556B2F; color: #556B2F;">💯 Rating Products 💯</h1>

"Rating Products," çeşitli ürün, hizmet veya eşyalar için puanların atandığı veya gösterildiği bir uygulamayı ifade eder. Bu, potansiyel müşterilere veya kullanıcılara ürünlerin kalitesi, memnuniyeti veya performansı hakkında bir gösterge sunmak amacıyla yapılır. Puanlar genellikle sayısal bir değer olarak sunulur, genellikle 1 ile 5 yıldız gibi bir ölçekte, daha yüksek bir puan daha iyi veya daha olumlu bir ürünü gösterir.

Ürünleri puanlama, kullanıcıların farklı seçenekler arasında bilinçli kararlar almalarına yardımcı olmak amacıyla yapılır. Kullanıcılar, diğer müşteriler tarafından sunulan puanları ve yorumları, ürünün genel kalitesini ve kendi ihtiyaçlarına uygunluğunu değerlendirmek için kullanabilirler. Yüksek puanlar genellikle olumlu kullanıcı deneyimleriyle ilişkilendirilir ve potansiyel alıcıları yüksek puanlı bir ürünü tercih etmeye yönlendirebilir.

Ürünleri puanlama, e-ticaret web siteleri, online pazar yerleri, mobil uygulamalar ve ürün inceleme web siteleri gibi çeşitli platformlarda bulunabilir. Kullanıcılar, kendi kişisel deneyimlerini ve görüşlerini paylaşmak için puanlarını ve yazılı yorumlarını bırakmaya teşvik edilirler, bu da pazar yerinde güveni ve şeffaflığı artırmaya yardımcı olabilir.

<a id = "2"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Ortalama (Average)✨</p>

In [1]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

import warnings

warnings.filterwarnings("ignore")

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.width', 500)
# pd.set_option('display.expand_frame_repr', False)
# pd.set_option('display.float_format', lambda x: '%.5f' % x)

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>📄 Notes: </font></h3>

**İncelenecek örnek senaryo;**

* (50+ Saat) Python A-Z™: Veri Bilimi ve Machine Learning
* Puan: 4.8 (4.764925)
* Toplam Puan: 4611
* Puan Yüzdeleri: 75, 20, 4, 1, <1
* Yaklaşık Sayısal Karşılıkları: 3458, 922, 184, 46, 6

In [2]:
df = pd.read_csv("/kaggle/input/course-reviewscsv/course_reviews.csv")

In [3]:
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0

<div style="border-radius: 10px; border: #6B8E23 solid; padding: 15px; background-color: #F5F5DC; font-size: 100%; text-align: left">

<h3 align="left"><font color='#556B2F'>👀 Features : </font></h3>
    
1. **Rating:** kursa verilen puan
1. **Timestamp:** puanı hangi tarihte verdiği
1. **Enrolled:** üye olduğu tarih
1. **Progress:** kursun yüzde kaçının izlendiği
1. **Questions Asked:** sorulan soru sayısı
1. **Questions Answered:** aldığı yanıt sayısı

In [4]:
df.shape # 4323 değerlendirme vardır.

(4323, 6)

In [5]:
df["Rating"].value_counts() # yapılan değerlendirme sayısına göre rating dağılımı

Rating
5.0    3267
4.5     475
4.0     383
3.5      96
3.0      62
1.0      15
2.0      12
2.5      11
1.5       2
Name: count, dtype: int64

In [6]:
df["Questions Asked"].value_counts() # yapılan değerlendirme sayısına göre sorulan soru dağılımı

Questions Asked
0.0     3867
1.0      276
2.0       80
3.0       43
4.0       15
5.0       13
6.0        9
8.0        5
9.0        3
14.0       2
11.0       2
7.0        2
10.0       2
15.0       2
22.0       1
12.0       1
Name: count, dtype: int64

In [7]:
# Sorulan soruların sayılarına göre ortalama kaç puan verdikleri?

df.groupby("Questions Asked").agg({"Questions Asked": "count",
                                   "Rating": "mean"})

                 Questions Asked    Rating
Questions Asked
0.0                         3867  4.765193
1.0                          276  4.740942
2.0                           80  4.806250
3.0                           43  4.744186
4.0                           15  4.833333
5.0                           13  4.653846
6.0                            9  5.000000
7.0                            2  4.750000
8.0                            5  4.900000
9.0                            3  5.000000
10.0                           2  5.000000
11.0                           2  5.000000
12.0                           1  5.000000
14.0                           2  4.500000
15.0                           2  3.000000
22.0                           1  5.000000

In [8]:
df["Rating"].mean()

4.764284061993986

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Ortalama hesabı için "**mean()**" kullanılabilir.
* Fakat doğru veya yanlış yorumu yapılamaz. Tamamen tercihe bağlıdır.
* Diğer kurslar içinde aynı puanlama hesabı yapıldığından, ortaya çıkacak yanlılıkları göz ardı etmemiz gerekecektir.
* Sonuç bu durum bir tercihtir, göstergedir, kullanılabilir.
* Dezavantajı; son zamanlarda oluşan memnuniyet trendlerini kaçırıyor olabiliriz. Örneğin; kursun yayınladığı tarih itibariyle ilk 3 ayda yüksek memnuniyete sahipken, sonraki 3 ayda negatif bir trende girmiş olabilir. Bu yüzden başka faktörleride göz önünde bulundurmak gerekmektedir.
* Tabiki bu durum kurs haricinde alışveriş sitesindeki bir ürünün puanlamasıda olabilir.

<a id = "3"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Puan Zamanlarına Göre Ağırlıklı Ortalama (Time-Based Weighted Average)✨</p>

"Time-Based Weighted Average" (Zamana Göre Ağırlıklı Ortalama), bir veri dizisi içindeki değerlerin zaman açısından farklı ağırlıklarla hesaplanan bir ortalama değerini ifade eder. Bu yöntem, veri setindeki daha yeni veya daha güncel verilere daha fazla önem atfetmek istendiği durumlarda kullanılır. Çünkü sadece ortalamaya göre işlem yapıldığında son zamanlardaki sistemin kalitesi, e-ticaret sitesindeki kargo hizmetleri,paketleme hizmetleri vb. veya müşterilerin son zamanlardaki memnuniyetlerini kaçırıyor olabiliriz.

Time-Based Weighted Average hesaplaması, her veri noktasının ağırlığı belirlenirken verinin yaşına veya zamanlamasına dayanır. Yani, geçmiş verilere göre daha yakın veya daha yeni veriler, daha yüksek ağırlığa sahip olurken, daha eski veriler daha düşük ağırlığa sahip olur. Bu, gelecekteki tahminlerin veya analizlerin daha güncel bilgilere dayandırılmasına yardımcı olur.

Örnek olarak, bir finansal analist, hisse senetlerinin fiyat hareketlerini tahmin etmek için Time-Based Weighted Average kullanabilir. Bu durumda, geçmiş birkaç günün hisse senedi fiyatlarına daha fazla ağırlık verilirken, daha önceki dönemlerin fiyatlarına daha düşük ağırlık verilir. Bu sayede, tahminlerin daha güncel ve geçerli olması sağlanır.

In [9]:
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   object
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: float64(4), object(2)
memory usage: 202.8+ KB

In [11]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"]) # veri tipini objeden datetime'a çevirmek

In [12]:
current_date = pd.to_datetime('2021-02-10 0:0:0') # bir string değer veriyoruz, bunu datetime tipine çevirip current_time olarak atıyoruz.

In [13]:
df["days"] = (current_date - df["Timestamp"]).dt.days # son işlem üzerinden kaç gün geçtiği

In [14]:
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered,days
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0,4
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0,5
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0,5
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0,5
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0,5

In [15]:
df[df["days"] <= 30].count() # Son 30 günde 194 tane yorum yapılmıştır.

Rating                194
Timestamp             194
Enrolled              194
Progress              194
Questions Asked       194
Questions Answered    194
days                  194
dtype: int64

In [16]:
df.loc[df["days"] <= 30, "Rating"].mean() # Bu veri setindeki son 30 günde ürün puanı ortalamaları

4.775773195876289

In [17]:
df.loc[(df["days"] > 30) & (df["days"] <= 90), "Rating"].mean() # 30'dan büyük ve 90 günden küçük veya eşit ürün puanı ortalamaları

4.763833992094861

In [18]:
df.loc[(df["days"] > 90) & (df["days"] <= 180), "Rating"].mean() # 90 günden büyük ve 180 günden küçük veya eşit ürün puanı ortalamaları

4.752503576537912

In [19]:
df.loc[(df["days"] > 180), "Rating"].mean() # Daha da eskiye gidip 180 günden eski kayıtlara bakmak istersek

4.76641586867305

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Gördüğümüz üzere son günlerde kursun memnuniyetin artış vardır.
* Bu farklı zaman aralıklarında ortalamaları hesapladık lakin amacımız bu zaman aralıkları için bir ağırlık parametresini eklemeliyiz.

In [20]:
# Zamana göre ortalama ağırlıklı puan hesabı;

df.loc[df["days"] <= 30, "Rating"].mean() * 28/100 + \
    df.loc[(df["days"] > 30) & (df["days"] <= 90), "Rating"].mean() * 26/100 + \
    df.loc[(df["days"] > 90) & (df["days"] <= 180), "Rating"].mean() * 24/100 + \
    df.loc[(df["days"] > 180), "Rating"].mean() * 22/100

4.765025682267194

In [21]:
def time_based_weighted_average(dataframe, w1=28, w2=26, w3=24, w4=22):
    
    return dataframe.loc[df["days"] <= 30, "Rating"].mean() * w1 / 100 + \
           dataframe.loc[(dataframe["days"] > 30) & (dataframe["days"] <= 90), "Rating"].mean() * w2 / 100 + \
           dataframe.loc[(dataframe["days"] > 90) & (dataframe["days"] <= 180), "Rating"].mean() * w3 / 100 + \
           dataframe.loc[(dataframe["days"] > 180), "Rating"].mean() * w4 / 100

In [22]:
time_based_weighted_average(df)

4.765025682267194

In [23]:
# Ağırlık değerlerini değiştirebiliriz;

time_based_weighted_average(df, 30, 26, 22, 22)

4.765491074653962

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Bu ağırlık ortalamalarını toplamları **100** olmak zorundadır.
* Virgülden sonraki rakamların önemi büyüktür. E-ticaret sitelelerinde büyük karlılıklara sebep olduğu görülür. Bu yüzden dikkate almalıyız.

<a id = "4"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Kullanıcı Temelli Ağırlıklı Ortalama (User-Based Weighted Average)✨</p>

"User-Based Weighted Average" (Kullanıcı Temelli Ağırlıklı Ortalama), bir kullanıcının veya kişinin tercihlerine veya özelliklerine dayalı olarak hesaplanan ağırlıklı bir ortalama değerini ifade eder. Bu tür bir ortalama, kullanıcıların farklı özelliklere veya faktörlere farklı ağırlıklar verdiği durumlarda kullanılır. Genellikle pazarlama, öneri sistemleri ve kişiselleştirilmiş içerik sağlama gibi alanlarda kullanılır.

User-Based Weighted Average hesaplaması, her kullanıcının veya kişinin belirli bir özellik veya tercihe ne kadar önem verdiğini yansıtan ağırlıkları içerir. Bu ağırlıklar, kullanıcıların verilerini daha iyi anlamak ve onlara daha özgün hizmetler veya içerikler sunmak için kullanılır.

Örnek olarak, bir çevrimiçi alışveriş platformu, kullanıcıların geçmiş alışveriş geçmişi ve tercihlerine dayalı olarak ürünlerin önerilerini sunmak için User-Based Weighted Average kullanabilir. Kullanıcılarının daha önceki satın alma alışkanlıklarına ve tercihlerine daha fazla ağırlık vererek, kişiselleştirilmiş ürün önerileri sunar. Bu, kullanıcı deneyimini iyileştirmeye ve satışları artırmaya yardımcı olabilir.

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

1. Farklı Kullanıcı Gruplarının Farklı Ağırlıkları Olabilir: Kullanıcıların verdiği puanlar aynı ağırlığa sahip olmamalıdır. Çünkü bazı kullanıcılar kursun sadece küçük bir kısmını izleyip bırakmış olabilirler, bu nedenle bu kullanıcıların puanları, kursun daha büyük bir kısmını izleyen ve katkı sağlayan kullanıcıların puanlarından farklı bir ağırlığa sahip olabilir. Bu, kullanıcıların gerçek katkılarını daha iyi yansıtmak ve sahte puanlamaları önlemek için önemlidir.

2. Sosyal İspat Kavramı ve Sahte Puanlamalar: Özellikle tek bir alışveriş yapmış veya veri setine göre kursun sadece küçük bir kısmını izleyip yüksek puan veren kullanıcıların puanları, "Sosyal İspat" kavramını doğru bir şekilde yansıtmayabilir. Bu tür puanlamaların, ürün veya hizmetin kalitesini objektif bir şekilde yansıtmayabileceği ve sahte puanlamaların oluşma ihtimali olduğu göz önünde bulundurulmalıdır. Bu nedenle, farklı kullanıcı gruplarının farklı ağırlıkları olması, daha dengeli ve güvenilir bir puanlama sistemi oluşturmak için önemlidir.

In [24]:
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered,days
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0,4
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0,5
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0,5
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0,5
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0,5

In [25]:
df.groupby("Progress").agg({"Rating": "mean"}).head(10) # kursun bitirilme oranına göre verilen puan ortalamaları

            Rating
Progress
0.0       4.673913
1.0       4.642691
2.0       4.654762
3.0       4.663551
4.0       4.777328
5.0       4.698210
6.0       4.755102
7.0       4.732558
8.0       4.741935
9.0       4.831250

In [26]:
df.groupby("Progress").agg({"Rating": "mean"}).tail(10) # kursun bitirilme oranına göre verilen puan ortalamaları

            Rating
Progress
87.0      5.000000
89.0      4.794118
90.0      4.923077
91.0      5.000000
93.0      4.833333
94.0      5.000000
95.0      4.794118
97.0      5.000000
98.0      5.000000
100.0     4.866319

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>
    
* Kurs ilerledikçe verilen puanlarda artışlar söz konusudur. 
* Kursun ilerleme yüzdesiyle verilen puan arasında bir ilişki olduğunu söyleyebiliriz.
* Bu sayede bazı sahtekarlıkların veya yanıltıcı hesaplamaların önüne geçmek için, kursun izlenmesiyle ağırlıklı puan hesabı yapabiliriz.

In [27]:
df.loc[df["Progress"] <= 10, "Rating"].mean() * 22 / 100 + \
    df.loc[(df["Progress"] > 10) & (df["Progress"] <= 45), "Rating"].mean() * 24 / 100 + \
    df.loc[(df["Progress"] > 45) & (df["Progress"] <= 75), "Rating"].mean() * 26 / 100 + \
    df.loc[(df["Progress"] > 75), "Rating"].mean() * 28 / 100

4.800257704672543

In [28]:
def user_based_weighted_average(dataframe, w1=22, w2=24, w3=26, w4=28):
    
    return dataframe.loc[dataframe["Progress"] <= 10, "Rating"].mean() * w1 / 100 + \
           dataframe.loc[(dataframe["Progress"] > 10) & (dataframe["Progress"] <= 45), "Rating"].mean() * w2 / 100 + \
           dataframe.loc[(dataframe["Progress"] > 45) & (dataframe["Progress"] <= 75), "Rating"].mean() * w3 / 100 + \
           dataframe.loc[(dataframe["Progress"] > 75), "Rating"].mean() * w4 / 100

In [29]:
user_based_weighted_average(df, 20, 24, 26, 30)

4.803286469062915

<a id = "5"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Ağırlıklı Derecelendirme (Weighted Rating)✨</p>

"Weighted Rating," belirli bir öğenin veya ürünün puanlamasının hesaplanmasında, farklı faktörlere veya özelliklere farklı ağırlıklar verilerek hesaplanan bir ortalama değeri ifade eder. Bu, bir ürünün veya öğenin kalitesini veya değerini daha hassas bir şekilde değerlendirmek için kullanılır. Ağırlıklar, belirli faktörlerin veya özelliklerin önem sırasına göre belirlenir.

Örneğin, bir film incelemesi sitesinde, filmin ortalama puanı hesaplanırken eleştirmenlerin puanlarına ve kullanıcıların puanlarına farklı ağırlıklar verilebilir. Eleştirmenlerin puanlarına daha yüksek bir ağırlık verilerek, eleştirmenlerin genellikle filmin sanatsal veya teknik kalitesi üzerinde daha fazla etkisi olduğu varsayılırken, kullanıcıların puanlarına daha düşük bir ağırlık verilerek, genel izleyici kitlesinin filmi nasıl değerlendirdiği göz ardı edilmiş olur.

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Bu aşamada zaman temelli ve kullanıcı temelli ağırlık hesaplamalarını bir araya getirerek tek fonksiyon ile daha tutarlı bir sonuç elde etmeye çalışacağız.

In [30]:
def course_weighted_rating(dataframe, time_w=50, user_w=50):
    
    return time_based_weighted_average(dataframe) * time_w/100 + user_based_weighted_average(dataframe)*user_w/100

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>
    
* **time_w:** zamandan gelecek olan puanın ağırlığı
* **user_w:** kullanıcıdan gelecek olan puanın ağırlığı

In [31]:
course_weighted_rating(df)

4.782641693469868

In [32]:
course_weighted_rating(df, time_w=40, user_w=60)

4.786164895710403

<a id="6"></a>
<h1 style="border-radius: 10px; border: 2px solid #6B8E23; background-color: #F5F5DC; font-family: 'Pacifico', cursive; font-size: 200%; text-align: center; border-radius: 15px 50px; padding: 15px; box-shadow: 5px 5px 5px #556B2F; color: #556B2F;">🤩 Sorting Products 🤩</h1>

"Sorting Products," bir çevrimiçi alışveriş platformu veya e-ticaret web sitesi üzerinde sunulan ürünlerin, kullanıcıların belirli kriterlere göre sıralandığı bir işlemdir. Kullanıcılar, genellikle çevrimiçi alışveriş sırasında ürünleri fiyata, boyuta, rengine, markasına, popülerliğine veya diğer özelliklere göre sıralamak isteyebilirler. 

Örneğin, bir giyim web sitesinde, bir kullanıcı "fiyat düşükten yükseğe" sıralama seçeneğini seçerek, bütçesine uygun ürünleri hızla bulabilir. Bu, kullanıcıların istedikleri ürünü veya kategoriyi daha kolay seçmelerine ve karşılaştırmalarına olanak tanır.

<a id = "7"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Derecelendirmeye Göre Sıralama (Sorting by Rating)✨</p>

In [33]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.expand_frame_repr', False)
# pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [34]:
df = pd.read_csv("/kaggle/input/product-sortingdataset/product_sorting.csv")

In [35]:
df.shape

(32, 10)

In [36]:
df.head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10

<div style="border-radius: 10px; border: #6B8E23 solid; padding: 15px; background-color: #F5F5DC; font-size: 100%; text-align: left">

<h3 align="left"><font color='#556B2F'>👀 Features : </font></h3>
    
* **course_name:** "Veri Bilimi Okulu" eğitmenine ait kursların dışındakiler "Course_1,Course_2..." şeklinde sıralanmış durumdadır.
* **instructor_name:** sadece "Veri Bilimi Okulu" eğitmenin ismi açık, diğerlerinin ismi "Instructor_1,Instructor_2..." şeklinde sıralanmış durumdadır.
* **purchase_count:** satın alma sayıları
* **rating:** kursun ortalama puanı
* **commment_count:** kursun aldığı yorum sayısı
* **5_point,4_point,3_point,2_point,1_point:** yorumların puan cinsinden dağılımı

In [37]:
df.sort_values("rating", ascending=False).head(15)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24
8,A'dan Z'ye Apache Spark (Scala & Python),Veri Bilimi Okulu,6920,4.7,214,154,41,13,2,4
13,Course_5,Instructor_6,6056,4.7,144,82,46,12,1,3
27,Course_15,Instructor_1,1164,4.6,98,65,24,6,0,3
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
16,Course_6,Instructor_7,140,4.6,20,10,10,0,0,0
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21
21,Course_10,Instructor_10,723,4.5,130,68,47,9,3,3
7,Veri Bilimi için İstatistik: Python ile İstati...,Veri Bilimi Okulu,929,4.5,126,88,26,9,0,3

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* **"Course_1"** baktığımızda satın alma sayısına göre yorum sayısı oldukça düşüktür.
* **"purchase_count"** ve **"commment_count"** sosyal ispatı en çok etkileyen faktörlerdir.

<a id = "8"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Yorum ve Satın Alma Sayısına Göre Sıralama (Sorting by Comment Count or Purchase Count)✨</p>

In [38]:
df.sort_values("purchase_count", ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
11,Course_3,Instructor_4,24809,4.3,250,95,87,51,12,5
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0
8,A'dan Z'ye Apache Spark (Scala & Python),Veri Bilimi Okulu,6920,4.7,214,154,41,13,2,4

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>
    
* **"Course_3"** direkt dikkat çekmektedir. Muhtemelen ücretsiz şekilde açılma ihtimali olabilir.Çünkü en yüksek ikinci satın alınmaya sahip olsada yorum sayısı oldukça düşüktür.
* Bu metrikte tek başına başarılı değil gibi görünüyor.
* Ayrıca aşağıda yaptığımız üzere yorum sayılarıda kendi başına bir anlam ifade etmede yetersiz kalmaktadır.

In [39]:
df.sort_values("commment_count", ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10
9,Modern R Programlama Eğitimi,Veri Bilimi Okulu,6537,4.4,901,559,252,72,9,9

<a id = "9"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Derecelendirme, Satın Alma, Yoruma Göre Sıralama (Sorting by Rating, Comment and Purchase)✨</p>

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Hedefimiz bu üç faktörü (derecelendirme,satın alma ve yorumlar) birlikte inceleyebilmektir.
* Eğer 3 faktörü birbiyle çarpalım gibi bir fikri değerlendirecek olursak; **"purchase_count"** ve **"comment_count"** sayıları **"rating"** sayılarına göre çok büyük olduğundan, böyle bir durumda **"rating"** değerlerinin hiçbir etkisi kalmaz. Bunun sebebi ölçeklerinin birbirinden farklı olmasıdır.
* Buradan çıkacak sonuç ile; 3 değişkeni de **"rating"** cinsinden aynı ölçeğe alabiliriz.

In [40]:
df["purchase_count_scaled"] = MinMaxScaler(feature_range=(1, 5)). \
    fit(df[["purchase_count"]]). \
    transform(df[["purchase_count"]])

In [41]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
purchase_count,32.0,7110.718750,9760.893396,30.0,877.500000,3687.500000,9994.000000,48291.0
rating,32.0,4.356250,0.447889,3.1,4.275000,4.500000,4.625000,4.8
commment_count,32.0,882.062500,1321.498903,7.0,87.750000,194.500000,983.500000,4621.0
5_point,32.0,598.093750,920.140114,1.0,49.250000,112.500000,695.250000,3466.0
4_point,32.0,211.531250,312.262915,2.0,19.750000,45.500000,253.250000,1122.0
3_point,32.0,54.125000,76.576232,0.0,6.750000,14.500000,56.250000,314.0
2_point,32.0,9.531250,12.991273,0.0,0.750000,3.000000,10.500000,46.0
1_point,32.0,8.968750,14.570151,0.0,2.000000,3.000000,9.000000,67.0
purchase_count_scaled,32.0,1.586869,0.809009,1.0,1.070243,1.303143,1.825843,5.0

In [42]:
df["comment_count_scaled"] = MinMaxScaler(feature_range=(1, 5)). \
    fit(df[["commment_count"]]). \
    transform(df[["commment_count"]])

In [43]:
df.head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984

In [44]:
(df["comment_count_scaled"] * 32 / 100 +
 df["purchase_count_scaled"] * 26 / 100 +
 df["rating"] * 42 / 100)

0     4.249884
1     4.795104
2     3.483494
3     2.937105
4     3.022039
5     2.751651
6     2.857214
7     2.522386
8     2.759901
9     2.816233
10    3.427921
11    2.987387
12    2.528686
13    2.721863
14    3.501984
15    3.365772
16    2.517977
17    2.282315
18    2.458066
19    2.726593
20    3.681563
21    2.519056
22    2.538280
23    2.354586
24    2.264794
25    2.021050
26    2.436116
27    2.561682
28    2.544666
29    1.925836
30    1.924000
31    2.273764
dtype: float64

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Bu gördüğümüzde değerler skorelardır. Belirlediğimiz koşulların bir araya gelip ağırlıkları verilmiş skorlardır.
* Bu skoru oluştururken bizim için en önemlisi **"rating"**, daha sonra **"comment_count_scaled"** ve son olarakta **"purchase_count_scaled"** tir.
* Bunun sebebi kursun "purchase_count_scaled" değerleri içinde ücretsiz satılan verilerinde olma ihtimalidir. Fakat genel bir çıkarım yapmak adına da tamamen görmezden gelmek yerine skore hesabı içerisinde kullanmalıyız.

In [45]:
def weighted_sorting_score(dataframe, w1=32, w2=26, w3=42):
    
    return (dataframe["comment_count_scaled"] * w1 / 100 +
            dataframe["purchase_count_scaled"] * w2 / 100 +
            dataframe["rating"] * w3 / 100)

In [46]:
df["weighted_sorting_score"] = weighted_sorting_score(df)

In [47]:
df.sort_values("weighted_sorting_score", ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.681563
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.427921
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.365772
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039
11,Course_3,Instructor_4,24809,4.3,250,95,87,51,12,5,3.053749,1.210663,2.987387
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* 3 etkiyi göz önünde bulundurduğumuzda, ağırlıklarına göre sıralamada değişiklik oldu.
* Artık bu veriye eski haline göre daha fazla güvenebiliriz.

In [48]:
df[df["course_name"].str.contains("Veri Bilimi")].sort_values("weighted_sorting_score", ascending=False)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105
7,Veri Bilimi için İstatistik: Python ile İstati...,Veri Bilimi Okulu,929,4.5,126,88,26,9,0,3,1.074512,1.103164,2.522386

<a id = "10"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Bayes Ortalama Derecelendirme Puanı (Bayesian Average Rating Score)✨</p>

Bayesian Average Rating Score, özellikle kullanıcı yorumları ve derecelendirmelerini analiz etmek için kullanılan bir yöntemdir. Bu yöntem, kullanıcı geri bildirimlerini ve derecelendirmelerini daha doğru bir şekilde değerlendirmek ve analiz etmek amacıyla Bayesian istatistiklerini kullanır.

Geleneksel ortalama derecelendirme hesaplamaları, kullanıcıların verdiği puanların basit bir ortalamasını alır. Ancak bu yaklaşım, nadiren puan veren veya aşırı puan veren kullanıcıların verileri üzerinde olumsuz etkilere neden olabilir. Bayesian Average Rating Score ise bu tür etkileri en aza indirgemeye yardımcı olur.

Bayesian yaklaşım, kullanıcıların verdiği puanları, bir prior (öncül) dağılım ile birleştirir. Prior dağılım, verinin önceden tahmin edilen veya bilinen bir dağılıma sahip olduğunu ifade eder. Bu prior dağılım, kullanıcıların veri setine katkılarını hesaplarken göz önünde bulundurulur. Bu sayede, nadiren puan veren veya aşırı puan veren kullanıcıların etkileri daha dengelenir, ve sonuçlar daha güvenilir hale gelir.

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>📄 Notes: </font></h3>

* Another names about this topic;
    * Sorting Products with 5 Star Rated
    * Sorting Products According to Distribution of 5 Star Rating

In [49]:
def bayesian_average_rating(n, confidence=0.95):
    
    if sum(n) == 0:
        
        return 0
    
    K = len(n)
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    
    for k, n_k in enumerate(n):
        
        first_part += (k + 1) * (n[k] + 1) / (N + K)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + K)
        
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N + K + 1))
    
    return score

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>
    
Bayesion Average Rating, puan dağılımlarının üzerinden ağırlıklı bir şekilde olasılıksal ortalama hesabı yapar.
    
Bu yöntem veri setindeki 1'den 5'e kadar olan puanların dağılım bilgisini kullanarak bize ortalama puan hesabı yapacak.
    
* n: girilecek olan ratinglerin ve bu ratinglere ait gözlenme frekansını ifade etmektedir.
* confidence: hesaplanacak olan Z-tablo değerine ilişkin, bir değer elde edebilme adına girilmiş bir değerdir.

In [50]:
df.head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039

In [51]:
df["bar_score"] = df.apply(lambda x: bayesian_average_rating(x[["1_point",
                                                                "2_point",
                                                                "3_point",
                                                                "4_point",
                                                                "5_point"]]), axis=1)

# bar_sorting_score,bar_rating,bar_average_rating şeklinde de isimlendirilebilir.

In [52]:
df.sort_values("weighted_sorting_score", ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score,bar_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104,4.516038
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884,4.665857
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.681563,4.480627
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984,4.568162
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494,4.515210
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.427921,4.641679
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.365772,4.454811
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039,4.595674
11,Course_3,Instructor_4,24809,4.3,250,95,87,51,12,5,3.053749,1.210663,2.987387,3.877743
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105,4.482079

In [53]:
df.sort_values("bar_score", ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score,bar_score
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0,1.259008,1.197659,2.726593,4.729128
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884,4.665857
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.427921,4.641679
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,1.378857,1.178587,2.751651,4.634477
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039,4.595674
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984,4.568162
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104,4.516038
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494,4.515210
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9,1.260334,1.736021,2.857214,4.507970
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105,4.482079

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

**"bar_score"**, yalnızca puanlamalara dayalı bir sıralama sağlar. Bu nedenle, puanların dağılımına dayalı olarak oluşturulan bu skor, puan hesaplaması içinde bilimsel olarak hesaplanmış bir skor olarak kabul edilebilir.

Yukarıdaki sıralamaya baktığımızda, yine düşük yorum ve satın alma sayılarına sahip kurslar üst sırada kalır. Bunun temel nedeni, "bar_score"un yalnızca puanlara dayalı olarak oluşturulmuş olmasıdır.

Aşağıda 1. ve 5. indekslere baktığımızda, bunun nedeninin **"1_point"** ve **"2_point"** değerlerinin sıfır olmasından kaynaklandığını anlayabiliriz. Bu yüzden düşük yüzdelerine rağmen yüksek bir skora sahiptirler.

In [54]:
df[df["course_name"].index.isin([5, 1])].sort_values("bar_score", ascending=False)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score,bar_score
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,1.378857,1.178587,2.751651,4.634477
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104,4.516038

<a id = "11"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Hibrit Sıralama (Hybrid Sorting)✨</p>

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Buraya kadar yapılan adımlar:
    - İlk olarak, Ortalama, Zaman Tabanlı Ağırlıklı Ortalama ve Kullanıcı Tabanlı Ağırlıklı Ortalama için ortalama hesapladık.
    - Bunları hesapladıktan sonra bu üç değerin ağırlıklı ortalamalarına baktık.
    - Gördüğümüz üzere, Skor hesaplamak için Bayesian Ortalama Puan Skoru'nu da kullanabiliriz. Sadece Bayesian hesaplamalara dayalı olarak puanlar hesapladığımızda, mevcut puanları bir miktar düşürebilir ve kullanımı tartışmalı hale getirebilir.
    - Başka bir yöntem, Bayesian değerini hesaplanmış puanlara bir ağırlık olarak eklemektir.
    - Ayrıca fark ettik ki yalnızca Derecelendirme, Yorum veya Satın Alma (WSS) faktörleri kullanarak Ürünleri sıralayamıyorduk. Bu üç faktörü kullanan bir skorlama sistemini oluşturduk ve bu, birçok sorunumuza çözüm olabilir.
    - Bir adım daha ileri giderek, Derecelendirmelerin dağılımına dayalı yeni bir skorlama sistemini hesapladık.
    - Şimdi, Bar Skoru'nu Derecelendirme, Yorum veya Satın Alma faktörleriyle birleştireceğiz.
    - Bar Skoru bilimsel olarak güvenilir olsa da, gözden kaçmış faktörleri hesaba katmak için hibrit bir hesaplama yapılabilir.

In [55]:
def hybrid_sorting_score(dataframe, bar_w=60, wss_w=40):
    
    bar_score = dataframe.apply(lambda x: bayesian_average_rating(x[["1_point",
                                                                     "2_point",
                                                                     "3_point",
                                                                     "4_point",
                                                                     "5_point"]]), axis=1)
    wss_score = weighted_sorting_score(dataframe)

    return bar_score*bar_w/100 + wss_score*wss_w/100

In [56]:
df["hybrid_sorting_score"] = hybrid_sorting_score(df)

In [57]:
df.sort_values("hybrid_sorting_score", ascending=False).head(10)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score,bar_score,hybrid_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104,4.516038,4.627664
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884,4.665857,4.499468
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.681563,4.480627,4.161001
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.427921,4.641679,4.156176
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984,4.568162,4.141691
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494,4.515210,4.102524
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.365772,4.454811,4.019195
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039,4.595674,3.966220
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0,1.259008,1.197659,2.726593,4.729128,3.928114
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,1.378857,1.178587,2.751651,4.634477,3.881346

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* **Course_9**'un konumunun önemi daha belirgin hale geliyor. Yeni hesaplamamızla daha gerçekçi bir sıralama elde ettik. Ayrıca, Course_1'in 10. sıraya ulaşmasının önemi, bu kursun yeni bir kurs olduğu bilgisine sahip olmamızdır. Bu nedenle, gelecekte vaat eden bir kurs olarak kabul ediyoruz ve ona gereken önemi veriyoruz. Bunu sağlayan etken, bar_score'a %60 ağırlık verilmesidir. Bu sayede potansiyel vaat eden kursları da öne çıkarıyoruz.

In [58]:
df[df["course_name"].str.contains("Veri Bilimi")].sort_values("hybrid_sorting_score", ascending=False).head()

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score,bar_score,hybrid_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104,4.516038,4.627664
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884,4.665857,4.499468
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105,4.482079,3.864090
7,Veri Bilimi için İstatistik: Python ile İstati...,Veri Bilimi Okulu,929,4.5,126,88,26,9,0,3,1.074512,1.103164,2.522386,4.342189,3.614267

<a id = "12"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨IMDB Movie Scoring and Sorting✨</p>

<a id = "13"></a><br>
<div style="font-family:JetBrains Mono; font-weight:bold; letter-spacing: 2px; color:#E5788F; font-size:150%; text-align:left; padding: 0px;">Importing Libraries & First Look</div>

In [59]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

# pd.set_option('display.max_columns', None)
# pd.set_option('display.expand_frame_repr', False)
# pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [60]:
df = pd.read_csv("/kaggle/input/imdb-movies/movies_metadata.csv",
                 usecols=["title", "vote_average", "vote_count"])

In [61]:
df.head()

                         title  vote_average  vote_count
0                    Toy Story           7.7      5415.0
1                      Jumanji           6.9      2413.0
2             Grumpier Old Men           6.5        92.0
3            Waiting to Exhale           6.1        34.0
4  Father of the Bride Part II           5.7       173.0

In [62]:
df.shape # 45466 tane film vardır.

(45466, 3)

<a id = "14"></a><br>
<div style="font-family:JetBrains Mono; font-weight:bold; letter-spacing: 2px; color:#E5788F; font-size:150%; text-align:left; padding: 0px;">Vote Average'a Göre Sıralama</div>

In [63]:
df.sort_values("vote_average", ascending=False).head(10)

,title,vote_average,vote_count
21642,Ice Age Columbus: Who Were the First Americans?,10.0,1.0
15710,If God Is Willing and da Creek Don't Rise,10.0,1.0
22396,Meat the Truth,10.0,1.0
22395,Marvin Hamlisch: What He Did For Love,10.0,1.0
35343,Elaine Stritch: At Liberty,10.0,1.0
186,Reckless,10.0,1.0
45047,The Human Surge,10.0,1.0
22377,The Guide,10.0,1.0
22346,هیچ کجا هیچ کس,10.0,1.0
1634,Other Voices Other Rooms,10.0,1.0

In [64]:
df["vote_count"].describe([0.10, 0.25, 0.50, 0.70, 0.80, 0.90, 0.95, 0.99]).T

count    45460.000000
mean       109.897338
std        491.310374
min          0.000000
10%          1.000000
25%          3.000000
50%         10.000000
70%         25.000000
80%         50.000000
90%        160.000000
95%        434.000000
99%       2183.820000
max      14075.000000
Name: vote_count, dtype: float64

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Az oy alan filmleri istemiyoruz. Bir filtre ayarlamak için tanımlamadaki dağılımlara bakıyoruz.
* Bu oyların medyan değeri 10'dur. Ortalamaları 109 civarındadır ve 95. yüzdeliğe baktığımızda 400 civarında oy alan filmler bulunmaktadır. Bu değeri bir filtre olarak kullanmayı deneyelim.

In [65]:
df[df["vote_count"] > 400].sort_values("vote_average", ascending=False).head(10)

                                 title  vote_average  vote_count
10309      Dilwale Dulhania Le Jayenge           9.1       661.0
40251                       Your Name.           8.5      1030.0
834                      The Godfather           8.5      6024.0
314           The Shawshank Redemption           8.5      8358.0
1152   One Flew Over the Cuckoo's Nest           8.3      3001.0
1176                            Psycho           8.3      2405.0
1178            The Godfather: Part II           8.3      3418.0
292                       Pulp Fiction           8.3      8670.0
1184       Once Upon a Time in America           8.3      1104.0
5481                     Spirited Away           8.3      3968.0

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Burada "**vote_average**" ve "**vote_count**" kendi başlarına bir şey ifade etmiyor gibi duruyor. Bu yüzden "**vote_count**" değerlerini 1-10 arasında scale ederek, yorumlanabilir bir skalaya alalım.

In [66]:
df["vote_count_score"] = MinMaxScaler(feature_range=(1, 10)). \
    fit(df[["vote_count"]]). \
    transform(df[["vote_count"]])

In [67]:
df.head()

                         title  vote_average  vote_count  vote_count_score
0                    Toy Story           7.7      5415.0          4.462522
1                      Jumanji           6.9      2413.0          2.542948
2             Grumpier Old Men           6.5        92.0          1.058828
3            Waiting to Exhale           6.1        34.0          1.021741
4  Father of the Bride Part II           5.7       173.0          1.110622

In [68]:
df["average_count_score"] = df["vote_average"] * df["vote_count_score"]

In [69]:
df.sort_values("average_count_score", ascending=False).head(10)

,title,vote_average,vote_count,vote_count_score,average_count_score
15480,Inception,8.1,14075.0,10.000000,81.000000
12481,The Dark Knight,8.3,12269.0,8.845187,73.415048
22879,Interstellar,8.1,11187.0,8.153321,66.041904
17818,The Avengers,7.4,12000.0,8.673179,64.181528
14551,Avatar,7.2,12114.0,8.746075,62.971737
26564,Deadpool,7.4,11444.0,8.317655,61.550650
2843,Fight Club,8.3,9678.0,7.188419,59.663879
20051,Django Unchained,7.8,10297.0,7.584227,59.156973
23753,Guardians of the Galaxy,7.9,10014.0,7.403268,58.485819
292,Pulp Fiction,8.3,8670.0,6.543872,54.314139

<a id = "15"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨IMDB Ağırlıklı Derecelendirme (IMDB Weighted Rating)✨</p>

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>📄 Notes: </font></h3>

weighted_rating = (v/(v+M) * r) + (M/(v+M) * C)

* r = vote average, ilgili filmin puanı
* v = vote count
* M = minimum votes required to be listed in the Top 250
* C = the mean vote across the whole report (currently 7.0)

IMDB ağırlıklı rating hesabı yaparken 2 durum ön plana çıkar;

* Tüm filmlerin genel ortalaması olan "C" değeri
* Sıralamaya girebilmek için gerekli olan minimum "M" değeri
    
Formüle genel bakacak olursak;

* v : filmin oy sayısı
* (v+M) : gereken oy sayısı
* "v" ile "v+M" arasındaki ilişkiye göre puana bir düzeltme yapılacak.

<div style="border-radius:10px; border:#632626 solid; padding: 15px; background-color: #FDF6EC; font-size:100%; text-align:left">

<h3 align="left"><font color='#11324D'>💡 An Example: </font></h3>

* İlk Bölüm: (v/(v+M) * r)
* İkinci Bölüm: (M/(v+M) * C)

İki filmi ele alalım:

* Film-1: 1,000 oy alan bir film olsun.

    * r = 8
    * M = 500
    * v = 1,000
    * C = 7

(1,000 / (1,000 + 500)) * 8 = 5.33

(500 / (1,000+500)) * 7 = 2.33

Toplam Puan = 5.33 + 2.33 = 7.66

* Film-2: Film-1'den daha fazla oy almış bir film olsun.

    * r = 8
    * M = 500
    * v = 3,000
    * C = 7

(3,000 / (3,000 + 500)) * 8 = 6.85

(500 / (3,000 + 500)) * 7 = 1

Toplam Puan = 6.85 + 1 = 7.85

Oy sayısı arttıkça puan düzeltilmesinin nasıl değiştiğini görebiliriz. Gereken oy sayısından daha fazla puan alındığında, bu durum yakalanmıştır. Bu şekilde, izleyici kitlesinin genel ortalamasından da bir puan elde edildiğini görüyoruz.

Buradan çıkarılabilecek sonuçlardan biri, bir işletmenin kendi skorlama yöntemini oluşturabileceği ve kullanabileceğidir.

Şimdi kodlama kısmına devam edelim.

In [70]:
# M ve C değerlerimizi atayalım;

M = 2500
C = df['vote_average'].mean()

In [71]:
def weighted_rating(r, v, M, C):
    
    return (v / (v + M) * r) + (M / (v + M) * C)

In [72]:
df.sort_values("average_count_score", ascending=False).head(15)

,title,vote_average,vote_count,vote_count_score,average_count_score
15480,Inception,8.1,14075.0,10.000000,81.000000
12481,The Dark Knight,8.3,12269.0,8.845187,73.415048
22879,Interstellar,8.1,11187.0,8.153321,66.041904
17818,The Avengers,7.4,12000.0,8.673179,64.181528
14551,Avatar,7.2,12114.0,8.746075,62.971737
26564,Deadpool,7.4,11444.0,8.317655,61.550650
2843,Fight Club,8.3,9678.0,7.188419,59.663879
20051,Django Unchained,7.8,10297.0,7.584227,59.156973
23753,Guardians of the Galaxy,7.9,10014.0,7.403268,58.485819
292,Pulp Fiction,8.3,8670.0,6.543872,54.314139
314,The Shawshank Redemption,8.5,8358.0,6.344369,53.927140
2458,The Matrix,7.9,9079.0,6.805400,53.762657
4863,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,6.685826,53.486607
18252,The Dark Knight Rises,7.6,9263.0,6.923055,52.615218
26553,Mad Max: Fury Road,7.3,9629.0,7.157087,52.246735

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Bu sıralamada bazı şüpheler var. Örneğin; Deadpool filminin sırası gibi.. şimdide bunları inceleyelim.

In [73]:
weighted_rating(7.40000, 11444.00000, M, C) # Deadpool

7.080544896574546

In [74]:
weighted_rating(8.10000, 14075.00000, M, C) # Inception

7.725672279809078

In [75]:
weighted_rating(8.50000, 8358.00000, M, C) # The Shawshank Redemption

7.83648167598411

In [76]:
df["weighted_rating"] = weighted_rating(df["vote_average"],
                                        df["vote_count"], M, C)

In [77]:
df.sort_values("weighted_rating", ascending=False).head(10)

,title,vote_average,vote_count,vote_count_score,average_count_score,weighted_rating
12481,The Dark Knight,8.3,12269.0,8.845187,73.415048,7.846044
314,The Shawshank Redemption,8.5,8358.0,6.344369,53.927140,7.836482
2843,Fight Club,8.3,9678.0,7.188419,59.663879,7.749460
15480,Inception,8.1,14075.0,10.000000,81.000000,7.725672
292,Pulp Fiction,8.3,8670.0,6.543872,54.314139,7.699778
834,The Godfather,8.5,6024.0,4.851936,41.241456,7.654800
22879,Interstellar,8.1,11187.0,8.153321,66.041904,7.646688
351,Forrest Gump,8.2,8147.0,6.209449,50.917485,7.593775
7000,The Lord of the Rings: The Return of the King,8.1,8226.0,6.259964,50.705712,7.521547
4863,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,6.685826,53.486607,7.477310

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Böylelikle daha güven verici bir sıralama elde ettik.

<a id = "16"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Bayes Ortalama Derecelendirme Puanı (BAR Score)✨</p>

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Buraya kadar IMDB'nin 2015 yılına kadarki kullanmış olduğu puanlama sistemiyle elde ettiğimiz ilk 5 film şu şekildeydi;

     * 12481 - The Dark Knight
     * 314 - The Shawshank Redemption
     * 2843 - Fight Club
     * 15480 - Inception
     * 292 - Pulp Fiction

In [78]:
def bayesian_average_rating(n, confidence=0.95):
    
    if sum(n) == 0:
        
        return 0
    
    K = len(n)
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    
    for k, n_k in enumerate(n):
        
        first_part += (k + 1) * (n[k] + 1) / (N + K)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + K)
        
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N + K + 1))
    
    return score

In [79]:
bayesian_average_rating([34733, 4355, 4704, 6561, 13515, 26183, 87368, 273082, 600260, 1295351])

9.14538444560111

In [80]:
bayesian_average_rating([34733, 4355, 4704, 6561, 13515, 26183, 87368, 273082, 600260, 1295351])

# The Shawshank Redemption için 1'den 10 yıldıza kadarki değerlendirme sayılarını girdik.

9.14538444560111

In [81]:
bayesian_average_rating([37128, 5879, 6268, 8419, 16603, 30016, 78538, 199430, 402518, 837905])

# The God Father için 1'den 10 yıldıza kadarki değerlendirme sayılarını girdik.

8.940007324860396

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Son Bayesian ağırlıklı hesaplamamızla, güncel IMDb puanlarına yaklaşıyor gibi görünüyoruz. Güncel IMDb puanları ile hesaplamamız arasındaki küçük farkın nedeni, kullanıcı kalitesi faktörünü dikkate almadan yapılan hesaplamadır.
* Kullanıcı Kalitesi, kullanıcının yorum sayısı ve platformdaki etkisi gibi faktörlere dayalı olarak belirlenen bir metriktir.
* "movies_metadata.csv" veri kümesinde oyların toplam sayısı bulunsa da oyların dağılımı mevcut değil. Bu dağılımları içeren "imdb_ratings.csv" veri kümesiyle devam edelim ve filmleri sıralamak için genel bir hesaplama yapalım.

In [82]:
df = pd.read_csv("/kaggle/input/imdb-rating/imdb_ratings.csv")

In [83]:
df = df.iloc[0:, 1:]

In [84]:
df.head()

,id,movieName,rating,ten,nine,eight,seven,six,five,four,three,two,one
0,111161,1. The Shawshank Redemption (1994),9.2,1295382,600284,273091,87368,26184,13515,6561,4704,4355,34733
1,68646,2. The Godfather (1972),9.1,837932,402527,199440,78541,30016,16603,8419,6268,5879,37128
2,71562,3. The Godfather: Part II (1974),9.0,486356,324905,175507,70847,26349,12657,6210,4347,3892,20469
3,468569,4. The Dark Knight (2008),9.0,1034863,649123,354610,137748,49483,23237,11429,8082,7173,30345
4,50083,5. 12 Angry Men (1957),8.9,246765,225437,133998,48341,15773,6278,2866,1723,1478,8318

In [85]:
df["bar_score"] = df.apply(lambda x: bayesian_average_rating(x[["one", "two", "three", "four", "five",
                                                                "six", "seven", "eight", "nine", "ten"]]), axis=1)

In [86]:
df.sort_values("bar_score", ascending=False).head(15)

,id,movieName,rating,ten,nine,eight,seven,six,five,four,three,two,one,bar_score
0,111161,1. The Shawshank Redemption (1994),9.2,1295382,600284,273091,87368,26184,13515,6561,4704,4355,34733,9.145389
1,68646,2. The Godfather (1972),9.1,837932,402527,199440,78541,30016,16603,8419,6268,5879,37128,8.940016
3,468569,4. The Dark Knight (2008),9.0,1034863,649123,354610,137748,49483,23237,11429,8082,7173,30345,8.895962
2,71562,3. The Godfather: Part II (1974),9.0,486356,324905,175507,70847,26349,12657,6210,4347,3892,20469,8.812499
4,50083,5. 12 Angry Men (1957),8.9,246765,225437,133998,48341,15773,6278,2866,1723,1478,8318,8.767934
6,167260,7. The Lord of the Rings: The Return of ...,8.9,703093,433087,270113,117411,44760,21818,10873,7987,6554,28990,8.752038
5,108052,6. Schindler's List (1993),8.9,453906,383584,220586,82367,27219,12922,6234,4572,4289,19328,8.743609
11,109830,12. Forrest Gump (1994),8.8,622104,553654,373644,151284,51140,22720,11692,7647,5941,12110,8.699152
12,1375666,13. Inception (2010),8.7,724798,627987,408686,174229,60668,26910,13436,8703,6932,17621,8.693148
10,137523,11. Fight Club (1999),8.8,637087,572654,371752,152295,53059,24755,12648,8606,6948,17435,8.674475
7,110912,8. Pulp Fiction (1994),8.8,674884,541946,332876,140886,52091,26828,14203,10425,8912,25610,8.667174
9,120737,10. The Lord of the Rings: The Fellowshi...,8.8,631020,460809,316221,132929,46699,22658,11002,8295,6911,27013,8.666174
8,60196,"9. Il buono, il brutto, il cattivo (1966)",8.8,246549,199725,138309,58595,18777,8607,3903,2451,2032,10319,8.661433
28,816692,29. Interstellar (2014),8.5,541682,412079,292240,149125,57253,24501,12271,7595,5618,12841,8.622887
13,167261,14. The Lord of the Rings: The Two Tower...,8.7,517453,420229,310443,130399,44743,20787,9690,6815,5851,20950,8.614751

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Bu şekilde, şu anki sıralamayla uyumlu hale getirdik. Çeşitli faktörleri dahil ederek ve ağırlıklı bilimsel hesaplamalar yaparak, en doğru sonuçlara yaklaşıyoruz.
    
* Bu başlığa kadar ürünleri sıralama ile ilgilendik. Ürün sıralama konusuna dair şu farkındalıklara ulaştık;

    * İş bilgisi açısından önemli olabilecek faktörler göz önünde bulundurulmalıdır.
    * Eğer birden fazla faktör varsa, bu faktörlerin etkileri aynı anda göz önünde bulundurulmak üzere önce standartlaştırılmalı, daha sonra etkilerin farkı varsa bu ağırlık ile ifade edilmelidir.
    * Literatüre göre bazı istatistiksel yöntemler tek başına güvenilir gözüküyor olsa da, bu yöntemleri tek başına kullanmak yerine yine iş bilgisiyle birleştirecek şekilde kullanmak gerekiyor.

<a id="17"></a>
<h1 style="border-radius: 10px; border: 2px solid #6B8E23; background-color: #F5F5DC; font-family: 'Pacifico', cursive; font-size: 200%; text-align: center; border-radius: 15px 50px; padding: 15px; box-shadow: 5px 5px 5px #556B2F; color: #556B2F;">🙏 Sorting Reviews 🙏</h1>

"Sorting Reviews" terimi, genellikle müşteri yorumlarının veya incelemelerin belirli bir düzen veya kategorilere göre sıralanması anlamına gelir. Bu, bir ürün, hizmet veya başka bir konuyla ilgili olan çok sayıda kullanıcı yorumunu daha anlamlı ve erişilebilir hale getirmek için kullanılır. İncelemeler genellikle belirli ölçütler, puanlar veya konular etrafında toplanabilir ve kullanıcılara bu bilgileri daha iyi anlamalarına yardımcı olacak bir düzen içinde sunulabilir.

Örneğin, bir e-ticaret sitesinde bir ürünün kullanıcı yorumlarını gözden geçirirken, kullanıcılar genellikle "en yararlı", "en son", "en çok oy alan" veya "en düşük puan alan" gibi seçeneklere göre sıralama yapabilirler.

Ayrıca bu başlıkta yorumların puanlarının yüksek veya düşük olmasıyla ilgilenmiyoruz. Pazar yeri olarak kullanıcılara en doğru sosyal ispatı ulaştırmaya çalışıyoruz. Bu yüzden kötü yorum bile olsa topluluğun ortak fikir birliği sağladığı, faydalı bulduğu yorumlar öne çıkarılır.

Yine burada "User Quality Score" gibi faktörlerinde önemi vardır. Aynı oranda faydalılığa sahip yorumlarında kendi içindeki sıralaması için önemli bir faktördür.

<a id = "18"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Üst-Alt Farkı Skoru (Up-Down Difference Score)✨</p>

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>📄 Notes: </font></h3>

* Review 1: 600 up 400 down total 1000
* Review 2: 5500 up 4500 down total 10000

In [87]:
def score_up_down_diff(up, down):
    
    return up - down

In [88]:
# Review 1 Score:

score_up_down_diff(600, 400)

200

In [89]:
# Review 2 Score:

score_up_down_diff(5500, 4500)

1000

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* Bu sonuçlara göre, Review 2 daha yukarıda sıralanmış gibi görünüyor. Ancak, farklılıklara rağmen, Review 1'in yukarı yüzdesi %60 iken, Review 2'nin yukarı yüzdesi yüzde 55'tir yüzdelik dilimlerde. Bu nedenle, Review 1'in daha yukarıda olup olmaması konusunda bazı şüphecilikle yaklaşmamız gerekiyor. Bu yöntem güvenilir bir sonuç sağlama konusunda eksik kalmaktadır.

<a id = "19"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Average Rating (Up Ratio)✨</p>

In [90]:
def score_average_rating(up, down):
    
    if up + down == 0:
        
        return 0
    
    return up / (up + down)

In [91]:
score_average_rating(600, 400)

0.6

In [92]:
score_average_rating(5500, 4500)

0.55

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>📄 Notes: </font></h3>

Diğer senaryo;

* Review 1: 2 up 0 down total 2
* Review 2: 100 up 1 down total 101

In [93]:
score_average_rating(2, 0)

1.0

In [94]:
score_average_rating(100, 1)

0.9900990099009901

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>

* 2. durumda ise Review 1 kazanmış gibi duruyor. Fakat sadece 2 up almış bir yorumun, 100 up almış bir duruma göre üstte olmasının da mantıksız olduğunu görebiliyoruz. Bu yöntemde yetersiz kalmıştır. Çünkü oran bilgisini alırken, frekans bilgisini kaçırdı.

<a id = "20"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Wilson Alt Sınır Puanı (Wilson Lower Bound Score)✨</p>

In [95]:
def wilson_lower_bound(up, down, confidence=0.95): # The confidence level is typically set to 0.95.
    
    """
    Calculate the Wilson Lower Bound Score

    - The lower limit of the confidence interval to be calculated for the Bernoulli parameter p is considered as the WLB score.
    - The calculated score is used for product ranking.
    - Note:
    If the scores are in the range of 1-5, they are marked as 1-3 negative and 4-5 positive, making them suitable for Bernoulli distribution.
    However, this introduces some problems. Therefore, Bayesian average rating should be used.

    Parameters
    ----------
    up: int
        up count
    down: int
        down count
    confidence: float
        confidence

    Returns
    -------
    wilson score: float

    """
    n = up + down
    
    if n == 0:
        
        return 0
    
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    phat = 1.0 * up / n
    
    return (phat + z * z / (2 * n) - z * math.sqrt((phat * (1 - phat) + z * z / (4 * n)) / n)) / (1 + z * z / n)

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>📄 Notes: </font></h3>

`wilson_lower_bound` işlevi, kullanıcı yorumlarına dayalı ürünleri sıralamak için kullanılan Wilson Alt Sınır Skorunu hesaplar. Bu skor, Bernoulli parametresi "p" için hesaplanan güven aralığının alt sınırını temsil eder. "p," ikili bir sonucun (örneğin, bir ürünün olumlu veya olumsuz incelemeleri) başarı olasılığını temsil eder.

İşlevin ayrıntıları şunlardır:

- Üç parametre alır:

  - `up`: "olumlu" sonuç sayısı (örneğin, olumlu oy veya olumlu incelemeler).
  - `down`: "olumsuz" sonuç sayısı (örneğin, olumsuz oy veya olumsuz incelemeler).
  - `confidence`: Alt sınır puanı için istenen güven düzeyi (varsayılan olarak %95 için 0,95).

- İşlev önce deneme (inceleme) sayısını `n = up + down` olarak hesaplar.

- Eğer inceleme yoksa (yani `n == 0`), işlev, bir puan hesaplamak için veri olmadığını belirten bir puan olan 0 döndürür.

- İşlev ardından, istenen güven düzeyine dayalı olarak kritik bir değer olan `z`'yi, standart normal dağılımın ters kümülatif dağılım fonksiyonunu (PPF) kullanarak hesaplar.

- İnceleme sayısının toplamı `n`, başarı olasılığının tahmini `phat`'ı olumlu oy sayısının toplam inceleme sayısına oran olarak hesaplar.

- Son olarak, Wilson Alt Sınır Skoru hesaplar. Bu hesaplama, Wilson Skoru aralığı formülünü kullanır ve kritik değer `z`, tahmini başarı olasılığı `phat` ve toplam inceleme sayısı `n`'ı içerir.

Wilson Alt Sınır Skoru, kullanıcı geri bildirimlerine dayalı ürünleri sıralamak için kullanılan faydalı bir ölçüttür ve az sayıda inceleme ile ilişkilendirilen belirsizliği hesaba katar. Wilson Alt Sınır Skoru daha yüksek olan ürünler daha yüksek sıralanır, bu da kullanıcıların ürün hakkında daha fazla güven düzeyini gösterir. Bu yöntem, özellikle ikili derecelendirme sistemleriyle (örneğin, beğen veya beğenme) uğraşırken kullanışlıdır ve birkaç olumlu derecelendirmeye sahip ürünlerin yüksek bir sıraya yerleştirilmesini önlemeye yardımcı olabilir.

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>📄 Notes: </font></h3>
    
Bernoulli parametresi "p," bir Bernoulli dağılımının olasılık parametresidir. Bernoulli dağılımı, yalnızca iki sonuçla sonuçlanan rastgele denemeleri modeller. Bu sonuçlar genellikle "başarı" ve "başarısızlık" olarak adlandırılır.

Parametre "p," herhangi bir deneme sırasında başarının olasılığını ifade eder. Örneğin, bir madeni para atışında, "başarılı" sonucun (örneğin, yazı gelmesi) olasılığı "p" ile ifade edilir. Genellikle, "p" ifadesi 0 ile 1 arasında bir değer alır, çünkü başarılı bir sonucun olasılığı 0 ile 1 arasında bir değere sahiptir.

Bernoulli dağılımı, genellikle iki sonuçlu rastgele denemeleri modellemek için kullanılır. Örnek olarak, bir reklamın tıklanıp tıklanmaması, bir ürünün hatalı olup olmaması veya bir öğrencinin sınavı geçip geçmemesi gibi olaylar Bernoulli dağılımı ile modellenebilir. "p" parametresi, bu tür denemelerde başarının olasılığını temsil eder.

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>📄 Notes: </font></h3>
    
Standart normal dağılımın ters kümülatif dağılım fonksiyonu, İngilizce'de "Percent Point Function" veya kısaca "PPF" olarak bilinir. Bu fonksiyon, belirli bir olasılık seviyesi (genellikle alfa olarak gösterilir) altında kalan değerleri hesaplamak için kullanılır. Standart normal dağılım, ortalaması (mean) 0 ve standart sapması (standard deviation) 1 olan normal bir olasılık dağılımıdır.

PPF, belirli bir olasılık seviyesi (alfa) için, bu olasılığa sahip bir rastgele değişkenin değeri için eşik değeri sağlar. Yani, standart normal dağılımın kümülatif dağılım fonksiyonunun (CDF) tersi olarak düşünülebilir. CDF, belirli bir değerin altında veya onunla eşit olma olasılığını hesaplar, PPF ise belirli bir olasılık seviyesi altında veya onunla eşit olan değeri hesaplar.

Özellikle istatistiksel analizlerde ve hipotez testlerinde kullanılır. Örneğin, bir p değeri hesaplarken, PPF kullanılabilir. Bir p değeri, bir test istatistiğinin belirli bir olasılık seviyesi altında veya eşit olma olasılığını ifade eder. Eğer eldeki test istatistiği belirli bir alfa düzeyini karşılıyorsa, bu test sonucu anlamlı kabul edilir.

Özetle, PPF, standart normal dağılımın olasılık değerlerini tersine çevirerek, belirli bir olasılık seviyesi için kritik değerleri hesaplamak için kullanılır. Bu, istatistiksel analizlerde, hipotez testlerinde ve güven aralıklarının hesaplanmasında yaygın olarak kullanılan bir araçtır.

**Durum - 1**

In [96]:
wilson_lower_bound(600, 400)

0.5693094295142663

In [97]:
wilson_lower_bound(5500, 4500)

0.5402319557715324

**Durum - 2**

In [98]:
wilson_lower_bound(2, 0)

0.3423802275066531

In [99]:
wilson_lower_bound(100, 1)

0.9460328420055449

<div style="border-radius:10px; border:#65647C solid; padding: 15px; background-color: #F8EDE3; font-size:100%; text-align:left">

<h3 align="left"><font color='#7D6E83'><b>🗨️ Comment: </b></font></h3>
    
* Bu sonuçlar ile artık daha güvenilir çıktılar elde ettik.

<a id = "21"></a><br>
<p style="font-family: 'Pacifico', cursive; font-weight: bold; letter-spacing: 2px; color: #556B2F; font-size: 160%; text-align: left; padding: 0px; border-bottom: 3px solid">✨Örnek Uygulama (Case Study)✨</p>

In [100]:
up = [15, 70, 14, 4, 2, 5, 8, 37, 21, 52, 28, 147, 61, 30, 23, 40, 37, 61, 54, 18, 12, 68]

down = [0, 2, 2, 2, 15, 2, 6, 5, 23, 8, 12, 2, 1, 1, 5, 1, 2, 6, 2, 0, 2, 2]

In [101]:
comments = pd.DataFrame({"up": up, "down": down})

In [102]:
comments.head()

# Her bir satır bir yoruma denk gelmektedir ve o yorumun aldığı up-down değerlerini görmekteyiz.

   up  down
0  15     0
1  70     2
2  14     2
3   4     2
4   2    15

In [103]:
# score_pos_neg_diff

comments["score_pos_neg_diff"] = comments.apply(lambda x: score_up_down_diff(x["up"],
                                                                             x["down"]), axis=1)

In [104]:
# score_average_rating

comments["score_average_rating"] = comments.apply(lambda x: score_average_rating(x["up"], x["down"]), axis=1)

In [105]:
# Wilson Lower Bound

comments["wilson_lower_bound"] = comments.apply(lambda x: wilson_lower_bound(x["up"], x["down"]), axis=1)

In [106]:
comments.sort_values("wilson_lower_bound", ascending=False).head(10)

     up  down  score_pos_neg_diff  score_average_rating  wilson_lower_bound
11  147     2                 145              0.986577            0.952384
12   61     1                  60              0.983871            0.914133
1    70     2                  68              0.972222            0.904258
21   68     2                  66              0.971429            0.901677
18   54     2                  52              0.964286            0.878812
15   40     1                  39              0.975610            0.874049
13   30     1                  29              0.967742            0.838059
16   37     2                  35              0.948718            0.831144
19   18     0                  18              1.000000            0.824121
17   61     6                  55              0.910448            0.818072

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #F8E8EE; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>👻 Analysis Results: </font></h3>
    
Bu kapsamlı Kaggle notebook'ta, özellikle ürün değerlendirmeleri ve ortalama puanlamaların incelenmesine odaklanarak içeriği değerlendirmek için çeşitli metodolojilere daldık. Zaman Temelli Ağırlıklı Ortalama, Kullanıcı Temelli Ağırlıklı Ortalama, Ağırlıklı Ortalama ve Bayesian Average Rating Score gibi gelişmiş teknikleri keşfettik ve bunların daha ince ve doğru değerlendirmeler sağlamadaki önemini vurguladık. Tartışma, ürünleri sıralamanın pratik yönlerine genişledi ve puanlama, yorum sayısı ve satın alma sayısı gibi faktörleri dikkate alarak bu konudaki karmaşık stratejilere odaklandı. Ayrıca, hibrid sıralama yöntemlerine de giriş yaptık ve IMDB Film Puanlama ve Sıralama gibi bilinen uygulamalardan görüşler çıkardık, içeriğin değerlendirilmesi için sofistike yaklaşımların önemini vurgulayarak.

Notebook'un sonraki kısmında, kütüphanelerin ithalatından veri incelemeye ve vaka çalışmalarının sunumuna kadar pratik uygulamalara odaklandık. Özellikle Vote Average'a göre sıralama, IMDB Weighted Rating, Bayesian Average Rating Score (BAR Score) ve incelemeler ve kullanıcı etkileşimleri temelinde çeşitli sıralama stratejilerini inceledik. Ayrıca, Up-Down Difference Score, Average Rating (Up Ratio) ve Wilson Lower Bound Score gibi benzersiz skorlama yöntemlerini tanıttık, her biri içeriğin daha kapsamlı bir şekilde değerlendirilmesine katkıda bulunarak.

Sonuç olarak, bu Kaggle notebook, derinlemesine bir içerik değerlendirme tekniğine yönelik ileri düzey bilgi arayan veri meraklıları ve analistler için değerli bir kaynak olarak hizmet ediyor. Teorik tartışmaları pratik vaka çalışmalarıyla birleştirerek, okuyuculara içeriği etkili bir şekilde değerlendirme yeteneklerini geliştirmeleri için çeşitli araç setleri sunuyor.