<h1 style="background-color:#fbb714;font-family:courier;font-size:350%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Veri Manipülasyonu: NumPy & Pandas Eğitimi  </h1>

# Content:

1. [NumPy](#1)
    * [Giriş](#2)
    * [Dizi Nedir?](#3)
    * [Dizi Oluşturma](#4)
    * [Dizi Özellikleri](#5)
    * [ReShape: Yeniden Şekillendirme](#6)
    * [Concatenation: Birleştirme](#7)
    * [Splitting: Ayırma](#8)
    * [Sorting: Sıralama](#9)
    * [Indeks İşlemleri](#10)
    * [Alt Kümelerde İşlem Yapma](#11)
    * [Koşullu Eleman İşlemleri](#12)
    * [Matematiksel İşlemler](#13)
1. [Pandas](#14)
    * [Giriş](#15)
    * [Seri Oluşturma](#16)
    * [DataFrame Oluşturma](#17)
    * [DataFrame İşlemleri](#18)
    * [loc - iloc Farkı](#19)
    * [Koşullu Eleman İşlemleri](#20)
    * [Birleştirme İşlemleri](#21)
    * [Toplulaştırma ve Gruplama](#22)
    * [Pivot Tablosu](#23)
    * [Veri Okuma](#24)
    * [Kural Tabanlı Sınıflandırma](#25)

<a id = "1"></a><br>
<h1 style="background-color:#3d85c6;font-family:courier;font-size:300%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> NumPy </h1>

<a id = "2"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Giriş </h1>

NumPy (Numerical Python), Python dilinde bilimsel hesaplamalar ve veri işleme için kullanılan güçlü bir kütüphanedir. NumPy, Python'da yüksek performanslı çok boyutlu diziler (arrays) ve matematiksel fonksiyonlar için temel veri yapısı olan ndarray (N-dimensional array) sağlar. Bu nedenle, NumPy, büyük miktarda veriyle çalışan bilimsel ve mühendislik uygulamalarında özellikle tercih edilen bir araçtır.

NumPy'nin temel özellikleri şunlardır:

* **Numpy Dizi:** NumPy, ndarray adı verilen çok boyutlu dizileri temel veri yapısı olarak kullanır. Bu çok boyutlu diziler, Python'ın yerleşik listelerinden daha hızlı ve daha verimli bir şekilde veri saklama ve işleme olanağı sağlar. Numpy array'leri, vektörler, matrisler ve daha karmaşık veri yapıları için kullanılabilir.

* **Broadcasting:** NumPy'de broadcasting, farklı şekillere sahip array'ler üzerinde matematiksel işlemler yaparken, boyut uyumsuzluğu sorunlarını otomatik olarak ele alarak işlemi gerçekleştirmenizi sağlar. Bu, programlamayı daha kolay ve esnek hale getirir.

* **Hızlı ve Verimli:** NumPy, C dilinde yazılmış alt seviye kodları kullanarak yüksek performanslı matematiksel işlemler gerçekleştirir. Bu, büyük veri kümeleri ve karmaşık matematiksel hesaplamalarla uğraşan uygulamalarda performans artışı sağlar.

* **Matematiksel Fonksiyonlar:** NumPy, matematiksel fonksiyonlar, istatistik fonksiyonlar, rastgele sayı üretme, doğrusal cebir, integral ve türev alma gibi birçok matematiksel işlemi içeren kapsamlı bir matematik kütüphanesine sahiptir.

* **Veri Dizisi İşlemleri:** NumPy, veri işleme ve manipülasyonu için zengin fonksiyonlara sahiptir. Veri dizileri üzerinde filtreleme, sıralama, yeniden şekillendirme, döndürme, birleştirme gibi işlemler yapabilirsiniz.

NumPy, bilimsel hesaplamalardan veri analizine, makine öğrenmesinden görüntü işlemeye kadar birçok alanda yaygın olarak kullanılmaktadır. NumPy kütüphanesi, çoğu veri bilimci ve araştırmacının temel araçlarından biridir ve onlara güçlü ve hızlı bir şekilde veri manipülasyonu ve analizi yapma imkanı sağlar.

<a id = "3"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Dizi Nedir? </h1>

Bir dizi, aynı veri türündeki öğeleri bir araya getiren ve hepsini ardışık bir bellek bloğunda depolayan bir veri yapısıdır. Diziler, birden çok değeri veya veri öğesini tek bir isim altında tutmak için kullanılır. Bir dizideki her bir öğe, dizideki konumunu belirleyen bir indeks tarafından tanımlanır. Bu indeks, öğenin dizideki konumunu belirtmek için kullanılan bir tamsayı değeridir.

Programlamada, diziler aynı türdeki verileri etkin bir şekilde depolamak ve erişmek için önemlidir. Çeşitli programlama dillerinde, veri koleksiyonlarıyla, matematiksel hesaplamalarla ve bilgileri düzenli bir yapıda düzenleme konusunda kullanılırlar.

* Python'da farklı türde diziler vardır:

    1. Listeler (Lists): Listeler, farklı veri türündeki öğeleri tutabilen Python'a özgü bir veri türüdür. Esnek yapıları sayesinde, heterojen veri koleksiyonlarını ele almak için uygundurlar.

    2. NumPy Dizileri (NumPy Arrays): NumPy dizileri, NumPy kütüphanesi tarafından sağlanan bir veri yapısıdır. Python listelerinin aksine, NumPy dizileri homojen verileri depolar ve büyük miktarda sayısal veriyi etkin bir şekilde işleyebilirler. Bilimsel hesaplamalar, veri analizi ve sayısal işlemler için yaygın olarak kullanılırlar.

* Dizilerin birçok avantajı vardır:

    * Verimli bellek kullanımı: Diziler, öğeleri ardışık bellek konumlarında depolar, bu nedenle bellek kullanımını azaltır ve öğelere hızlı erişime olanak sağlar.

    * Hızlı öğe erişimi: Dizilerdeki öğelere doğrudan indeks kullanarak erişilebilir, bu nedenle diğer veri yapılarında öğe aramaktan daha hızlıdır.

    * Verimli matematiksel işlemler: Diziler, vektörleştirilmiş işlemlere olanak tanır, bu da matematiksel işlemlerin tüm dizilerde aynı anda gerçekleştirilmesini sağlar ve sayısal hesaplamalar için performansı artırır.

    * Basit veri manipülasyonu: Diziler, gelişmiş indeksleme ve dilimleme tekniklerini destekler, bu nedenle veri alt kümelerini çıkarmak veya belirli öğelerde işlemler yapmak kolaydır.

    * Daha iyi performans: Birden çok öğede aynı anda işlem yapabilme yeteneği ve dizilerin verimli bellek düzeni, genel performansı artırır.
    
Özetle, bir dizi, aynı veri türündeki öğeleri ardışık bir bellek bloğunda depolayan bir veri yapısıdır. Verimli bellek kullanımı, hızlı öğe erişimi ve matematiksel işlemlere olanak sağlaması gibi avantajları, programlama ve veri manipülasyon işlemlerinde temel bir araç haline gelmesini sağlar.

<a id = "4"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Dizi Oluşturma </h1>

NumPy dizisi oluşturmak için numpy.array() fonksiyonunu veya belirli diziler oluşturan diğer NumPy fonksiyonlarını kullanabilirsiniz. 

NumPy dizileri oluşturmanın bazı yaygın yöntemleri:

* **numpy.array()** fonksiyonu ile oluşturma: NumPy dizisi oluşturmak için Python listesi veya tuple'ını numpy.array() fonksiyonuna geçirebilirsiniz.

In [1]:
import numpy as np

# Listeden dizi oluşturma:

data_list = [1, 2, 3, 4, 5]
numpy_dizi = np.array(data_list)

print(numpy_dizi)

[1 2 3 4 5]

In [2]:
# Tuple'dan dizi oluşturma:

data_tuple = (6, 7, 8, 9, 10)
numpy_dizi = np.array(data_tuple)

print(numpy_dizi)

[ 6  7  8  9 10]

In [3]:
type(numpy_dizi)

numpy.ndarray

* NumPy fonksiyonları ile oluşturma: NumPy, **numpy.zeros(), numpy.ones(), numpy.arange()** gibi belirli değerlerle diziler oluşturan fonksiyonlar sağlar.

In [4]:
# Sıfırlardan oluşan dizi oluşturma:

sifir_dizi = np.zeros(5)

print(sifir_dizi)

[0. 0. 0. 0. 0.]

In [5]:
# Birlerden oluşan dizi oluşturma:

bir_dizi = np.ones(3)

print(bir_dizi)

[1. 1. 1.]

In [6]:
# Belirli aralıktaki değerlerle dizi oluşturma:

aralik_dizi = np.arange(1, 6)

print(aralik_dizi)

[1 2 3 4 5]

* Rastgele sayı üretimi ile oluşturma: NumPy, **numpy.random** modülü ile rastgele değerlerle diziler oluşturan fonksiyonlar sağlar.

In [7]:
# 0 ile 1 arasında rastgele değerlerle dizi oluşturma:

rastgele_dizi = np.random.random(6)

print(rastgele_dizi)

[0.80024322 0.52050475 0.50149241 0.84615294 0.04385201 0.38444502]

* **randint()** metodu, NumPy kütüphanesinin **numpy.random** modülü altında bulunan bir fonksiyondur. Bu metod, rastgele tamsayılar içeren bir NumPy dizisi oluşturmak için kullanılır.

In [8]:
import numpy as np

# 1 ile 10 arasında rastgele tamsayılardan oluşan 1 boyutlu bir dizi oluşturma:

random_array = np.random.randint(1, 11, size=5)
print(random_array)
# Örnek Çıktı: [4 8 2 9 1]

# 1 ile 100 arasında rastgele tamsayılardan oluşan 2 boyutlu bir dizi oluşturma (3x3):

random_matrix = np.random.randint(1, 101, size=(3, 3))
print(random_matrix)
# Örnek Çıktı:
# [[36 27  9]
#  [34  1 53]
#  [97 77 95]]

[10  1  3 10 10]
[[69 99 76]
 [91 38 50]
 [31 85 81]]

* Diğer NumPy fonksiyonları ile oluşturma: NumPy, **numpy.linspace(), numpy.full(),** gibi belirli özelliklere sahip diziler oluşturan fonksiyonlar sağlar.

In [9]:
# Eşit aralıklı değerlerle dizi oluşturma:

aralik_dizi = np.linspace(0, 1, num=5)

print(aralik_dizi)

[0.   0.25 0.5  0.75 1.  ]

In [10]:
# Belirli bir değerle 2x2'lik dizi oluşturma (örn. 5 ile):

dolu_dizi = np.full((2, 2), 5)

print(dolu_dizi)

[[5 5]
 [5 5]]

<a id = "5"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Dizi Özellikleri </h1>

* **ndim:**  NumPy'da yer alan ve bir NumPy dizisinin boyutlarının (eksenlerin) sayısını belirlemek için kullanılan yerleşik bir işlevdir. Bu yöntem, dizinin boyutları hakkında bilgi sağlar. ndim yöntemi bir NumPy dizisine çağrılır ve herhangi bir argüman almaz. Dizinin boyutlarının sayısını temsil eden bir tamsayı değeri döndürür.

* **shape:** bir NumPy dizisinin şeklini belirlemek için kullanılan yerleşik bir fonksiyondur. Bu yöntem, dizinin boyutları ve büyüklüğü hakkında bilgi sağlar. shape yöntemi, bir NumPy dizisine çağrılır ve herhangi bir argüman almaz. Dizinin her bir ekseni boyunca boyutları temsil eden tamsayılar içeren bir demet (tuple) döndürür.

* **size:** bir NumPy dizisinin boyutunu almak için, size özniteliğini yöntem olarak çağırmadan kullanabilirsiniz. Bu, dizideki toplam eleman sayısını temsil eden bir tamsayı değeri döndürür.

* **dtype:** NumPy'da bir NumPy dizisindeki öğelerin veri türünü belirlemek için kullanılan yerleşik bir işlevdir. Dizideki verilerin tipini belirten bilgi sağlar. dtype yöntemi, bir NumPy dizisine çağrılır ve herhangi bir argüman almaz. Dizideki öğelerin veri türünü temsil eden bir NumPy veri türü nesnesi döndürür. NumPy veri tipleri arasında tamsayılar, kayan noktalı sayılar, karmaşık sayılar ve diğer özel veri tipleri bulunur.

In [11]:
import numpy as np

# 1D NumPy dizisi:

arr_1d = np.array([1, 2, 3, 4, 5])

print(arr_1d.ndim)

1

In [12]:
# 2D NumPy dizisi (matris):

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

print(arr_2d.ndim)

2

In [13]:
# 3D NumPy dizisi (3 boyutlu tensör):

arr_3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

print(arr_3d.ndim)

3

In [14]:
# 1D NumPy dizisi:

arr_1d = np.array([1, 2, 3, 4, 5])

print(arr_1d.shape)

(5,)

In [15]:
# 2D NumPy dizisi (matris):

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

print(arr_2d.shape)

(2, 3)

In [16]:
# 3D NumPy dizisi (3-boyutlu tensör):

arr_3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

print(arr_3d.shape)

(2, 2, 2)

* Bu, arr_3d dizisinin üç boyutlu olduğunu ve her boyutta sırasıyla 2, 2 ve 2 öğe içerdiğini gösterir. Yani, bu dizi toplamda 2 x 2 x 2 = 8 öğe içerir.

In [17]:
# 1D NumPy dizisi oluşturma:

arr_1d = np.array([1, 2, 3, 4, 5])

print(arr_1d.size)

5

In [18]:
# 2D NumPy dizisi oluşturma:

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

print(arr_2d.size)

6

In [19]:
# 3D NumPy dizisi oluşturma:

arr_3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

print(arr_3d.size)

8

In [20]:
# Tamsayılarla bir NumPy dizisi oluşturma:

arr_int = np.array([1, 2, 3, 4, 5])

print(arr_int.dtype)

int64

In [21]:
# Ondalıklı sayılarla bir NumPy dizisi oluşturma:

arr_float = np.array([1.1, 2.2, 3.3])

print(arr_float.dtype)

float64

In [22]:
# Karmaşık sayılarla bir NumPy dizisi oluşturma:

arr_complex = np.array([1 + 2j, 3 + 4j])

print(arr_complex.dtype)

complex128

* Dizideki öğelerin veri türü 128-bit karmaşık sayıdır.

<a id = "6"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> ReShape: Yeniden Şekillendirme </h1>

NumPy'da **reshape()** yöntemi, bir NumPy dizisinin şeklini değiştirmek ve veriyi değiştirmeden yeni bir şekle dönüştürmek için kullanılır.

**reshape()** yöntemi, diziyi yeniden şekillendirmek için bir tuple alır. Tuple içindeki elemanlar, yeni şekilde her eksene denk gelen boyutları belirtir. Orijinal dizideki toplam eleman sayısı, yeni şekildeki toplam eleman sayısına eşit olmalıdır; aksi takdirde **ValueError** hatası oluşur.

In [23]:
import numpy as np

# 12 elemanlı 1D NumPy dizisi oluşturma:

dizi_1d = np.arange(1, 13)

print(dizi_1d)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [24]:
# 1D diziyi 3x4'lük bir 2D diziye dönüştürme:

dizi_2d = dizi_1d.reshape((3, 4))

print(dizi_2d)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [25]:
# 20 elemanlı başka bir 1D NumPy dizisi oluşturma:

dizi_1d_2 = np.arange(1, 21)

print(dizi_1d_2)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

In [26]:
# 1D diziyi 4x5'lik bir 2D diziye dönüştürme:

dizi_2d_2 = dizi_1d_2.reshape((4, 5))

print(dizi_2d_2)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

* Bu örneklerde, **np.arange()** ile 1D NumPy dizileri oluşturduk ve ardından **reshape()** yöntemini kullanarak farklı şekillere sahip 2D dizilere dönüştürdük. Her dizideki toplam eleman sayısı aynı kalırken, yalnızca elemanların düzeni **reshape()** yöntemiyle belirtilen yeni şekle göre değişti.

<a id = "7"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Concatenation: Birleştirme </h1>

NumPy'da, concatenate() işlevi birden fazla diziyi belirtilen bir eksende birleştirmek için kullanılır. Birleştirme, birden fazla diziyi tek bir dizi olarak birleştirmeyi ifade eder.

NumPy, dizileri birleştirmek için **numpy.concatenate(), numpy.stack(), numpy.hstack() ve numpy.vstack()** gibi birkaç işlev sağlar. Her biri giriş dizilerinin şekli ve boyutları açısından farklı davranışlara sahiptir.

* **numpy.concatenate():** Bu işlev, belirtilen bir eksen boyunca dizileri birleştirmek için kullanılır. Giriş olarak bir dizi dizisi alır ve belirtilen eksen boyunca birleştirilmiş yeni bir dizi döndürür. Birleştirilen diziler, birleştirme ekseni boyunca aynı şekilde olmalıdır.

* **numpy.stack():** Bu işlev, dizileri yeni bir eksende birleştirmek için kullanılır. Giriş olarak bir dizi dizisi alır ve yeni bir dizi olarak ek bir boyut eklenmiş bir dizi döndürür. Bu, dizileri yeni bir eksende birleştirmek istediğinizde kullanışlıdır.

* **numpy.hstack():** Bu işlev, dizileri yatay olarak (sütunlar boyunca) birleştirmek için kullanılır. Giriş olarak bir dizi dizisi alır ve giriş dizilerinin sütunları birleştirilmiş yeni bir dizi döndürür.

* **numpy.vstack():** Bu işlev, dizileri dikey olarak (satırlar boyunca) birleştirmek için kullanılır. Giriş olarak bir dizi dizisi alır ve giriş dizilerinin satırları birleştirilmiş yeni bir dizi döndürür.

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>💡 Notlar: </font></h3>

* numpy.concatenate() işlevi ve axis parametresinin detaylı açıklaması:

    1. **numpy.concatenate():** Bu işlev, iki veya daha fazla diziyi tek bir dizi olarak birleştirmek için kullanılır. Giriş olarak bir dizi dizisi alır ve bu dizilerin birleştirilmesiyle oluşan yeni bir dizi döndürür. Birleştirilen diziler, birleştirme ekseni boyunca aynı şekle sahip olmalıdır, ancak birleştirme işlemi yapılan boyutta farklılık olabilir.

    2. **axis parametresi:** axis parametresi, numpy.concatenate() işlevinde isteğe bağlı bir argümandır ve birleştirme işleminin yapılacağı ekseni belirtir. Bu parametre dizilerin birleştirilme yönünü kontrol eder. axis parametresi bir tamsayı değeri olmalıdır ve şu şekilde kullanılır:

        * **axis=0:** Dikey birleştirme yapılacağını belirtir (satırlar boyunca birleştirme). Diziler birbirinin üzerine yığılır.
        * **axis=1:** Yatay birleştirme yapılacağını belirtir (sütunlar boyunca birleştirme). Diziler yan yana birleştirilir.

In [27]:
# Örnek diziler:

dizi1 = np.array([[1, 2], [3, 4]])
dizi2 = np.array([[5, 6]])

In [28]:
# Dikey birleştirme (satırlar boyunca) için axis=0 kullanımı:

sonuc_dikey = np.concatenate((dizi1, dizi2), axis=0)

print("Dikey birleştirme:")

print(sonuc_dikey)

Dikey birleştirme:
[[1 2]
 [3 4]
 [5 6]]

In [29]:
# Yatay birleştirme (sütunlar boyunca) için axis=1 kullanımı:

dizi3 = np.array([[7], [8]])
sonuc_yatay = np.concatenate((dizi1, dizi3), axis=1)

print("\nYatay birleştirme:")

print(sonuc_yatay)

Yatay birleştirme:
[[1 2 7]
 [3 4 8]]

In [30]:
# İki 1D diziyi birleştirme:

dizi1 = np.array([1, 2, 3])
dizi2 = np.array([4, 5, 6])
sonuc = np.concatenate((dizi1, dizi2))

print(sonuc)

[1 2 3 4 5 6]

In [31]:
# İki 1D diziyi yeni bir eksende birleştirme:

sonuc = np.stack((dizi1, dizi2))

print(sonuc)

[[1 2 3]
 [4 5 6]]

In [32]:
# İki 1D diziyi yatay olarak birleştirme:

sonuc = np.hstack((dizi1, dizi2))

print(sonuc)

[1 2 3 4 5 6]

In [33]:
# İki 1D diziyi dikey olarak birleştirme:

sonuc = np.vstack((dizi1, dizi2))

print(sonuc)

[[1 2 3]
 [4 5 6]]

<a id = "8"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Splitting: Ayırma </h1>

NumPy'da, bölme işlemi, belirtilen bir eksende tek bir diziyi birden çok küçük diziye bölmek anlamına gelir. Bir diziyi belirli bir ölçüt temelinde daha küçük parçalara bölmeyi sağlar. NumPy, dizileri bölmek için **numpy.split(), numpy.array_split(), numpy.hsplit() ve numpy.vsplit()** gibi birkaç işlev sağlar.

* **numpy.split():** Bu işlev, bir diziyi belirtilen bir eksende birden çok alt dizilere böler. İki veya daha fazla argüman alır: bölünecek dizi, oluşturulacak eşit boyutlu alt dizilerin sayısı ve bölmenin yapılacağı eksen. Dizi, alt dizilerin sayısı ile tam bölünebilecek bir boyuta sahip olmalıdır, aksi takdirde ValueError hatası oluşur.

* **numpy.array_split():** Bu işlev, numpy.split() işlevine benzer, ancak dizinin boyutunun alt dizilerin sayısına tam bölünmesini gerektirmez. Alt diziler farklı boyutlarda olabilir.

* **numpy.hsplit():** Bu işlev, bir diziyi yatay olarak (sütunlar boyunca) birden çok alt dizilere böler. İki argüman alır: bölünecek dizi ve oluşturulacak eşit boyutlu alt dizilerin sayısı.

* **numpy.vsplit():** Bu işlev, bir diziyi dikey olarak (satırlar boyunca) birden çok alt dizilere böler. İki argüman alır: bölünecek dizi ve oluşturulacak eşit boyutlu alt dizilerin sayısı.

In [34]:
import numpy as np

# Örnek dizi:

dizi = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [35]:
# numpy.split() kullanımı:

sonuc_split = np.split(dizi, 5)

print("numpy.split() sonucu:")

print(sonuc_split)

numpy.split() sonucu:
[array([1, 2]), array([3, 4]), array([5, 6]), array([7, 8]), array([ 9, 10])]

In [36]:
# numpy.array_split() kullanımı:

sonuc_array_split = np.array_split(dizi, 3)

print("\nnumpy.array_split() sonucu:")

print(sonuc_array_split)

numpy.array_split() sonucu:
[array([1, 2, 3, 4]), array([5, 6, 7]), array([ 8,  9, 10])]

In [37]:
# 2D dizi örneği:

dizi_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])

# numpy.hsplit() kullanımı:

sonuc_hsplit = np.hsplit(dizi_2d, 3)

print("\nnumpy.hsplit() sonucu:")

print(sonuc_hsplit)

numpy.hsplit() sonucu:
[array([[ 1],
       [ 4],
       [ 7],
       [10]]), array([[ 2],
       [ 5],
       [ 8],
       [11]]), array([[ 3],
       [ 6],
       [ 9],
       [12]])]

In [38]:
# numpy.vsplit() kullanımı:

sonuc_vsplit = np.vsplit(dizi_2d, 2)

print("\nnumpy.vsplit() sonucu:")

print(sonuc_vsplit)

numpy.vsplit() sonucu:
[array([[1, 2, 3],
       [4, 5, 6]]), array([[ 7,  8,  9],
       [10, 11, 12]])]

<a id = "9"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Sorting: Sıralama </h1>

NumPy'da sıralama, bir dizinin elemanlarını belirli bir sıraya göre, ya artan ya da azalan şekilde düzenleme işlemine denir. Dizileri sıralama işlemi, veri analizi ve işleme görevlerinde sıkça kullanılan bir işlemdir. NumPy, diziler üzerinde sıralama işlemlerini gerçekleştirmek için birkaç işlev sağlar.

NumPy'daki temel sıralama işlevleri şunlardır:

* **numpy.sort():** Bu işlev, bir dizinin sıralanmış bir kopyasını döndürür. Varsayılan olarak, diziyi son eksende artan sırayla sıralar.

* **numpy.argsort():** Bu işlev, bir diziyi sıralamak için kullanılan dizinleri döndürür. Sıralanmış diziyi döndürmek yerine, orijinal diziyi sıralamak için kullanılan dizinlerden oluşan bir dizi döndürür.

* **numpy.lexsort():** Bu işlev, bir dizi üzerinde dolaylı bir sıralama yapar. Birden çok anahtar üzerinde diziyi sıralar ve her anahtar için belirtilen sıra ile sıralamayı gerçekleştirir.

* **numpy.msort():** Bu işlev, numpy.sort() işlevine benzer, ancak kararlı bir sıralama yapar. Yani, aynı değere sahip elemanların göreceli sırasını korur.

* **numpy.sort_complex():** Bu işlev, karmaşık sayıları büyüklüklerine göre sıralar.

In [39]:
import numpy as np

# Örnek dizi:

dizi = np.array([3, 1, 4, 1, 5, 9, 2, 6, 5])

# numpy.sort() kullanımı:

siralanmis_dizi = np.sort(dizi)

print("Sıralanmış dizi:")

print(siralanmis_dizi)

Sıralanmış dizi:
[1 1 2 3 4 5 5 6 9]

In [40]:
# numpy.argsort() kullanımı:

sirali_dizinler = np.argsort(dizi)

print("\nSıralı dizinler:")

print(sirali_dizinler)

Sıralı dizinler:
[1 3 6 0 2 4 8 7 5]

In [41]:
# numpy.lexsort() kullanımı:

isimler = np.array(['Alice', 'Bob', 'Cathy', 'David', 'Eva'])
yaslar = np.array([25, 22, 29, 32, 28])
sirali_dizinler_lex = np.lexsort((isimler, yaslar))

print("\nlexsort() ile sıralı dizinler:")

print(sirali_dizinler_lex)

lexsort() ile sıralı dizinler:
[1 0 4 2 3]

In [42]:
# numpy.msort() kullanımı:

dizi2 = np.array([3, 1, 4, 1, 5, 9, 2, 6, 5])
stabil_siralanmis_dizi = np.msort(dizi2)

print("\nKararlı sıralanmış dizi:")

print(stabil_siralanmis_dizi)

Kararlı sıralanmış dizi:
[1 1 2 3 4 5 5 6 9]

<a id = "10"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Indeks İşlemleri </h1>

NumPy'da, NumPy dizilerinde belirli elemanlara veya alt dizilere erişmek için kullanılan çeşitli index metodları ve işlemleri bulunmaktadır. İşte NumPy'da yaygın olarak kullanılan bazı index metodları ve işlemleri:

* **Integer İndeksleme:** Dizinin belirli elemanlarına erişmek için tamsayıları indeks olarak kullanabilirsiniz.

* **Slicing (Dilimleme):** Dilimleme, bir dizinin belirli bir bölümünü (alt diziyi) belirli bir indeks aralığı ile almanıza olanak tanır.

* **Boolean İndeksleme:** Boolean indeksleme, bir koşula dayalı olarak diziden elemanları filtrelemek için bir boolean maske kullanmanızı sağlar.

* **Fancy İndeksleme:** Fancy indeksleme, dizilere erişmek için bir dizi indeks sağlayarak belirli elemanlara veya alt dizilere erişmenizi sağlar.

* **İki Boyutlu İndeksleme:** İki boyutlu dizilerde, satır ve sütun indeksleri kullanarak belirli elemanlara veya alt dizilere erişebilirsiniz.

* **İndeksleri Değiştirme:** Dizi elemanlarının indekslerini değiştirerek dizinin elemanlarını yeniden düzenleyebilirsiniz.

Aşağıda her bir index yöntemini kullanarak bazı örnekler verilmiştir:

In [43]:
import numpy as np

# Örnek dizi:

arr = np.array([10, 20, 30, 40, 50])

# Integer İndeksleme:

arr[2]

30

In [44]:
arr[2]

30

In [45]:
# Slicing (Dilimleme):

arr[1:4]

array([20, 30, 40])

In [46]:
# Boolean İndeksleme:

mask = arr > 30
arr[mask]

array([40, 50])

In [47]:
# Fancy İndeksleme:

indices = [0, 2, 4]
arr[indices]

array([10, 30, 50])

In [48]:
# İki Boyutlu İndeksleme:

arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

arr_2d[1, 2]

6

In [49]:
# İndeksleri Değiştirme:

arr[1], arr[3] = arr[3], arr[1]

arr

array([10, 40, 30, 20, 50])

In [50]:
import numpy as np

# Örnek 2B dizi:

dizi_2b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

dizi_2b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [51]:
# Tek bir elemanı seçme:

dizi_2b[1, 2]

6

In [52]:
# Bir satırı seçme:

dizi_2b[1, :]

array([4, 5, 6])

In [53]:
# Birden çok satırı seçme:

dizi_2b[[0, 2], :]

array([[1, 2, 3],
       [7, 8, 9]])

In [54]:
# Bir sütunu seçme:

dizi_2b[:, 0]

array([1, 4, 7])

In [55]:
# Birden çok sütunu seçme:

dizi_2b[:, [0, 2]]

array([[1, 3],
       [4, 6],
       [7, 9]])

In [56]:
# Alt bir dizi seçme:

dizi_2b[0:2, 1:3]

array([[2, 3],
       [5, 6]])

<a id = "11"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Alt Kümelerde İşlem Yapma </h1>

NumPy, alt kümelerle çalışırken yaygın olarak kullanılan işlem türlerini destekler ve bu işlemler genellikle daha hızlı ve verimli olabilir.

Alt kümelerde işlem yapmak için, önce alt kümeyi seçmeniz ve ardından bu alt kümeye istediğiniz işlemi uygulamanız gerekir. NumPy'de alt kümeler, dilimleme (slicing) veya boolean indeksleme (boolean indexing) gibi yöntemlerle seçilebilir.

Örnek olarak, bir NumPy dizisinin alt kümesine ulaşıp bazı işlemler yapalım:

In [57]:
# Örnek dizi:

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [58]:
# Alt küme seçme (dilimleme):

alt_kume = arr[2:6]

alt_kume

array([3, 4, 5, 6])

In [59]:
# Alt küme üzerinde işlem yapma:

ortalama = np.mean(alt_kume)

ortalama

4.5

In [60]:
# Alt kumeye değer atama:

arr[2:6] = 10

arr

array([ 1,  2, 10, 10, 10, 10,  7,  8,  9, 10])

* NumPy alt kümelerinde **copy()** yöntemi, bir dizi alt kümesinin bağımsız bir kopyasını oluşturmak için kullanılır. Bu yöntem, alt kümeyle ilgili işlemleri gerçekleştirirken orijinal diziyi değiştirmek istemediğiniz durumlarda çok yararlıdır. **copy()** yöntemi, alt kümenin bir kopyasını oluşturur ve bu kopya üzerinde istediğiniz işlemleri yapabilirsiniz.

In [61]:
# Örnek dizi:

arr = np.array([1, 2, 3, 4, 5])

arr

array([1, 2, 3, 4, 5])

In [62]:
# Dilimleme yöntemiyle alt küme seçme:

subset = arr[1:4]

subset

array([2, 3, 4])

In [63]:
# Alt kümenin kopyasını oluşturma:

subset_copy = subset.copy()

subset_copy

array([2, 3, 4])

In [64]:
# Alt küme ve kopyasını değiştirme:

subset[0] = 10
subset_copy[1] = 20

subset_copy

array([ 2, 20,  4])

<a id = "12"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Koşullu Eleman İşlemleri </h1>

NumPy, koşullu eleman işlemleri için bir dizi güçlü fonksiyon ve yöntem sağlar. Bu işlemler, bir NumPy dizisindeki elemanları belirli koşullara göre filtrelemek veya değiştirmek için kullanılabilir. Koşullu eleman işlemleri, NumPy dizileri üzerinde veri analizi ve dönüşümleri için yaygın olarak kullanılır.

* **Boolean İndeksleme:** Boolean dizileri kullanarak bir dizi içindeki elemanları filtrelemek için kullanılır.

* **np.where():** Belirli bir koşulu sağlayan elemanları seçmek veya başka bir değerle değiştirmek için kullanılır.

* **np.logical_and() ve np.logical_or():** İki veya daha fazla koşulu birleştirmek için kullanılır.

* **np.any() ve np.all():** Dizideki elemanların en az biri veya tümü belirli bir koşulu sağlıyorsa True değeri döndürür.

In [65]:
# Örnek dizi:

arr = np.array([1, 2, 3, 4, 5])

arr

array([1, 2, 3, 4, 5])

In [66]:
# Boolean İndeksleme ile filtreleme:

arr[arr > 3]

array([4, 5])

In [67]:
# np.where() ile değer değiştirme:

arr2 = np.where(arr > 3, 10, arr)

arr2

array([ 1,  2,  3, 10, 10])

In [68]:
# np.logical_and() ve np.logical_or() ile birden fazla koşulu birleştirme:

mask1 = arr > 2
mask2 = arr < 5

arr[np.logical_and(mask1, mask2)]

array([3, 4])

In [69]:
# np.any() ve np.all() ile koşullu değerlendirme:

np.any(arr > 3)

True

In [70]:
np.all(arr > 3)

False

<a id = "13"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Matematiksel İşlemler </h1>

Python'da NumPy, matematiksel işlemler için geniş bir dizi fonksiyon ve yöntem sağlar. NumPy, matematiksel işlemler için hızlı ve etkili araçlar sunar ve bilimsel hesaplamalarda yaygın olarak kullanılır.

* **Temel Aritmetik İşlemler:** Toplama, çıkarma, çarpma, bölme gibi temel aritmetik işlemleri gerçekleştirebilirsiniz.

* **Matris İşlemleri:** Matris toplama, matris çarpımı, matris tersi alma gibi matris işlemleri için NumPy kullanabilirsiniz.

* **Trigonometrik İşlemler:** Sinüs, kosinüs, tanjant gibi trigonometrik fonksiyonları hesaplamak için NumPy'ın trigonometrik fonksiyonlarını kullanabilirsiniz.

* **Logaritmik ve Üstel İşlemler:** Logaritma ve üstel işlemler için NumPy fonksiyonlarını kullanabilirsiniz.

* **İstatistiksel İşlemler:** Ortalama, standart sapma, medyan gibi istatistiksel işlemleri yapmak için NumPy'ın istatistiksel fonksiyonlarını kullanabilirsiniz.

* **Uzaklık ve Norm İşlemleri:** İki nokta arasındaki uzaklığı hesaplamak için NumPy fonksiyonlarını kullanabilirsiniz.

* **Rastgele Sayı Üretimi:** Rastgele sayılar üretmek için NumPy'ın rastgele sayı üretme fonksiyonlarını kullanabilirsiniz.

* **Doğrusal Cebir İşlemleri:** Vektör iç çarpımı, matris çarpımı, determinan hesaplama gibi doğrusal cebir işlemleri için NumPy kullanabilirsiniz.

In [71]:
# Temel aritmetik işlemler:

x = 5
y = 3

In [72]:
np.add(x, y)  # toplama

8

In [73]:
np.subtract(x, y) # çıkarma

2

In [74]:
np.multiply(x, y) # çarpma

15

In [75]:
np.divide(x, y) # bölme

1.6666666666666667

In [76]:
# Trigonometrik işlemler:

angle = np.pi / 4

In [77]:
np.sin(angle)  # Sinüs

0.7071067811865475

In [78]:
np.cos(angle)  # Kosinüs

0.7071067811865476

In [79]:
np.tan(angle)  # Tanjant

0.9999999999999999

In [80]:
# Logaritmik ve üstel işlemler:

num = 10

In [81]:
np.log(num)  # Logaritma

2.302585092994046

In [82]:
np.exp(num)  # Üstel fonksiyon

22026.465794806718

In [83]:
# İstatistiksel işlemler:

data = np.array([2, 5, 7, 3, 9])

In [84]:
np.mean(data)  # Ortalama

5.2

In [85]:
np.std(data)  # Standart sapma

2.5612496949731396

In [86]:
np.median(data)  # Medyan

5.0

In [87]:
# Rastgele sayı üretimi:

np.random.rand()  # 0 ile 1 arasında rastgele bir sayı

0.3357719469807494

In [88]:
np.random.randint(1, 10)  # 1 ile 9 arasında rastgele bir tamsayı

7

In [89]:
# Doğrusal cebir işlemleri:

vector1 = np.array([1, 2, 3])
vector2 = np.array([4, 5, 6])

np.dot(vector1, vector2)  # Vektör iç çarpımı

32

In [90]:
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

np.matmul(matrix1, matrix2)  # Matris çarpımı

array([[19, 22],
       [43, 50]])

In [91]:
np.linalg.det(matrix1)  # Matris determinantı

-2.0000000000000004

In [92]:
# NumPy ile İki Bilinmeyenli Denklem Çözümü

a = np.array([[5, 1], [1, 3]])
b = np.array([12, 10])

np.linalg.solve(a, b)

array([1.85714286, 2.71428571])

<a id = "14"></a><br>
<h1 style="background-color:#F75D59;font-family:courier;font-size:300%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Pandas </h1>

<a id = "15"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Giriş </h1>

Pandas, Python programlama dilinde veri analizi ve veri manipülasyonu için kullanılan açık kaynaklı bir kütüphanedir. Pandas, güçlü ve esnek veri yapıları ve veri analizi araçları sunarak verilerinizi etkili bir şekilde işlemenize ve analiz etmenize olanak tanır. Pandas, özellikle tablo benzeri veri yapıları (DataFrame) üzerinde yüksek performanslı ve kolay işlemler yapmak için tasarlanmıştır.

Pandas'ın temel yapıları şunlardır:

* **DataFrame:** Verileri tablo şeklinde saklamak ve işlemek için kullanılan iki boyutlu veri yapısıdır. DataFrame, sütunlar ve satırlar içeren bir tabloyu temsil eder ve verilerinizi etiketli bir biçimde düzenlemenize ve analiz etmenize olanak tanır.

* **Series:** Tek boyutlu etiketli veri dizileridir. Series, veri noktalarını ve bunlara karşılık gelen etiketleri içeren bir dizi gibi düşünülebilir. DataFrame içindeki sütunlar veya satırlar Series olarak temsil edilir.

Pandas, verileri yükleme, filtreleme, dönüştürme, birleştirme, gruplama ve istatistiksel hesaplamalar gibi çeşitli işlemler için kullanılabilir. Ayrıca, verileri farklı formatlarda (CSV, Excel, SQL, vb.) okuma ve yazma işlemleri için de geniş bir desteğe sahiptir.

Pandas, veri bilimciler, analistler ve veri mühendisleri tarafından yaygın olarak kullanılmaktadır. Verilerinizi hızlı ve etkili bir şekilde işlemek ve analiz etmek için Pandas'ı kullanabilirsiniz.

<a id = "16"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Seri Oluşturma </h1>

Pandas serilerini Python'da oluşturmak için pd.Series() yapıcısını kullanabilirsiniz. Seriler, herhangi bir veri türündeki verileri tutabilen, etiketli bir boyutlu dizi olarak düşünülebilir. NumPy dizilerine benzerdir, ancak etiketli indeksleme gibi ek özelliklere sahiptir. Bir Pandas Series oluşturmak için öncelikle import pandas as pd komutuyla Pandas kütüphanesini içe aktarmalı ve ardından pd.Series() yapıcısını kullanarak Series oluşturmalısınız.

In [93]:
import pandas as pd

# Python listesinden bir Series oluşturma:

veri = [10, 20, 30, 40, 50]
seri1 = pd.Series(veri)

seri1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [94]:
# NumPy dizisinden bir Series oluşturma:

veri_np = np.array([0.1, 0.2, 0.3, 0.4, 0.5])
seri2 = pd.Series(veri_np)

seri2

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [95]:
# Özel indeks etiketleriyle bir Series oluşturma:

veri_sozluk = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}
seri3 = pd.Series(veri_sozluk)

seri3

A    10
B    20
C    30
D    40
E    50
dtype: int64

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>💡 Notlar: </font></h3>

* Pandas Serileri için sık kullanılan bazı komutlar:

**pd.Series():** Yeni bir Pandas Serisi oluşturmak için kullanılır.

**head():** Serinin ilk birkaç satırını görmek için kullanılır.

**tail():** Serinin son birkaç satırını görmek için kullanılır.

**shape:** Serinin boyutunu (satır, sütun) gösteren bir demet döndürür.

**size:** Serinin toplam eleman sayısını döndürür.

**index:** Serinin indekslerini döndürür.

**values:** Serinin değerlerini (verilerini) döndürür.

**describe():** Serinin temel istatistiksel bilgilerini (count, mean, std, min, 25%, 50%, 75%, max) görmek için kullanılır.

**unique():** Serideki benzersiz değerleri döndürür.

**nunique():** Serideki benzersiz değerlerin sayısını döndürür.

**count():** Serideki toplam eleman sayısını döndürür (NaN olmayan değerlerin sayısı).

**sum():** Serideki değerlerin toplamını döndürür.

**mean():** Serideki değerlerin ortalamasını döndürür.

**median():** Serideki değerlerin ortanca değerini döndürür.

**min():** Serideki en küçük değeri döndürür.

**max():** Serideki en büyük değeri döndürür.

**std():** Serideki değerlerin standart sapmasını döndürür.

**var():** Serideki değerlerin varyansını döndürür.

**sort_values():** Seriyi değerlere göre sıralar.

**sort_index():** Seriyi indekslere göre sıralar.

**isnull():** Her bir elemanın NaN olup olmadığını kontrol eder ve sonuçları bir boolean Seri olarak döndürür.

**fillna():** NaN değerleri başka bir değerle doldurmak için kullanılır.

**dropna():** NaN değerleri içeren satırları kaldırmak için kullanılır.

**apply():** Her elemana bir fonksiyon uygulamak için kullanılır.

**map():** Her elemana bir sözlük veya Seri uygulamak için kullanılır.

**replace():** Belirli değerleri başka bir değerle değiştirmek için kullanılır.

**iloc[]:** Serideki elemanlara konum indeksiyle erişmek için kullanılır.

**loc[]:** Serideki elemanlara etiket indeksiyle erişmek için kullanılır.

**astype():** Serinin veri türünü dönüştürmek için kullanılır.

**copy():** Bir Seri üzerinde değişiklik yapmak istediğinizde, orijinal Seriyi korumak için kullanılır.

In [96]:
seri1.index

RangeIndex(start=0, stop=5, step=1)

In [97]:
seri1.dtype

dtype('int64')

In [98]:
seri1.size

5

In [99]:
seri1.ndim

1

In [100]:
seri1.values

array([10, 20, 30, 40, 50])

In [101]:
type(seri1.values)

numpy.ndarray

In [102]:
seri1.head(2)

0    10
1    20
dtype: int64

In [103]:
seri1.tail(2)

3    40
4    50
dtype: int64

<a id = "17"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> DataFrame Oluşturma </h1>

Pandas DataFrame, Python'da tablo benzeri verileri düzenlemek ve işlemek için kullanılan güçlü bir veri yapısıdır. DataFrame, etiketli sütun ve satırlardan oluşur ve birçok veri tipini destekler.

In [104]:
import pandas as pd
import numpy as np

#  Liste veya NumPy Dizisi kullanarak:

data = [['John', 25, 'New York'],
        ['Jane', 30, 'London'],
        ['Mike', 22, 'Paris']]

columns = ['Name', 'Age', 'City']

df = pd.DataFrame(data, columns=columns)

df

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   22     Paris

In [105]:
# Sözlük kullanarak:

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 22],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)

df

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   22     Paris

In [106]:
# CSV dosyasından DataFrame oluşturma:

df = pd.read_csv('/kaggle/input/titanic/train.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [107]:
# Excel dosyasından DataFrame oluşturma:

# df = pd.read_excel('veri.xlsx')

<a id = "18"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> DataFrame İşlemleri </h1>

In [108]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

 * **Veriye Hızlı Bakış:**

In [109]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [110]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [111]:
df.shape

(891, 12)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [113]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [114]:
df.index

RangeIndex(start=0, stop=891, step=1)

In [115]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [116]:
df.isnull().values.any()

True

In [117]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [118]:
df.describe(include=[object]).T

         count unique                      top freq
Name       891    891  Braund, Mr. Owen Harris    1
Sex        891      2                     male  577
Ticket     891    681                   347082    7
Cabin      204    147                  B96 B98    4
Embarked   889      3                        S  644

In [119]:
# Belirli bir başlığı almak

df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [120]:
# Belirli bir sütunu seçmek

df[['Survived', 'Pclass']]

     Survived  Pclass
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
..        ...     ...
886         0       2
887         1       1
888         0       3
889         1       1
890         0       3

[891 rows x 2 columns]

In [121]:
# Satır indeksi ile belirli bir satırı almak

df.loc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [122]:
# Satır numarası ile belirli bir satırı almak

df.iloc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [123]:
df["Sex"].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [124]:
df["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

* **Veri Ekleme ve Değiştirme:**

In [125]:
df['Age'] = df['Age'] + 1

* **Veri Filtreleme:**

In [126]:
# Koşullara göre verileri filtreleme:

df[df['Age'] > 25].head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,39.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,27.0,0,0,STON/O2. 3101282,7.9250,NaN,S

* **NaN Değerlerini İşleme:**

In [127]:
# NaN değerlerini silme:

df.dropna().head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,39.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,36.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,55.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,5.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,59.0,0,0,113783,26.5500,C103,S

In [128]:
# NaN değerlerini başka bir değerle doldurma:

df.fillna(0).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,23.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,39.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,27.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,36.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,36.0,0,0,373450,8.0500,0,S

* **Veri Gruplama ve İstatistiksel İşlemler:**

In [129]:
# Bir sütuna göre verileri gruplama:

grouped_df = df.groupby('Ticket')

grouped_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,23.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,39.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,27.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,36.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,36.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,28.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,20.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,27.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,33.0,0,0,370376,7.7500,NaN,Q

In [130]:
# Gruplanmış verilerin ortalama değerlerini hesaplama:

grouped_df['Age'].mean()

Ticket
110152         27.333333
110413         37.333333
110465         48.000000
110564         29.000000
110813         61.000000
                 ...
W./C. 6608     24.500000
W./C. 6609           NaN
W.E.P. 5734    47.000000
W/C 14208      31.000000
WE/P 5735      54.000000
Name: Age, Length: 681, dtype: float64

* **Veri Sıralama:**

In [131]:
# Sütuna göre verileri sıralama:

df.sort_values('Age').head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,1.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,1.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,1.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,1.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,1.83,0,2,248738,29.0000,NaN,S

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>💡 Notlar: </font></h3>

* Pandas DataFrame'de **axis** parametresi, bazı işlemlerde hangi eksen üzerinde işlem yapılacağını belirtmek için kullanılır.

    * **axis=0**: Bu, DataFrame üzerinde işlem yaparken satırlar (gözlemler) üzerinde işlem yapılacağını belirtir. Yani, satır bazlı işlem yapmak istediğinizde axis=0 kullanılır. Varsayılan olarak çoğu DataFrame işlemi için bu kullanılır.
    * **axis=1**: Bu, DataFrame üzerinde işlem yaparken sütunlar (değişkenler) üzerinde işlem yapılacağını belirtir. Yani, sütun bazlı işlem yapmak istediğinizde axis=1 kullanılır.

* Pandas DataFrame'de **inplace** parametresi, çoğu DataFrame işlemi sırasında mevcut DataFrame'in değiştirilip değiştirilmeyeceğini belirlemek için kullanılır. Varsayılan olarak, çoğu işlemde inplace=False olarak ayarlanmıştır, bu nedenle DataFrame'iniz değiştirilmeden işlem sonucu döndürülür.

* Ancak **inplace=True** olarak ayarlandığında, işlem mevcut DataFrame üzerinde uygulanır ve DataFrame değiştirilir. Bu durumda işlem sonucu ayrıca döndürülmez ve None değeri döner.

In [132]:
import pandas as pd

# DataFrame oluşturalım:

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}

df = pd.DataFrame(data)

df

   A  B
0  1  4
1  2  5
2  3  6

In [133]:
# Axis kullanımı (Satırlar üzerinde toplama):

data = df.sum(axis=0)

data

A     6
B    15
dtype: int64

In [134]:
# Axis kullanımı (Sütunlar üzerinde toplama):

data = df.sum(axis=1)

data

0    5
1    7
2    9
dtype: int64

* **Pandas'ta Seçim İşlemleri:**

In [135]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [136]:
df[0:8]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [137]:
df.drop(0, axis=0).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [138]:
delete_indexes = [1, 3, 5, 7]

df.drop(delete_indexes, axis=0).head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S

* **Değişkeni Indexe Çevirmek:**

In [139]:
df["Age"].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [140]:
df.index = df["Age"]

In [141]:
df.drop("Age", axis=1).head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Age,,,,,,,,,,,
22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

In [142]:
df.drop("Age", axis=1, inplace=True)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Age,,,,,,,,,,,
22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

* **Indexi Değişkene Çevirmek:**

In [143]:
df.index

Float64Index([22.0, 38.0, 26.0, 35.0, 35.0,  nan, 54.0,  2.0, 27.0, 14.0,
              ...
              33.0, 22.0, 28.0, 25.0, 39.0, 27.0, 19.0,  nan, 26.0, 32.0],
             dtype='float64', name='Age', length=891)

In [144]:
df["Age"] = df.index

In [145]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age
Age,,,,,,,,,,,,
22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S,22.0
38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,38.0
26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0
35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,35.0
35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S,35.0

In [146]:
df.drop("Age", axis=1, inplace=True)

In [147]:
df.reset_index().head()

,Age,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
1,38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
2,26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
4,35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

In [148]:
df = df.reset_index()

* **Değişkenler Üzerinde İşlemler:**

In [149]:
"Age" in df

True

In [150]:
df["Age"].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [151]:
df.Age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [152]:
type(df["Age"].head())

pandas.core.series.Series

In [153]:
df[["Age"]].head()

    Age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0

In [154]:
type(df[["Age"]].head())

pandas.core.frame.DataFrame

In [155]:
df["Age2"] = df["Age"]**2

In [156]:
df["Age3"] = df["Age"] / df["Age2"]

In [157]:
df.head()

,Age,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age2,Age3
0,22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S,484.0,0.045455
1,38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,1444.0,0.026316
2,26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S,676.0,0.038462
3,35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,1225.0,0.028571
4,35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S,1225.0,0.028571

In [158]:
df = df.drop(["Age3","Age2"], axis=1)

In [159]:
df.head()

,Age,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
1,38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
2,26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
4,35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

In [160]:
df.loc[:, ~df.columns.str.contains("Age")].head() # ~ ifadesi hariç ekler, contains yakalamak için kullanılır.

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>💡 Notlar: </font></h3>

Bu Python kodu ile;

1. `df` bir pandas DataFrame nesnesini temsil eder. Bu DataFrame üzerinde işlem yapmak istiyoruz.

2. `.loc[]` yöntemi, veri çerçevesindeki belirli satır ve sütunlara erişmeyi sağlar. Burada sadece sütunları filtrelemek istediğimiz için satır endeksi kısmını ":" kullanarak tüm satırları seçiyoruz.

3. `~df.columns.str.contains("Age")` ifadesi, DataFrame'deki sütun adlarını kontrol eder ve "Age" kelimesini içermeyen sütunları seçmeyi amaçlar.

   - `df.columns` sütun adlarını içeren bir Index nesnesini temsil eder.
   - `.str.contains("Age")` yöntemi, sütun adlarını "Age" kelimesini içerip içermediğini kontrol etmek için kullanır ve sonuçta her bir sütun için bir boolean (True/False) değer döndürür.
   - `~` işareti, bu boolean değerleri ters çevirir. Yani "Age" kelimesini içermeyen sütunlar `True` ve "Age" kelimesini içeren sütunlar `False` olarak işaretlenir.

4. Sonuç olarak, `.loc[:, ~df.columns.str.contains("Age")]` ifadesi, tüm satırları ve "Age" kelimesini içermeyen sütunları içeren bir DataFrame'i seçer.

5. `.head()` yöntemi, bu filtrelenmiş DataFrame'in ilk birkaç satırını (varsayılan olarak ilk 5 satırı) döndürür.

<a id = "19"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> loc - iloc Farkı </h1>

Öncelikle indeksler konusunu açıklayalım.

Pandas'ta bir indeks, DataFrame içindeki satırları benzersiz bir şekilde tanımlayan bir öğedir. Verilere daha anlamlı ve verimli bir şekilde erişim ve başvurular sağlar. Bir DataFrame oluşturduğunuzda, varsayılan olarak pandas satırlara 0'dan başlayarak sıralı bir sayısal indeks atar. Ancak aynı zamanda, DataFrame'den bir veya birden fazla sütunu indeks olarak kullanmak üzere belirleyebilirsiniz.

Pandas DataFrame indeksleri hakkında bazı önemli noktalar:

* **Varsayılan İndeks:** İndeks belirtmeden bir DataFrame oluşturduğunuzda, pandas otomatik olarak 0'dan başlayarak her satıra sıralı bir sayısal indeks atar.

* **İndeks Belirtme:** Mevcut bir sütunu DataFrame oluştururken indeks olarak belirtmek için index parametresini kullanabilirsiniz. Örneğin: **df = pd.DataFrame(veri, index=benim_indeks_sütunum)**.

* **Sonradan İndeks Belirleme:** DataFrame içindeki indeksi sonradan da belirleyebilirsiniz. Bunun için DataFrame'in set_index() metodunu kullanabilirsiniz. Örneğin: **df.set_index('sütun_adı', inplace=True)**.

* **Çok Düzeyli İndeks:** DataFrame, çok düzeyli bir indekse sahip olabilir. Birden fazla sütunu indeks olarak kullanarak hiyerarşik bir yapı oluşturabilirsiniz.

* **İndeksleme ile Satırlara Erişim:** Bir indeks belirledikten sonra, DataFrame içindeki satırlara **loc[]** metodunu kullanarak indeksleme yapabilirsiniz. Örneğin: **df.loc['indeks_değeri']**.

* **İndeksi Sıfırlama:** Mevcut indeksi kaldırmak ve varsayılan sayısal indekse geri dönmek isterseniz, **reset_index()** metodunu kullanabilirsiniz.

In [161]:
import pandas as pd

veri = {
    'İsim': ['Alice', 'Bob', 'Charlie', 'David'],
    'Yaş': [25, 30, 35, 28],
    'Şehir': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

# 'İsim' sütununu indeks olarak belirleyerek DataFrame oluşturma:

df = pd.DataFrame(veri, index=['A', 'B', 'C', 'D'])

df

      İsim  Yaş          Şehir
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   28        Chicago

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>💡 Notlar: </font></h3>

**1. DataFrame loc[] metodu:**

* loc[] metodu, satır ve sütunlara etiket adlarıyla erişim yapmak için kullanılır.
* Bu metot, satır ve sütunların etiketlerine dayalı seçim yapmanıza olanak sağlar.
* Etiket tabanlı işlemler yapmak için loc[] kullanılır.
* loc[] metodu, etiketlerle çalışır ve sonucu daima etiketleri içeren bir DataFrame olarak döndürür.
* İşlem sonucunda belirtilen etiketleri içeren satır ve sütunlardan oluşan bir alt küme elde edilir.

**2. DataFrame iloc[] metodu:**

* iloc[] metodu, satır ve sütunlara tamsayı tabanlı konumlarıyla erişim yapmak için kullanılır.
* Bu metot, satır ve sütunların tamsayı indeksine dayalı seçim yapmanıza olanak sağlar.
* Tamsayı tabanlı işlemler yapmak için iloc[] kullanılır.
* iloc[] metodu, tamsayı indeksleriyle çalışır ve sonucu daima tamsayı indeksleri içeren bir DataFrame olarak döndürür.
* İşlem sonucunda belirtilen tamsayı indeksleri içeren satır ve sütunlardan oluşan bir alt küme elde edilir.

In [162]:
import pandas as pd

# DataFrame oluşturalım
data = {
    'Ad': ['John', 'Jane', 'Mike', 'Emily'],
    'Yaş': [25, 30, 22, 28],
    'Şehir': ['New York', 'London', 'Paris', 'Sydney']
}

df = pd.DataFrame(data)

# loc[] ile etiket tabanlı işlem yapalım:

df.loc[0:3,"Yaş"]   # Etiket tabanlı olarak 'Jane' satırını alır

0    25
1    30
2    22
3    28
Name: Yaş, dtype: int64

In [163]:
# iloc[] ile tamsayı tabanlı işlem yapalım:

df.iloc[0:3]   # Tamsayı tabanlı olarak 1. indeksteki satırı alır

     Ad  Yaş     Şehir
0  John   25  New York
1  Jane   30    London
2  Mike   22     Paris

In [164]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [165]:
# iloc: integer tabanlı seçim;

df.iloc[0:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [166]:
df.iloc[0, 0]

1

In [167]:
# loc: etiket tabanlı seçim;

df.loc[0:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [168]:
df.iloc[0:3, 0:3]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1
2            3         1       3

In [169]:
df.loc[0:3, "Age"] # satır veya indekslerde değerlerin bizzat kendisine göre seçmek istersek

0    22.0
1    38.0
2    26.0
3    35.0
Name: Age, dtype: float64

<a id = "20"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Koşullu Eleman İşlemleri </h1>

Pandas DataFrame'de koşullu eleman işlemleri, belirli koşullara göre veri seçmek, filtrelemek veya değiştirmek için kullanılan işlemlerdir. DataFrame içindeki verileri daha iyi anlamak ve manipüle etmek için koşullu eleman işlemleri oldukça önemlidir. İşte DataFrame'de yaygın olarak kullanılan koşullu eleman işlemleri:

1. **Seçme (Selection):**

DataFrame'de belirli bir koşulu sağlayan elemanları seçmek için kullanılır.
Bu, DataFrame'i filtrelemek veya belirli verileri analiz etmek için kullanışlıdır.

2. **Filtreleme (Filtering):**

DataFrame içindeki belirli bir koşulu sağlayan elemanları filtrelemek için kullanılır.
Filtreleme işlemi sonucunda, DataFrame içinde sadece belirli koşulu sağlayan veriler kalır.

3. **Yeniden Düzenleme (Reassignment):**

DataFrame içinde belirli bir koşulu sağlayan elemanları belirli bir değerle değiştirmek için kullanılır.
Bu, DataFrame'deki verileri güncellemek veya düzenlemek için kullanışlıdır.

4. **NaN Değerlerini İşleme (Handling NaN Values):**

DataFrame'de NaN (Not a Number) değerlerini belirli bir değerle değiştirmek veya kaldırmak için kullanılır.
Bu, eksik veya geçersiz verilerle başa çıkmak için kullanışlıdır.

---------------------------------------

In [170]:
import pandas as pd

# DataFrame oluşturalım:

data = {
    'Name': ['John', 'Jane', 'Mike', 'Emily'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'London', 'Paris', 'Sydney']
}

df = pd.DataFrame(data)

# Yaşı 25'ten büyük olan kişileri seçme:

df[df['Age'] > 25]

    Name  Age    City
1   Jane   30  London
3  Emily   28  Sydney

In [171]:
# Paris'te yaşayan kişileri seçme:

df[df['City'] == 'Paris']

   Name  Age   City
2  Mike   22  Paris

In [172]:
# Şehri "London" olan kişileri filtreleme:

df[df['City'] == 'London']

   Name  Age    City
1  Jane   30  London

In [173]:
# Yaşı 25'ten büyük olan kişileri filtreleme:

df[df['Age'] > 25]

    Name  Age    City
1   Jane   30  London
3  Emily   28  Sydney

In [174]:
# "Jane" adlı kişinin yaşı 35 olarak güncelleme:

df.loc[df['Name'] == 'Jane', 'Age'] = 35

df

    Name  Age      City
0   John   25  New York
1   Jane   35    London
2   Mike   22     Paris
3  Emily   28    Sydney

In [175]:
# "Emily" adlı kişinin şehrini "Los Angeles" olarak güncelleme:

df.loc[df['Name'] == 'Emily', 'City'] = 'Los Angeles'

df

    Name  Age         City
0   John   25     New York
1   Jane   35       London
2   Mike   22        Paris
3  Emily   28  Los Angeles

In [176]:
# NaN değerleri "Bilinmiyor" ile değiştirme:

df.fillna('Bilinmiyor', inplace=True)

In [177]:
# NaN değerleri içeren satırları kaldırma:

df.dropna(inplace=True)

--------------------------------

In [178]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [179]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [180]:
df.loc[df["Age"] > 50, ["Age", "Pclass"]].head()

     Age  Pclass
6   54.0       1
11  58.0       1
15  55.0       2
33  66.0       2
54  65.0       1

In [181]:
df.loc[(df["Age"] > 50) & (df["Sex"] == "male"), ["Age", "Pclass"]].head()

     Age  Pclass
6   54.0       1
33  66.0       2
54  65.0       1
94  59.0       3
96  71.0       1

In [182]:
df.loc[(df["Age"] > 50) & (df["Sex"] == "male") & ((df["Embarked"] == "C") | (df["Embarked"] == "S")), ["Age", "Pclass", "Embarked"]].head()

     Age  Pclass Embarked
6   54.0       1        S
33  66.0       2        S
54  65.0       1        C
94  59.0       3        S
96  71.0       1        C

<a id = "21"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Birleştirme İşlemleri </h1>

Farklı DataFrame'leri tek bir DataFrame içinde birleştirmek için kullanılır. Bu işlemler, verileri farklı yollarla bir araya getirerek analiz ve işlemleri kolaylaştırır. Pandas, DataFrame birleştirme işlemleri için **concat(), merge(), ve join()** gibi yöntemler sağlar.

1. **concat():** verilen DataFrame'leri belirtilen eksende (satır veya sütun) birleştirmek için kullanılır. Eksende birleştirme işlemi yapar ve verileri yan yana (satırlar halinde) veya alt alta (sütunlar halinde) ekler.

2. **merge():** verilen DataFrame'leri belirli sütunlarda birleştirmek için kullanılır. Bu yöntem, SQL'deki "join" işlemine benzer ve çakışan sütunlarda verileri birleştirir.

3. **join():** iki DataFrame'yi birleştirmek için kullanılır, ancak merge() yönteminden farklı olarak, DataFrame'lerin indeksleri üzerinden birleştirme yapar.

---

In [183]:
import pandas as pd

# DataFrame'ler oluşturalım:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2'],
                    'C': ['C0', 'C1', 'C2']},
                   index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5'],
                    'C': ['C3', 'C4', 'C5']},
                   index=[3, 4, 5])

In [184]:
df1

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [185]:
df2

    A   B   C
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

In [186]:
# DataFrame'leri satırlar halinde birleştirme:

result_concat_row = pd.concat([df1, df2])

result_concat_row

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

In [187]:
# DataFrame'leri sütunlar halinde birleştirme:

result_concat_column = pd.concat([df1, df2], axis=1)

result_concat_column

     A    B    C    A    B    C
0   A0   B0   C0  NaN  NaN  NaN
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2  NaN  NaN  NaN
3  NaN  NaN  NaN   A3   B3   C3
4  NaN  NaN  NaN   A4   B4   C4
5  NaN  NaN  NaN   A5   B5   C5

---

In [188]:
import pandas as pd

# DataFrame'ler oluşturalım:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2'],
                    'key': ['K0', 'K1', 'K2']})

df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                    'D': ['D0', 'D1', 'D2'],
                    'key': ['K0', 'K1', 'K2']})

In [189]:
df1

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2

In [190]:
df2

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2

In [191]:
# 'key' sütununa göre DataFrame'leri birleştirme:

result_merge = pd.merge(df1, df2, on='key')

result_merge

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2

---

In [192]:
# DataFrame'ler oluşturalım:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']},
                   index=['K0', 'K1', 'K2'])

df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                    'D': ['D0', 'D1', 'D2']},
                   index=['K0', 'K1', 'K3'])

In [193]:
df1

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [194]:
df2

     C   D
K0  C0  D0
K1  C1  D1
K3  C2  D2

In [195]:
# Indeksler üzerinden DataFrame'leri birleştirme:

result_join = df1.join(df2, how='outer')

result_join

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1   C1   D1
K2   A2   B2  NaN  NaN
K3  NaN  NaN   C2   D2

---

In [196]:
df1 = pd.DataFrame({'employees': ['john', 'dennis', 'mark', 'maria'],
                    'group': ['accounting', 'engineering', 'engineering', 'hr']})

df2 = pd.DataFrame({'employees': ['mark', 'john', 'dennis', 'maria'],
                    'start_date': [2010, 2009, 2014, 2019]})

In [197]:
df1

  employees        group
0      john   accounting
1    dennis  engineering
2      mark  engineering
3     maria           hr

In [198]:
df2

  employees  start_date
0      mark        2010
1      john        2009
2    dennis        2014
3     maria        2019

In [199]:
pd.merge(df1, df2, on="employees")

  employees        group  start_date
0      john   accounting        2009
1    dennis  engineering        2014
2      mark  engineering        2010
3     maria           hr        2019

In [200]:
df3 = pd.merge(df1, df2)

In [201]:
df4 = pd.DataFrame({'group': ['accounting', 'engineering', 'hr'],
                    'manager': ['Caner', 'Mustafa', 'Berkcan']})

In [202]:
pd.merge(df3, df4)

  employees        group  start_date  manager
0      john   accounting        2009    Caner
1    dennis  engineering        2014  Mustafa
2      mark  engineering        2010  Mustafa
3     maria           hr        2019  Berkcan

<a id = "22"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Toplulaştırma ve Gruplama </h1>

**1. Gruplandırma İşlemleri**

Pandas DataFrame gruplandırma işlemleri, verileri belirli sütunlara veya birden çok sütuna göre gruplara ayırmayı ve her grup üzerinde bağımsız olarak işlem yapmayı içerir. Gruplama, her grup içindeki verileri ayrı ayrı analiz etmenize ve özetlemenize olanak tanır.

Ardından, verileri bir veya daha fazla sütuna göre gruplandırmak için DataFrame'in groupby() yöntemini kullanabilirsiniz. groupby() yöntemi, gruplanmış verileri temsil eden bir DataFrameGroupBy nesnesi döndürür.

Gruplandırılmış DataFrame'e sahip olduğunuzda, üzerinde çeşitli toplama veya dönüştürme işlemleri gerçekleştirebilirsiniz. Toplama işlevleri, her grup için özet istatistikleri hesaplarken, dönüştürme işlevleri grup bazında işlemler gerçekleştirir ve orijinaliyle aynı şekle sahip bir DataFrame döndürür.

**2. Toplulaştırma (Aggregation) Fonksiyonları**

Pandastaki DataFrame toplama işlevleri, gruplandırma işlemlerini gerçekleştirdikten sonra her gruptaki verilerle ilgili özet istatistikleri hesaplamak için kullanılır. Bu işlevler, verileri her grup için tek bir değerde toplayarak, belirli kategorilere veya gruplara dayalı olarak verileri hızlı bir şekilde analiz etmenize ve özetlemenize olanak tanır.

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>💡 Notlar: </font></h3>

* **sum():** Her gruptaki değerlerin toplamını hesaplar.
* **mean():** Her gruptaki değerlerin ortalamasını (ortalama) hesaplar.
* **median():** Her gruptaki değerlerin medyanını hesaplar.
* **min():** Her gruptaki minimum değeri hesaplar.
* **max():** Her gruptaki maksimum değeri hesaplar.
* **count():** Her gruptaki oluşum sayısını sayar.
* **first():** Her grubun ilk elemanını döndürür.
* **last():** Her grubun son elemanını döndürür.
* **var():** Her grubun varyansını hesaplar.
* **std():** Her grubun standart sapmasını hesaplar.

In [203]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 20, 15, 25, 5, 30]
}

df = pd.DataFrame(data)

In [204]:
df.groupby('Category')['Value'].sum()

Category
A    35
B    70
Name: Value, dtype: int64

In [205]:
df.groupby('Category')['Value'].mean()

Category
A    11.666667
B    23.333333
Name: Value, dtype: float64

In [206]:
df.groupby('Category')['Value'].median()

Category
A    10.0
B    25.0
Name: Value, dtype: float64

In [207]:
df.groupby('Category')['Value'].min()

Category
A     5
B    15
Name: Value, dtype: int64

In [208]:
df.groupby('Category')['Value'].max()

Category
A    20
B    30
Name: Value, dtype: int64

In [209]:
df.groupby('Category')['Value'].count()

Category
A    3
B    3
Name: Value, dtype: int64

In [210]:
df.groupby('Category')['Value'].first()

Category
A    10
B    15
Name: Value, dtype: int64

In [211]:
df.groupby('Category')['Value'].last()

Category
A     5
B    30
Name: Value, dtype: int64

In [212]:
df.groupby('Category')['Value'].var()

Category
A    58.333333
B    58.333333
Name: Value, dtype: float64

In [213]:
df.groupby('Category')['Value'].std()

Category
A    7.637626
B    7.637626
Name: Value, dtype: float64

---

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>💡 Notlar: </font></h3>

* **aggregate():** Pandas'daki aggregate() fonksiyonu, DataFrame içindeki verilere toplulaştırma işlemleri uygulamak için kullanılır. Bu fonksiyon, aynı anda farklı sütunlara birden fazla toplulaştırma işlevi uygulamanıza olanak tanır. aggregate() fonksiyonuna, sütun adları ve karşılık gelen toplulaştırma işlevlerini içeren bir sözlük geçirebilirsiniz.

* **filter():** DataFrame içinden belirli koşullara uygun verileri filtrelemek için kullanılır. Bu fonksiyon, bir işlev, koşul veya belirli değerlerin varlığına dayanarak DataFrame'in satırlarını veya sütunlarını filtrelemenize olanak tanır.

* **apply():** DataFrame'in eksen boyunca bir işlevi uygulamak için kullanılır. Bu fonksiyon, DataFrame'in her satırı veya sütunu üzerinde özel bir işlev uygulamanıza olanak tanır.

---

In [214]:
import pandas as pd

veri = {
    'Kategori': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Deger': [10, 20, 15, 25, 5, 30]
}

df = pd.DataFrame(veri)

In [215]:
# 'Deger' sütununa birden fazla toplulaştırma işlevi uygulayalım:

df.groupby('Kategori').agg({'Deger': ['sum', 'mean', 'max']})

         Deger
           sum       mean max
Kategori
A           35  11.666667  20
B           70  23.333333  30

In [216]:
# 'Deger' sütununda her gruptaki toplam değeri 40'tan büyük olan satırları filtreleyelim:

df.groupby('Kategori').filter(lambda x: x['Deger'].sum() > 40)

  Kategori  Deger
2        B     15
3        B     25
5        B     30

---

In [217]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [218]:
df["Age"].mean()

29.69911764705882

In [219]:
df.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [220]:
df.groupby("Sex").agg({"Age": ["mean", "sum"]})

              Age
             mean       sum
Sex
female  27.915709   7286.00
male    30.726645  13919.17

In [221]:
df.groupby("Sex").agg({"Age": ["mean", "sum"],"Survived": "mean"})

              Age            Survived
             mean       sum      mean
Sex
female  27.915709   7286.00  0.742038
male    30.726645  13919.17  0.188908

In [222]:
df.groupby(["Sex", "Embarked"]).agg({"Age": ["mean"],"Survived": "mean"})

                       Age  Survived
                      mean      mean
Sex    Embarked
female C         28.344262  0.876712
       Q         24.291667  0.750000
       S         27.771505  0.689655
male   C         32.998841  0.305263
       Q         30.937500  0.073171
       S         30.291440  0.174603

In [223]:
df.groupby(["Sex", "Embarked", "Pclass"]).agg({"Age": ["mean"],"Survived": "mean","Sex": "count"})

                              Age  Survived   Sex
                             mean      mean count
Sex    Embarked Pclass
female C        1       36.052632  0.976744    43
                2       19.142857  1.000000     7
                3       14.062500  0.652174    23
       Q        1       33.000000  1.000000     1
                2       30.000000  1.000000     2
                3       22.850000  0.727273    33
       S        1       32.704545  0.958333    48
                2       29.719697  0.910448    67
                3       23.223684  0.375000    88
male   C        1       40.111111  0.404762    42
                2       25.937500  0.200000    10
                3       25.016800  0.232558    43
       Q        1       44.000000  0.000000     1
                2       57.000000  0.000000     1
                3       28.142857  0.076923    39
       S        1       41.897188  0.354430    79
                2       30.875889  0.154639    97
                3       26.574766  0.128302   265

---

In [224]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [225]:
df["Age2"] = df["Age"]*2
df["Age3"] = df["Age"]*5

In [226]:
for col in df.columns:
    if "Age" in col:
        print(col)

for col in df.columns:
    if "Age" in col:
        print((df[col]/10).head())

for col in df.columns:
    if "Age" in col:
        df[col] = df[col]/10

Age
Age2
Age3
0    2.2
1    3.8
2    2.6
3    3.5
4    3.5
Name: Age, dtype: float64
0    4.4
1    7.6
2    5.2
3    7.0
4    7.0
Name: Age2, dtype: float64
0    11.0
1    19.0
2    13.0
3    17.5
4    17.5
Name: Age3, dtype: float64

In [227]:
df[["Age", "Age2", "Age3"]].apply(lambda x: x/10).head()

    Age  Age2  Age3
0  0.22  0.44  1.10
1  0.38  0.76  1.90
2  0.26  0.52  1.30
3  0.35  0.70  1.75
4  0.35  0.70  1.75

In [228]:
df.loc[:, df.columns.str.contains("Age")].apply(lambda x: x/10).head()

    Age  Age2  Age3
0  0.22  0.44  1.10
1  0.38  0.76  1.90
2  0.26  0.52  1.30
3  0.35  0.70  1.75
4  0.35  0.70  1.75

In [229]:
df.loc[:, df.columns.str.contains("Age")].apply(lambda x: (x - x.mean()) / x.std()).head()

        Age      Age2      Age3
0 -0.530005 -0.530005 -0.530005
1  0.571430  0.571430  0.571430
2 -0.254646 -0.254646 -0.254646
3  0.364911  0.364911  0.364911
4  0.364911  0.364911  0.364911

In [230]:
def standart_scaler(col_name):
    return (col_name - col_name.mean()) / col_name.std()

df.loc[:, df.columns.str.contains("Age")].apply(standart_scaler).head()

        Age      Age2      Age3
0 -0.530005 -0.530005 -0.530005
1  0.571430  0.571430  0.571430
2 -0.254646 -0.254646 -0.254646
3  0.364911  0.364911  0.364911
4  0.364911  0.364911  0.364911

----

In [231]:
data = sns.load_dataset("tips")

data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [232]:
data.groupby('time').agg({"total_bill" : ['sum', 'min', 'max', 'mean']})

       total_bill
              sum   min    max       mean
time
Lunch     1167.47  7.51  43.11  17.168676
Dinner    3660.30  3.07  50.81  20.797159

In [233]:
data.groupby(["day","time"]).agg({"total_bill" :['sum', 'min', 'max', 'mean']})

            total_bill
                   sum    min    max       mean
day  time
Thur Lunch     1077.55   7.51  43.11  17.664754
     Dinner      18.78  18.78  18.78  18.780000
Fri  Lunch       89.92   8.58  16.27  12.845714
     Dinner     235.96   5.75  40.17  19.663333
Sat  Lunch        0.00    NaN    NaN        NaN
     Dinner    1778.40   3.07  50.81  20.441379
Sun  Lunch        0.00    NaN    NaN        NaN
     Dinner    1627.16   7.25  48.17  21.410000

In [234]:
data1 = data[(data['time'] == 'Lunch') & (data['sex'] == 'Female')]

data1.groupby(["day"]).agg({"total_bill" : ['sum', 'min', 'max', 'mean'], "tip" : ['sum', 'min', 'max', 'mean']})

     total_bill                            tip
            sum    min    max      mean    sum   min   max      mean
day
Thur     516.11   8.35  43.11  16.64871  79.42  1.25  5.17  2.561935
Fri       55.76  10.09  16.27  13.94000  10.98  2.00  3.48  2.745000
Sat        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN
Sun        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN

In [235]:
data[(data["size"] < 3) & (data["total_bill"] > 10)].agg({"total_bill" : ["mean"]})

      total_bill
mean   17.184965

In [236]:
data["total_bill_tip_sum"] = data['total_bill'] + data['tip']

In [237]:
data.sort_values(by = "total_bill_tip_sum",ascending=False, ignore_index=True).head(10)

   total_bill    tip     sex smoker   day    time  size  total_bill_tip_sum
0       50.81  10.00    Male    Yes   Sat  Dinner     3               60.81
1       48.33   9.00    Male     No   Sat  Dinner     4               57.33
2       48.27   6.73    Male     No   Sat  Dinner     4               55.00
3       48.17   5.00    Male     No   Sun  Dinner     6               53.17
4       45.35   3.50    Male    Yes   Sun  Dinner     3               48.85
5       43.11   5.00  Female    Yes  Thur   Lunch     4               48.11
6       39.42   7.58    Male     No   Sat  Dinner     4               47.00
7       44.30   2.50  Female    Yes   Sat  Dinner     3               46.80
8       41.19   5.00    Male     No  Thur   Lunch     5               46.19
9       40.17   4.73    Male    Yes   Fri  Dinner     4               44.90

<a id = "23"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Pivot Tablosu </h1>

Pandas'da, bir veri kümesini özetlemek ve yeniden şekillendirmek için kullanılan güçlü bir veri işleme aracıdır. pivot_table() fonksiyonu, bir DataFrame'i alır ve belirtilen kriterlere göre satırları ve sütunları yeniden düzenleyerek yeni bir DataFrame döndürür.

pivot_table() fonksiyonunun yaygın kullanılan argümanları aşağıdaki gibidir:

In [238]:
# pd.pivot_table(
#     data,               # Pivot tablosunun oluşturulacağı DataFrame
#     values=None,        # Toplulaştırılacak sütun. Birden çok sütun için liste kullanılabilir.
#     index=None,         # Pivot tablosunun satırlarında kullanılacak sütun(lar).
#     columns=None,       # Pivot tablosunun sütunlarında kullanılacak sütun(lar).
#     aggfunc='mean',     # Toplulaştırma için kullanılacak işlev(ler). Varsayılan 'mean'.
#     fill_value=None,    # Eksik değerlerin yerine kullanılacak değer. Varsayılan None.
#     margins=False,      # True ise toplam satırı ve sütunu ekler. Varsayılan False.
#     margins_name='All'  # Toplam satırının/sütunun adı. Varsayılan 'All'.
# )

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>💡 Notlar: </font></h3>

* **data:** Pivot tablosunun oluşturulacağı DataFrame.
* **values:** Özet istatistiklerin hesaplanacağı sütun(lar). Tek bir sütun veya birden çok sütun için liste kullanılabilir.
* **index:** Pivot tablosunun satırlarını oluşturacak sütun(lar).
* **columns:** Pivot tablosunun sütunlarını oluşturacak sütun(lar).
* **aggfunc:** Değerler için uygulanacak toplulaştırma işlevi(ler). Varsayılan olarak 'mean' (ortalama), ancak 'sum', 'count', 'min', 'max' veya özel işlevler de kullanılabilir.
* **fill_value:** Elde edilen pivot tablosundaki eksik veya NaN değerlerin yerine geçecek değer.
* **margins:** True olarak ayarlanırsa, toplam satırını ve sütununu içeren bir satır ve sütun ekler. Varsayılan değeri False.
* **margins_name:** Toplam satırının/sütunun adı. Varsayılan değeri 'All'.

In [239]:
# Örnek olarak, satış verilerini içeren bir DataFrame düşünelim:

import pandas as pd

veri = {
    'Kategori': ['Elektronik', 'Giyim', 'Elektronik', 'Giyim', 'Elektronik', 'Giyim'],
    'Şehir': ['New York', 'New York', 'Los Angeles', 'Los Angeles', 'Chicago', 'Chicago'],
    'Satışlar': [1000, 500, 800, 300, 600, 200]
}

df = pd.DataFrame(veri)

In [240]:
# Bu DataFrame üzerinden her kategori ve şehir için toplam satışları içeren bir pivot tablosu oluşturalım:

pivot_tablosu = pd.pivot_table(df, values='Satışlar', index='Kategori', columns='Şehir', aggfunc='sum')

pivot_tablosu

Şehir       Chicago  Los Angeles  New York
Kategori
Elektronik      600          800      1000
Giyim           200          300       500

---

In [241]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [242]:
df.pivot_table("Survived", "Sex", "Embarked")

Embarked         C         Q         S
Sex
female    0.876712  0.750000  0.689655
male      0.305263  0.073171  0.174603

In [243]:
df.pivot_table("Survived", "Sex", ["Embarked", "Pclass"])

Embarked         C                   Q                        S            \
Pclass           1    2         3    1    2         3         1         2
Sex
female    0.976744  1.0  0.652174  1.0  1.0  0.727273  0.958333  0.910448
male      0.404762  0.2  0.232558  0.0  0.0  0.076923  0.354430  0.154639

Embarked
Pclass           3
Sex
female    0.375000
male      0.128302

In [244]:
df["new_age"] = pd.cut(df["Age"], [0, 10, 18, 25, 40, 90])

In [245]:
df.pivot_table("Survived", "Sex", ["new_age", "Pclass"])

new_age (0, 10]                 (10, 18]                 (18, 25]            \
Pclass        1    2         3         1    2         3         1         2
Sex
female      0.0  1.0  0.500000  1.000000  1.0  0.523810  0.941176  0.933333
male        1.0  1.0  0.363636  0.666667  0.0  0.103448  0.333333  0.047619

new_age            (25, 40]                      (40, 90]
Pclass          3         1         2         3         1         2         3
Sex
female   0.500000  1.000000  0.906250  0.464286  0.961538  0.846154  0.111111
male     0.115385  0.513514  0.071429  0.172043  0.280000  0.095238  0.064516

<a id = "24"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Veri Okuma </h1>

Pandas'da, CSV (Virgülle Ayrılmış Değerler) dosyasından veri okumak ve DataFrame oluşturmak için kullanılan read_csv() fonksiyonudur. Pandas'ta dış kaynaklardan veri almak için en sık kullanılan fonksiyonlardan biridir. İşte read_csv() fonksiyonunun yaygın kullanılan argümanları ile sözdizimi:

In [246]:
# pd.read_csv(
#     filepath_or_buffer, # CSV dosyasının yolu veya URL'si veya CSV verisini içeren dosya benzeri bir nesne.
#     sep=',',            # CSV dosyasında değerleri ayırmak için kullanılan ayraç. Varsayılan değeri ','.
#     header='infer',     # Sütun isimleri olarak kullanılacak satır numarası(ları). Varsayılan değeri 'infer'.
#     names=None,         # Kullanılacak sütun isimlerinin listesi. Belirtilmezse, sütun adları satır(lar) olarak kullanılır.
#     index_col=None,     # DataFrame'in indeks (satır etiketleri) olarak kullanılacak sütun(lar). Varsayılan değeri None.
#     usecols=None,       # Dosyadan okunacak sütun isimlerinin listesi. Varsayılan değeri None (tüm sütunları okur).
#     dtype=None,         # Belirtilen sütunlar için zorlanacak veri türü.
#     parse_dates=False,  # Tarih olarak ayrıştırılacak sütunların listesi. Varsayılan değeri False (tarih ayrıştırma yok).
#     na_values=None,     # NaN (Not a Number) değeri olarak kabul edilecek ekstra değerler.
#     skiprows=None,      # Dosyanın başlangıcında atlanacak satır sayısı.
#     nrows=None,         # Dosyadan okunacak satır sayısı.
#     skip_blank_lines=True,  # True ise, boş satırları atlar ve NaN değeri olarak yorumlar.
#     encoding='utf-8',   # Dosya kodlaması (örn. 'utf-8', 'latin-1' vb.). Varsayılan değeri 'utf-8'.
#     thousands=None,     # Sayısal verileri ayrıştırırken binler ayracı olarak kullanılacak karakter.
#     decimal='.',        # Sayısal verileri ayrıştırırken ondalık ayracı olarak kullanılacak karakter.
#     header=None,        # Sütun isimleri olarak kullanılacak satır numarası(ları) (kullanım dışı; yerine `header='infer'` kullanın).
#     comment=None,       # Yorum belirteci olarak kullanılacak karakter(ler). Bu karakterle başlayan satırlar yorum olarak kabul edilir.
#     skipfooter=0,       # Dosyanın sonundaki satır sayısı.
#     engine='c',         # Kullanılacak ayrıştırma motoru. 'c' motoru daha hızlıdır, 'python' motoru ise daha özelliklidir.
# )

<a id = "25"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Kural Tabanlı Sınıflandırma </h1>

In [247]:
df = pd.read_csv("/kaggle/input/persona/week_02_data.csv")

*** İlk Bakış**

In [248]:
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [249]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [250]:
df.describe().T

        count     mean        std   min   25%   50%   75%   max
PRICE  5000.0  34.1320  12.464897   9.0  29.0  39.0  39.0  59.0
AGE    5000.0  23.5814   8.995908  15.0  17.0  21.0  27.0  66.0

In [251]:
df.isnull().sum()

PRICE      0
SOURCE     0
SEX        0
COUNTRY    0
AGE        0
dtype: int64

In [252]:
df.describe(include=[object]).T

        count unique      top  freq
SOURCE   5000      2  android  2974
SEX      5000      2   female  2621
COUNTRY  5000      6      usa  2065

* **Kaç unique SOURCE vardır? Frekansları nedir?**

In [253]:
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [254]:
df["SOURCE"].mode()

0    android
Name: SOURCE, dtype: object

* **Kaç unique PRICE vardır?**

In [255]:
df["PRICE"].nunique()

6

* **PRICE miktarlarının satış adetleri?**

In [256]:
df["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

* **Hangi ülkeden kaçar tane satış olmuş?**

In [257]:
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

* **Ülkelere göre satışlardan toplam ne kadar kazanılmış?**

In [258]:
df.groupby("COUNTRY").agg({"PRICE": "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [259]:
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [260]:
df.groupby("COUNTRY")[["PRICE"]].sum()

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [261]:
df.pivot_table("PRICE","COUNTRY",aggfunc="sum")

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

* **SOURCE türlerine göre satış sayıları nedir?**

In [262]:
df.groupby("SOURCE")["SOURCE"].agg([("Satış_Sayısı","count")])

         Satış_Sayısı
SOURCE
android          2974
ios              2026

In [263]:
df.groupby("SOURCE").agg({"SOURCE": "count"})

         SOURCE
SOURCE
android    2974
ios        2026

In [264]:
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

* **Ülkelere göre PRICE ortalamaları nedir?**

In [265]:
df.groupby("COUNTRY")["PRICE"].agg([("Fiyat_Ortalamaları","mean")])

         Fiyat_Ortalamaları
COUNTRY
bra               34.327540
can               33.608696
deu               34.032967
fra               33.587459
tur               34.787140
usa               34.007264

In [266]:
df.groupby("COUNTRY").agg({"PRICE": "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [267]:
df.groupby("COUNTRY")["PRICE"].mean()

COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

In [268]:
df.pivot_table("PRICE","COUNTRY",aggfunc="mean")

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

* **SOURCE'lara göre PRICE ortalamaları nedir?**

In [269]:
df.groupby("SOURCE")["PRICE"].agg([("Fiyat_Ortalamaları","mean")])

         Fiyat_Ortalamaları
SOURCE
android           34.174849
ios               34.069102

In [270]:
df.groupby("SOURCE").agg({"PRICE": "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [271]:
df.groupby("SOURCE")["PRICE"].mean()

SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

In [272]:
df.pivot_table("PRICE","SOURCE",aggfunc="mean")

             PRICE
SOURCE
android  34.174849
ios      34.069102

* **COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?**

In [273]:
df.groupby(["COUNTRY","SOURCE"])["PRICE"].agg([("Fiyat_Ortalamaları","mean")])

                 Fiyat_Ortalamaları
COUNTRY SOURCE
bra     android           34.387029
        ios               34.222222
can     android           33.330709
        ios               33.951456
deu     android           33.869888
        ios               34.268817
fra     android           34.312500
        ios               32.776224
tur     android           36.229437
        ios               33.272727
usa     android           33.760357
        ios               34.371703

In [274]:
df.groupby(["COUNTRY","SOURCE"]).agg({"PRICE": "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [275]:
df.groupby(["COUNTRY","SOURCE"])["PRICE"].mean()

COUNTRY  SOURCE
bra      android    34.387029
         ios        34.222222
can      android    33.330709
         ios        33.951456
deu      android    33.869888
         ios        34.268817
fra      android    34.312500
         ios        32.776224
tur      android    36.229437
         ios        33.272727
usa      android    33.760357
         ios        34.371703
Name: PRICE, dtype: float64

In [276]:
df.pivot_table("PRICE",["COUNTRY","SOURCE"],aggfunc="mean")

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

* **COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?**

In [277]:
df.groupby(["COUNTRY","SOURCE","SEX","AGE"])["PRICE"].agg([("Kazanç_Ortalamaları","mean")]).head()

                            Kazanç_Ortalamaları
COUNTRY SOURCE  SEX    AGE
bra     android female 15             38.714286
                       16             35.944444
                       17             35.666667
                       18             32.255814
                       19             35.206897

In [278]:
df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE": "mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

In [279]:
df.pivot_table("PRICE",["COUNTRY","SOURCE","SEX","AGE"],aggfunc="mean").head()

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897

In [280]:
[df.groupby(["COUNTRY","SOURCE","SEX","AGE"])[["PRICE"]].mean().apply(lambda x : x.loc[[i]].head(5)) for i in set(df.COUNTRY)]

[                                PRICE
 COUNTRY SOURCE  SEX    AGE
 bra     android female 15   38.714286
                        16   35.944444
                        17   35.666667
                        18   32.255814
                        19   35.206897,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 usa     android female 15   32.666667
                        16   34.901639
                        17   34.625000
                        18   32.404255
                        19   35.764706,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 fra     android female 15   37.571429
                        16   36.727273
                        17   34.652174
                        19   27.333333
                        21   39.000000,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 can     android female 15   25.666667
                        16   29.689655
                        18   37.333333
                        19   32.529412
                        20   31.500000,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 tur     android female 15   41.000000
                        16   34.555556
                        17   33.687500
                        18   41.500000
                        19   31.000000,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 deu     android female 15   32.000000
                        16   27.000000
                        17   33.736842
                        21   31.000000
                        22   35.000000]

* **Çıktıyı PRICE'a göre sıralayınız.**

In [281]:
agg_df = df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE": "mean"}).sort_values(by="PRICE",ascending=False)

* **Indekste yer alan isimleri değişken ismine çeviriniz.**

In [282]:
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

In [283]:
agg_df.reset_index(inplace=True)

In [284]:
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

* **AGE değişkenini kategorik değişkene çeviriniz ve agg_df'e ekleyiniz.**

In [285]:
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"],bins=[0,18,23,30,40,agg_df["AGE"].max()],
                                        labels=['0_18', '19_23', '24_30', '31_40', f'41_{agg_df["AGE"].max()}'])

In [286]:
agg_df["AGE_CAT"].value_counts()

24_30    78
0_18     77
19_23    71
31_40    65
41_66    57
Name: AGE_CAT, dtype: int64

* **Yeni level based müşterileri tanımlayınız ve veri setine değişken olarak ekleyiniz.**

In [287]:
agg_df["customers_level_based"] = [f"{COUNTRY}_{SOURCE}_{SEX}_{AGE_CAT}".upper()
                                 for COUNTRY,SOURCE,SEX,AGE_CAT
                                 in zip(agg_df["COUNTRY"],agg_df["SOURCE"],agg_df["SEX"],agg_df["AGE_CAT"])]

In [288]:
agg_df["customers_level_based"] = [f"{i[0]}_{i[1]}_{i[2]}_{i[5]}".upper() for i in agg_df.values]

In [289]:
agg_df['customers_level_based'] = agg_df[['COUNTRY', 'SOURCE', 'SEX', 'AGE_CAT']].agg(lambda x: '_'.join(x).upper(), axis=1)

In [290]:
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE":"mean"})

* **Yeni müşterileri (USA_ANDROID_MALE_0_18) segmentlere ayırınız.**

In [291]:
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"],q=4,labels=["D","C","B","A"])

* **Yeni gelen müşterileri sınıflandırınız ne kadar gelir getirebileceğini tahmin ediniz.**

In [292]:
resetli_df = agg_df.reset_index()

In [293]:
new_customer = "TUR_ANDROID_FEMALE_31_40"

In [294]:
agg_df.loc[new_customer]

PRICE      41.833333
SEGMENT            A
Name: TUR_ANDROID_FEMALE_31_40, dtype: object

In [295]:
resetli_df.head()

      customers_level_based      PRICE SEGMENT
0   BRA_ANDROID_FEMALE_0_18  35.645303       B
1  BRA_ANDROID_FEMALE_19_23  34.077340       C
2  BRA_ANDROID_FEMALE_24_30  33.863946       C
3  BRA_ANDROID_FEMALE_31_40  34.898326       B
4  BRA_ANDROID_FEMALE_41_66  36.737179       A

In [296]:
resetli_df[resetli_df["customers_level_based"]==new_customer][["PRICE","SEGMENT"]]

        PRICE SEGMENT
72  41.833333       A

* **All in One Fonksiyon**

In [297]:
df = pd.read_csv("/kaggle/input/persona/week_02_data.csv")

In [298]:
def all_in_one(df , customer):
    df = df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE": "mean"}).sort_values(by="PRICE",ascending=False).reset_index()
    df["AGE_CAT"] = pd.cut(df["AGE"], bins=[0, 18, 23, 30, 40, df["AGE"].max()],
                                        labels=['0_18', '19_23', '24_30', '31_40', f'41_{df["AGE"].max()}'])
    df["customers_level_based"] = [f"{i[0]}_{i[1]}_{i[2]}_{i[5]}".upper() for i in df.values]
    df = df.groupby("customers_level_based").agg({"PRICE": "mean"})
    df["SEGMENT"] = pd.qcut(df["PRICE"], q=4, labels=["D", "C", "B", "A"])
    df.reset_index(inplace=True)
    result = df[df["customers_level_based"] == customer][["PRICE", "SEGMENT"]]
    return (f"{new_customer} Ortalama Gelir: {result.iloc[0][0].round(2)}, Segment: {result.iloc[0][1]}")


new_customer = "TUR_ANDROID_FEMALE_31_40"
new_customer = "FRA_IOS_FEMALE_31_40"

all_in_one(df,new_customer)

'FRA_IOS_FEMALE_31_40 Ortalama Gelir: 32.82, Segment: C'