<h1 style="background-color:#fbb714;font-family:courier;font-size:350%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Veri ManipÃ¼lasyonu: NumPy & Pandas EÄŸitimi  </h1>

# Content:

1. [NumPy](#1)
    * [GiriÅŸ](#2)
    * [Dizi Nedir?](#3)
    * [Dizi OluÅŸturma](#4)
    * [Dizi Ã–zellikleri](#5)
    * [ReShape: Yeniden Åekillendirme](#6)
    * [Concatenation: BirleÅŸtirme](#7)
    * [Splitting: AyÄ±rma](#8)
    * [Sorting: SÄ±ralama](#9)
    * [Indeks Ä°ÅŸlemleri](#10)
    * [Alt KÃ¼melerde Ä°ÅŸlem Yapma](#11)
    * [KoÅŸullu Eleman Ä°ÅŸlemleri](#12)
    * [Matematiksel Ä°ÅŸlemler](#13)
1. [Pandas](#14)
    * [GiriÅŸ](#15)
    * [Seri OluÅŸturma](#16)
    * [DataFrame OluÅŸturma](#17)
    * [DataFrame Ä°ÅŸlemleri](#18)
    * [loc - iloc FarkÄ±](#19)
    * [KoÅŸullu Eleman Ä°ÅŸlemleri](#20)
    * [BirleÅŸtirme Ä°ÅŸlemleri](#21)
    * [ToplulaÅŸtÄ±rma ve Gruplama](#22)
    * [Pivot Tablosu](#23)
    * [Veri Okuma](#24)
    * [Kural TabanlÄ± SÄ±nÄ±flandÄ±rma](#25)

<a id = "1"></a><br>
<h1 style="background-color:#3d85c6;font-family:courier;font-size:300%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> NumPy </h1>

<a id = "2"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> GiriÅŸ </h1>

NumPy (Numerical Python), Python dilinde bilimsel hesaplamalar ve veri iÅŸleme iÃ§in kullanÄ±lan gÃ¼Ã§lÃ¼ bir kÃ¼tÃ¼phanedir. NumPy, Python'da yÃ¼ksek performanslÄ± Ã§ok boyutlu diziler (arrays) ve matematiksel fonksiyonlar iÃ§in temel veri yapÄ±sÄ± olan ndarray (N-dimensional array) saÄŸlar. Bu nedenle, NumPy, bÃ¼yÃ¼k miktarda veriyle Ã§alÄ±ÅŸan bilimsel ve mÃ¼hendislik uygulamalarÄ±nda Ã¶zellikle tercih edilen bir araÃ§tÄ±r.

NumPy'nin temel Ã¶zellikleri ÅŸunlardÄ±r:

* **Numpy Dizi:** NumPy, ndarray adÄ± verilen Ã§ok boyutlu dizileri temel veri yapÄ±sÄ± olarak kullanÄ±r. Bu Ã§ok boyutlu diziler, Python'Ä±n yerleÅŸik listelerinden daha hÄ±zlÄ± ve daha verimli bir ÅŸekilde veri saklama ve iÅŸleme olanaÄŸÄ± saÄŸlar. Numpy array'leri, vektÃ¶rler, matrisler ve daha karmaÅŸÄ±k veri yapÄ±larÄ± iÃ§in kullanÄ±labilir.

* **Broadcasting:** NumPy'de broadcasting, farklÄ± ÅŸekillere sahip array'ler Ã¼zerinde matematiksel iÅŸlemler yaparken, boyut uyumsuzluÄŸu sorunlarÄ±nÄ± otomatik olarak ele alarak iÅŸlemi gerÃ§ekleÅŸtirmenizi saÄŸlar. Bu, programlamayÄ± daha kolay ve esnek hale getirir.

* **HÄ±zlÄ± ve Verimli:** NumPy, C dilinde yazÄ±lmÄ±ÅŸ alt seviye kodlarÄ± kullanarak yÃ¼ksek performanslÄ± matematiksel iÅŸlemler gerÃ§ekleÅŸtirir. Bu, bÃ¼yÃ¼k veri kÃ¼meleri ve karmaÅŸÄ±k matematiksel hesaplamalarla uÄŸraÅŸan uygulamalarda performans artÄ±ÅŸÄ± saÄŸlar.

* **Matematiksel Fonksiyonlar:** NumPy, matematiksel fonksiyonlar, istatistik fonksiyonlar, rastgele sayÄ± Ã¼retme, doÄŸrusal cebir, integral ve tÃ¼rev alma gibi birÃ§ok matematiksel iÅŸlemi iÃ§eren kapsamlÄ± bir matematik kÃ¼tÃ¼phanesine sahiptir.

* **Veri Dizisi Ä°ÅŸlemleri:** NumPy, veri iÅŸleme ve manipÃ¼lasyonu iÃ§in zengin fonksiyonlara sahiptir. Veri dizileri Ã¼zerinde filtreleme, sÄ±ralama, yeniden ÅŸekillendirme, dÃ¶ndÃ¼rme, birleÅŸtirme gibi iÅŸlemler yapabilirsiniz.

NumPy, bilimsel hesaplamalardan veri analizine, makine Ã¶ÄŸrenmesinden gÃ¶rÃ¼ntÃ¼ iÅŸlemeye kadar birÃ§ok alanda yaygÄ±n olarak kullanÄ±lmaktadÄ±r. NumPy kÃ¼tÃ¼phanesi, Ã§oÄŸu veri bilimci ve araÅŸtÄ±rmacÄ±nÄ±n temel araÃ§larÄ±ndan biridir ve onlara gÃ¼Ã§lÃ¼ ve hÄ±zlÄ± bir ÅŸekilde veri manipÃ¼lasyonu ve analizi yapma imkanÄ± saÄŸlar.

<a id = "3"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Dizi Nedir? </h1>

Bir dizi, aynÄ± veri tÃ¼rÃ¼ndeki Ã¶ÄŸeleri bir araya getiren ve hepsini ardÄ±ÅŸÄ±k bir bellek bloÄŸunda depolayan bir veri yapÄ±sÄ±dÄ±r. Diziler, birden Ã§ok deÄŸeri veya veri Ã¶ÄŸesini tek bir isim altÄ±nda tutmak iÃ§in kullanÄ±lÄ±r. Bir dizideki her bir Ã¶ÄŸe, dizideki konumunu belirleyen bir indeks tarafÄ±ndan tanÄ±mlanÄ±r. Bu indeks, Ã¶ÄŸenin dizideki konumunu belirtmek iÃ§in kullanÄ±lan bir tamsayÄ± deÄŸeridir.

Programlamada, diziler aynÄ± tÃ¼rdeki verileri etkin bir ÅŸekilde depolamak ve eriÅŸmek iÃ§in Ã¶nemlidir. Ã‡eÅŸitli programlama dillerinde, veri koleksiyonlarÄ±yla, matematiksel hesaplamalarla ve bilgileri dÃ¼zenli bir yapÄ±da dÃ¼zenleme konusunda kullanÄ±lÄ±rlar.

* Python'da farklÄ± tÃ¼rde diziler vardÄ±r:

    1. Listeler (Lists): Listeler, farklÄ± veri tÃ¼rÃ¼ndeki Ã¶ÄŸeleri tutabilen Python'a Ã¶zgÃ¼ bir veri tÃ¼rÃ¼dÃ¼r. Esnek yapÄ±larÄ± sayesinde, heterojen veri koleksiyonlarÄ±nÄ± ele almak iÃ§in uygundurlar.

    2. NumPy Dizileri (NumPy Arrays): NumPy dizileri, NumPy kÃ¼tÃ¼phanesi tarafÄ±ndan saÄŸlanan bir veri yapÄ±sÄ±dÄ±r. Python listelerinin aksine, NumPy dizileri homojen verileri depolar ve bÃ¼yÃ¼k miktarda sayÄ±sal veriyi etkin bir ÅŸekilde iÅŸleyebilirler. Bilimsel hesaplamalar, veri analizi ve sayÄ±sal iÅŸlemler iÃ§in yaygÄ±n olarak kullanÄ±lÄ±rlar.

* Dizilerin birÃ§ok avantajÄ± vardÄ±r:

    * Verimli bellek kullanÄ±mÄ±: Diziler, Ã¶ÄŸeleri ardÄ±ÅŸÄ±k bellek konumlarÄ±nda depolar, bu nedenle bellek kullanÄ±mÄ±nÄ± azaltÄ±r ve Ã¶ÄŸelere hÄ±zlÄ± eriÅŸime olanak saÄŸlar.

    * HÄ±zlÄ± Ã¶ÄŸe eriÅŸimi: Dizilerdeki Ã¶ÄŸelere doÄŸrudan indeks kullanarak eriÅŸilebilir, bu nedenle diÄŸer veri yapÄ±larÄ±nda Ã¶ÄŸe aramaktan daha hÄ±zlÄ±dÄ±r.

    * Verimli matematiksel iÅŸlemler: Diziler, vektÃ¶rleÅŸtirilmiÅŸ iÅŸlemlere olanak tanÄ±r, bu da matematiksel iÅŸlemlerin tÃ¼m dizilerde aynÄ± anda gerÃ§ekleÅŸtirilmesini saÄŸlar ve sayÄ±sal hesaplamalar iÃ§in performansÄ± artÄ±rÄ±r.

    * Basit veri manipÃ¼lasyonu: Diziler, geliÅŸmiÅŸ indeksleme ve dilimleme tekniklerini destekler, bu nedenle veri alt kÃ¼melerini Ã§Ä±karmak veya belirli Ã¶ÄŸelerde iÅŸlemler yapmak kolaydÄ±r.

    * Daha iyi performans: Birden Ã§ok Ã¶ÄŸede aynÄ± anda iÅŸlem yapabilme yeteneÄŸi ve dizilerin verimli bellek dÃ¼zeni, genel performansÄ± artÄ±rÄ±r.
    
Ã–zetle, bir dizi, aynÄ± veri tÃ¼rÃ¼ndeki Ã¶ÄŸeleri ardÄ±ÅŸÄ±k bir bellek bloÄŸunda depolayan bir veri yapÄ±sÄ±dÄ±r. Verimli bellek kullanÄ±mÄ±, hÄ±zlÄ± Ã¶ÄŸe eriÅŸimi ve matematiksel iÅŸlemlere olanak saÄŸlamasÄ± gibi avantajlarÄ±, programlama ve veri manipÃ¼lasyon iÅŸlemlerinde temel bir araÃ§ haline gelmesini saÄŸlar.

<a id = "4"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Dizi OluÅŸturma </h1>

NumPy dizisi oluÅŸturmak iÃ§in numpy.array() fonksiyonunu veya belirli diziler oluÅŸturan diÄŸer NumPy fonksiyonlarÄ±nÄ± kullanabilirsiniz. 

NumPy dizileri oluÅŸturmanÄ±n bazÄ± yaygÄ±n yÃ¶ntemleri:

* **numpy.array()** fonksiyonu ile oluÅŸturma: NumPy dizisi oluÅŸturmak iÃ§in Python listesi veya tuple'Ä±nÄ± numpy.array() fonksiyonuna geÃ§irebilirsiniz.

In [1]:
import numpy as np

# Listeden dizi oluÅŸturma:

data_list = [1, 2, 3, 4, 5]
numpy_dizi = np.array(data_list)

print(numpy_dizi)

[1 2 3 4 5]

In [2]:
# Tuple'dan dizi oluÅŸturma:

data_tuple = (6, 7, 8, 9, 10)
numpy_dizi = np.array(data_tuple)

print(numpy_dizi)

[ 6  7  8  9 10]

In [3]:
type(numpy_dizi)

numpy.ndarray

* NumPy fonksiyonlarÄ± ile oluÅŸturma: NumPy, **numpy.zeros(), numpy.ones(), numpy.arange()** gibi belirli deÄŸerlerle diziler oluÅŸturan fonksiyonlar saÄŸlar.

In [4]:
# SÄ±fÄ±rlardan oluÅŸan dizi oluÅŸturma:

sifir_dizi = np.zeros(5)

print(sifir_dizi)

[0. 0. 0. 0. 0.]

In [5]:
# Birlerden oluÅŸan dizi oluÅŸturma:

bir_dizi = np.ones(3)

print(bir_dizi)

[1. 1. 1.]

In [6]:
# Belirli aralÄ±ktaki deÄŸerlerle dizi oluÅŸturma:

aralik_dizi = np.arange(1, 6)

print(aralik_dizi)

[1 2 3 4 5]

* Rastgele sayÄ± Ã¼retimi ile oluÅŸturma: NumPy, **numpy.random** modÃ¼lÃ¼ ile rastgele deÄŸerlerle diziler oluÅŸturan fonksiyonlar saÄŸlar.

In [7]:
# 0 ile 1 arasÄ±nda rastgele deÄŸerlerle dizi oluÅŸturma:

rastgele_dizi = np.random.random(6)

print(rastgele_dizi)

[0.80024322 0.52050475 0.50149241 0.84615294 0.04385201 0.38444502]

* **randint()** metodu, NumPy kÃ¼tÃ¼phanesinin **numpy.random** modÃ¼lÃ¼ altÄ±nda bulunan bir fonksiyondur. Bu metod, rastgele tamsayÄ±lar iÃ§eren bir NumPy dizisi oluÅŸturmak iÃ§in kullanÄ±lÄ±r.

In [8]:
import numpy as np

# 1 ile 10 arasÄ±nda rastgele tamsayÄ±lardan oluÅŸan 1 boyutlu bir dizi oluÅŸturma:

random_array = np.random.randint(1, 11, size=5)
print(random_array)
# Ã–rnek Ã‡Ä±ktÄ±: [4 8 2 9 1]

# 1 ile 100 arasÄ±nda rastgele tamsayÄ±lardan oluÅŸan 2 boyutlu bir dizi oluÅŸturma (3x3):

random_matrix = np.random.randint(1, 101, size=(3, 3))
print(random_matrix)
# Ã–rnek Ã‡Ä±ktÄ±:
# [[36 27  9]
#  [34  1 53]
#  [97 77 95]]

[10  1  3 10 10]
[[69 99 76]
 [91 38 50]
 [31 85 81]]

* DiÄŸer NumPy fonksiyonlarÄ± ile oluÅŸturma: NumPy, **numpy.linspace(), numpy.full(),** gibi belirli Ã¶zelliklere sahip diziler oluÅŸturan fonksiyonlar saÄŸlar.

In [9]:
# EÅŸit aralÄ±klÄ± deÄŸerlerle dizi oluÅŸturma:

aralik_dizi = np.linspace(0, 1, num=5)

print(aralik_dizi)

[0.   0.25 0.5  0.75 1.  ]

In [10]:
# Belirli bir deÄŸerle 2x2'lik dizi oluÅŸturma (Ã¶rn. 5 ile):

dolu_dizi = np.full((2, 2), 5)

print(dolu_dizi)

[[5 5]
 [5 5]]

<a id = "5"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Dizi Ã–zellikleri </h1>

* **ndim:**  NumPy'da yer alan ve bir NumPy dizisinin boyutlarÄ±nÄ±n (eksenlerin) sayÄ±sÄ±nÄ± belirlemek iÃ§in kullanÄ±lan yerleÅŸik bir iÅŸlevdir. Bu yÃ¶ntem, dizinin boyutlarÄ± hakkÄ±nda bilgi saÄŸlar. ndim yÃ¶ntemi bir NumPy dizisine Ã§aÄŸrÄ±lÄ±r ve herhangi bir argÃ¼man almaz. Dizinin boyutlarÄ±nÄ±n sayÄ±sÄ±nÄ± temsil eden bir tamsayÄ± deÄŸeri dÃ¶ndÃ¼rÃ¼r.

* **shape:** bir NumPy dizisinin ÅŸeklini belirlemek iÃ§in kullanÄ±lan yerleÅŸik bir fonksiyondur. Bu yÃ¶ntem, dizinin boyutlarÄ± ve bÃ¼yÃ¼klÃ¼ÄŸÃ¼ hakkÄ±nda bilgi saÄŸlar. shape yÃ¶ntemi, bir NumPy dizisine Ã§aÄŸrÄ±lÄ±r ve herhangi bir argÃ¼man almaz. Dizinin her bir ekseni boyunca boyutlarÄ± temsil eden tamsayÄ±lar iÃ§eren bir demet (tuple) dÃ¶ndÃ¼rÃ¼r.

* **size:** bir NumPy dizisinin boyutunu almak iÃ§in, size Ã¶zniteliÄŸini yÃ¶ntem olarak Ã§aÄŸÄ±rmadan kullanabilirsiniz. Bu, dizideki toplam eleman sayÄ±sÄ±nÄ± temsil eden bir tamsayÄ± deÄŸeri dÃ¶ndÃ¼rÃ¼r.

* **dtype:** NumPy'da bir NumPy dizisindeki Ã¶ÄŸelerin veri tÃ¼rÃ¼nÃ¼ belirlemek iÃ§in kullanÄ±lan yerleÅŸik bir iÅŸlevdir. Dizideki verilerin tipini belirten bilgi saÄŸlar. dtype yÃ¶ntemi, bir NumPy dizisine Ã§aÄŸrÄ±lÄ±r ve herhangi bir argÃ¼man almaz. Dizideki Ã¶ÄŸelerin veri tÃ¼rÃ¼nÃ¼ temsil eden bir NumPy veri tÃ¼rÃ¼ nesnesi dÃ¶ndÃ¼rÃ¼r. NumPy veri tipleri arasÄ±nda tamsayÄ±lar, kayan noktalÄ± sayÄ±lar, karmaÅŸÄ±k sayÄ±lar ve diÄŸer Ã¶zel veri tipleri bulunur.

In [11]:
import numpy as np

# 1D NumPy dizisi:

arr_1d = np.array([1, 2, 3, 4, 5])

print(arr_1d.ndim)

1

In [12]:
# 2D NumPy dizisi (matris):

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

print(arr_2d.ndim)

2

In [13]:
# 3D NumPy dizisi (3 boyutlu tensÃ¶r):

arr_3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

print(arr_3d.ndim)

3

In [14]:
# 1D NumPy dizisi:

arr_1d = np.array([1, 2, 3, 4, 5])

print(arr_1d.shape)

(5,)

In [15]:
# 2D NumPy dizisi (matris):

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

print(arr_2d.shape)

(2, 3)

In [16]:
# 3D NumPy dizisi (3-boyutlu tensÃ¶r):

arr_3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

print(arr_3d.shape)

(2, 2, 2)

* Bu, arr_3d dizisinin Ã¼Ã§ boyutlu olduÄŸunu ve her boyutta sÄ±rasÄ±yla 2, 2 ve 2 Ã¶ÄŸe iÃ§erdiÄŸini gÃ¶sterir. Yani, bu dizi toplamda 2 x 2 x 2 = 8 Ã¶ÄŸe iÃ§erir.

In [17]:
# 1D NumPy dizisi oluÅŸturma:

arr_1d = np.array([1, 2, 3, 4, 5])

print(arr_1d.size)

5

In [18]:
# 2D NumPy dizisi oluÅŸturma:

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

print(arr_2d.size)

6

In [19]:
# 3D NumPy dizisi oluÅŸturma:

arr_3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

print(arr_3d.size)

8

In [20]:
# TamsayÄ±larla bir NumPy dizisi oluÅŸturma:

arr_int = np.array([1, 2, 3, 4, 5])

print(arr_int.dtype)

int64

In [21]:
# OndalÄ±klÄ± sayÄ±larla bir NumPy dizisi oluÅŸturma:

arr_float = np.array([1.1, 2.2, 3.3])

print(arr_float.dtype)

float64

In [22]:
# KarmaÅŸÄ±k sayÄ±larla bir NumPy dizisi oluÅŸturma:

arr_complex = np.array([1 + 2j, 3 + 4j])

print(arr_complex.dtype)

complex128

* Dizideki Ã¶ÄŸelerin veri tÃ¼rÃ¼ 128-bit karmaÅŸÄ±k sayÄ±dÄ±r.

<a id = "6"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> ReShape: Yeniden Åekillendirme </h1>

NumPy'da **reshape()** yÃ¶ntemi, bir NumPy dizisinin ÅŸeklini deÄŸiÅŸtirmek ve veriyi deÄŸiÅŸtirmeden yeni bir ÅŸekle dÃ¶nÃ¼ÅŸtÃ¼rmek iÃ§in kullanÄ±lÄ±r.

**reshape()** yÃ¶ntemi, diziyi yeniden ÅŸekillendirmek iÃ§in bir tuple alÄ±r. Tuple iÃ§indeki elemanlar, yeni ÅŸekilde her eksene denk gelen boyutlarÄ± belirtir. Orijinal dizideki toplam eleman sayÄ±sÄ±, yeni ÅŸekildeki toplam eleman sayÄ±sÄ±na eÅŸit olmalÄ±dÄ±r; aksi takdirde **ValueError** hatasÄ± oluÅŸur.

In [23]:
import numpy as np

# 12 elemanlÄ± 1D NumPy dizisi oluÅŸturma:

dizi_1d = np.arange(1, 13)

print(dizi_1d)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [24]:
# 1D diziyi 3x4'lÃ¼k bir 2D diziye dÃ¶nÃ¼ÅŸtÃ¼rme:

dizi_2d = dizi_1d.reshape((3, 4))

print(dizi_2d)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [25]:
# 20 elemanlÄ± baÅŸka bir 1D NumPy dizisi oluÅŸturma:

dizi_1d_2 = np.arange(1, 21)

print(dizi_1d_2)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

In [26]:
# 1D diziyi 4x5'lik bir 2D diziye dÃ¶nÃ¼ÅŸtÃ¼rme:

dizi_2d_2 = dizi_1d_2.reshape((4, 5))

print(dizi_2d_2)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

* Bu Ã¶rneklerde, **np.arange()** ile 1D NumPy dizileri oluÅŸturduk ve ardÄ±ndan **reshape()** yÃ¶ntemini kullanarak farklÄ± ÅŸekillere sahip 2D dizilere dÃ¶nÃ¼ÅŸtÃ¼rdÃ¼k. Her dizideki toplam eleman sayÄ±sÄ± aynÄ± kalÄ±rken, yalnÄ±zca elemanlarÄ±n dÃ¼zeni **reshape()** yÃ¶ntemiyle belirtilen yeni ÅŸekle gÃ¶re deÄŸiÅŸti.

<a id = "7"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Concatenation: BirleÅŸtirme </h1>

NumPy'da, concatenate() iÅŸlevi birden fazla diziyi belirtilen bir eksende birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. BirleÅŸtirme, birden fazla diziyi tek bir dizi olarak birleÅŸtirmeyi ifade eder.

NumPy, dizileri birleÅŸtirmek iÃ§in **numpy.concatenate(), numpy.stack(), numpy.hstack() ve numpy.vstack()** gibi birkaÃ§ iÅŸlev saÄŸlar. Her biri giriÅŸ dizilerinin ÅŸekli ve boyutlarÄ± aÃ§Ä±sÄ±ndan farklÄ± davranÄ±ÅŸlara sahiptir.

* **numpy.concatenate():** Bu iÅŸlev, belirtilen bir eksen boyunca dizileri birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. GiriÅŸ olarak bir dizi dizisi alÄ±r ve belirtilen eksen boyunca birleÅŸtirilmiÅŸ yeni bir dizi dÃ¶ndÃ¼rÃ¼r. BirleÅŸtirilen diziler, birleÅŸtirme ekseni boyunca aynÄ± ÅŸekilde olmalÄ±dÄ±r.

* **numpy.stack():** Bu iÅŸlev, dizileri yeni bir eksende birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. GiriÅŸ olarak bir dizi dizisi alÄ±r ve yeni bir dizi olarak ek bir boyut eklenmiÅŸ bir dizi dÃ¶ndÃ¼rÃ¼r. Bu, dizileri yeni bir eksende birleÅŸtirmek istediÄŸinizde kullanÄ±ÅŸlÄ±dÄ±r.

* **numpy.hstack():** Bu iÅŸlev, dizileri yatay olarak (sÃ¼tunlar boyunca) birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. GiriÅŸ olarak bir dizi dizisi alÄ±r ve giriÅŸ dizilerinin sÃ¼tunlarÄ± birleÅŸtirilmiÅŸ yeni bir dizi dÃ¶ndÃ¼rÃ¼r.

* **numpy.vstack():** Bu iÅŸlev, dizileri dikey olarak (satÄ±rlar boyunca) birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. GiriÅŸ olarak bir dizi dizisi alÄ±r ve giriÅŸ dizilerinin satÄ±rlarÄ± birleÅŸtirilmiÅŸ yeni bir dizi dÃ¶ndÃ¼rÃ¼r.

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>ğŸ’¡ Notlar: </font></h3>

* numpy.concatenate() iÅŸlevi ve axis parametresinin detaylÄ± aÃ§Ä±klamasÄ±:

    1. **numpy.concatenate():** Bu iÅŸlev, iki veya daha fazla diziyi tek bir dizi olarak birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. GiriÅŸ olarak bir dizi dizisi alÄ±r ve bu dizilerin birleÅŸtirilmesiyle oluÅŸan yeni bir dizi dÃ¶ndÃ¼rÃ¼r. BirleÅŸtirilen diziler, birleÅŸtirme ekseni boyunca aynÄ± ÅŸekle sahip olmalÄ±dÄ±r, ancak birleÅŸtirme iÅŸlemi yapÄ±lan boyutta farklÄ±lÄ±k olabilir.

    2. **axis parametresi:** axis parametresi, numpy.concatenate() iÅŸlevinde isteÄŸe baÄŸlÄ± bir argÃ¼mandÄ±r ve birleÅŸtirme iÅŸleminin yapÄ±lacaÄŸÄ± ekseni belirtir. Bu parametre dizilerin birleÅŸtirilme yÃ¶nÃ¼nÃ¼ kontrol eder. axis parametresi bir tamsayÄ± deÄŸeri olmalÄ±dÄ±r ve ÅŸu ÅŸekilde kullanÄ±lÄ±r:

        * **axis=0:** Dikey birleÅŸtirme yapÄ±lacaÄŸÄ±nÄ± belirtir (satÄ±rlar boyunca birleÅŸtirme). Diziler birbirinin Ã¼zerine yÄ±ÄŸÄ±lÄ±r.
        * **axis=1:** Yatay birleÅŸtirme yapÄ±lacaÄŸÄ±nÄ± belirtir (sÃ¼tunlar boyunca birleÅŸtirme). Diziler yan yana birleÅŸtirilir.

In [27]:
# Ã–rnek diziler:

dizi1 = np.array([[1, 2], [3, 4]])
dizi2 = np.array([[5, 6]])

In [28]:
# Dikey birleÅŸtirme (satÄ±rlar boyunca) iÃ§in axis=0 kullanÄ±mÄ±:

sonuc_dikey = np.concatenate((dizi1, dizi2), axis=0)

print("Dikey birleÅŸtirme:")

print(sonuc_dikey)

Dikey birleÅŸtirme:
[[1 2]
 [3 4]
 [5 6]]

In [29]:
# Yatay birleÅŸtirme (sÃ¼tunlar boyunca) iÃ§in axis=1 kullanÄ±mÄ±:

dizi3 = np.array([[7], [8]])
sonuc_yatay = np.concatenate((dizi1, dizi3), axis=1)

print("\nYatay birleÅŸtirme:")

print(sonuc_yatay)

Yatay birleÅŸtirme:
[[1 2 7]
 [3 4 8]]

In [30]:
# Ä°ki 1D diziyi birleÅŸtirme:

dizi1 = np.array([1, 2, 3])
dizi2 = np.array([4, 5, 6])
sonuc = np.concatenate((dizi1, dizi2))

print(sonuc)

[1 2 3 4 5 6]

In [31]:
# Ä°ki 1D diziyi yeni bir eksende birleÅŸtirme:

sonuc = np.stack((dizi1, dizi2))

print(sonuc)

[[1 2 3]
 [4 5 6]]

In [32]:
# Ä°ki 1D diziyi yatay olarak birleÅŸtirme:

sonuc = np.hstack((dizi1, dizi2))

print(sonuc)

[1 2 3 4 5 6]

In [33]:
# Ä°ki 1D diziyi dikey olarak birleÅŸtirme:

sonuc = np.vstack((dizi1, dizi2))

print(sonuc)

[[1 2 3]
 [4 5 6]]

<a id = "8"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Splitting: AyÄ±rma </h1>

NumPy'da, bÃ¶lme iÅŸlemi, belirtilen bir eksende tek bir diziyi birden Ã§ok kÃ¼Ã§Ã¼k diziye bÃ¶lmek anlamÄ±na gelir. Bir diziyi belirli bir Ã¶lÃ§Ã¼t temelinde daha kÃ¼Ã§Ã¼k parÃ§alara bÃ¶lmeyi saÄŸlar. NumPy, dizileri bÃ¶lmek iÃ§in **numpy.split(), numpy.array_split(), numpy.hsplit() ve numpy.vsplit()** gibi birkaÃ§ iÅŸlev saÄŸlar.

* **numpy.split():** Bu iÅŸlev, bir diziyi belirtilen bir eksende birden Ã§ok alt dizilere bÃ¶ler. Ä°ki veya daha fazla argÃ¼man alÄ±r: bÃ¶lÃ¼necek dizi, oluÅŸturulacak eÅŸit boyutlu alt dizilerin sayÄ±sÄ± ve bÃ¶lmenin yapÄ±lacaÄŸÄ± eksen. Dizi, alt dizilerin sayÄ±sÄ± ile tam bÃ¶lÃ¼nebilecek bir boyuta sahip olmalÄ±dÄ±r, aksi takdirde ValueError hatasÄ± oluÅŸur.

* **numpy.array_split():** Bu iÅŸlev, numpy.split() iÅŸlevine benzer, ancak dizinin boyutunun alt dizilerin sayÄ±sÄ±na tam bÃ¶lÃ¼nmesini gerektirmez. Alt diziler farklÄ± boyutlarda olabilir.

* **numpy.hsplit():** Bu iÅŸlev, bir diziyi yatay olarak (sÃ¼tunlar boyunca) birden Ã§ok alt dizilere bÃ¶ler. Ä°ki argÃ¼man alÄ±r: bÃ¶lÃ¼necek dizi ve oluÅŸturulacak eÅŸit boyutlu alt dizilerin sayÄ±sÄ±.

* **numpy.vsplit():** Bu iÅŸlev, bir diziyi dikey olarak (satÄ±rlar boyunca) birden Ã§ok alt dizilere bÃ¶ler. Ä°ki argÃ¼man alÄ±r: bÃ¶lÃ¼necek dizi ve oluÅŸturulacak eÅŸit boyutlu alt dizilerin sayÄ±sÄ±.

In [34]:
import numpy as np

# Ã–rnek dizi:

dizi = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [35]:
# numpy.split() kullanÄ±mÄ±:

sonuc_split = np.split(dizi, 5)

print("numpy.split() sonucu:")

print(sonuc_split)

numpy.split() sonucu:
[array([1, 2]), array([3, 4]), array([5, 6]), array([7, 8]), array([ 9, 10])]

In [36]:
# numpy.array_split() kullanÄ±mÄ±:

sonuc_array_split = np.array_split(dizi, 3)

print("\nnumpy.array_split() sonucu:")

print(sonuc_array_split)

numpy.array_split() sonucu:
[array([1, 2, 3, 4]), array([5, 6, 7]), array([ 8,  9, 10])]

In [37]:
# 2D dizi Ã¶rneÄŸi:

dizi_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])

# numpy.hsplit() kullanÄ±mÄ±:

sonuc_hsplit = np.hsplit(dizi_2d, 3)

print("\nnumpy.hsplit() sonucu:")

print(sonuc_hsplit)

numpy.hsplit() sonucu:
[array([[ 1],
       [ 4],
       [ 7],
       [10]]), array([[ 2],
       [ 5],
       [ 8],
       [11]]), array([[ 3],
       [ 6],
       [ 9],
       [12]])]

In [38]:
# numpy.vsplit() kullanÄ±mÄ±:

sonuc_vsplit = np.vsplit(dizi_2d, 2)

print("\nnumpy.vsplit() sonucu:")

print(sonuc_vsplit)

numpy.vsplit() sonucu:
[array([[1, 2, 3],
       [4, 5, 6]]), array([[ 7,  8,  9],
       [10, 11, 12]])]

<a id = "9"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Sorting: SÄ±ralama </h1>

NumPy'da sÄ±ralama, bir dizinin elemanlarÄ±nÄ± belirli bir sÄ±raya gÃ¶re, ya artan ya da azalan ÅŸekilde dÃ¼zenleme iÅŸlemine denir. Dizileri sÄ±ralama iÅŸlemi, veri analizi ve iÅŸleme gÃ¶revlerinde sÄ±kÃ§a kullanÄ±lan bir iÅŸlemdir. NumPy, diziler Ã¼zerinde sÄ±ralama iÅŸlemlerini gerÃ§ekleÅŸtirmek iÃ§in birkaÃ§ iÅŸlev saÄŸlar.

NumPy'daki temel sÄ±ralama iÅŸlevleri ÅŸunlardÄ±r:

* **numpy.sort():** Bu iÅŸlev, bir dizinin sÄ±ralanmÄ±ÅŸ bir kopyasÄ±nÄ± dÃ¶ndÃ¼rÃ¼r. VarsayÄ±lan olarak, diziyi son eksende artan sÄ±rayla sÄ±ralar.

* **numpy.argsort():** Bu iÅŸlev, bir diziyi sÄ±ralamak iÃ§in kullanÄ±lan dizinleri dÃ¶ndÃ¼rÃ¼r. SÄ±ralanmÄ±ÅŸ diziyi dÃ¶ndÃ¼rmek yerine, orijinal diziyi sÄ±ralamak iÃ§in kullanÄ±lan dizinlerden oluÅŸan bir dizi dÃ¶ndÃ¼rÃ¼r.

* **numpy.lexsort():** Bu iÅŸlev, bir dizi Ã¼zerinde dolaylÄ± bir sÄ±ralama yapar. Birden Ã§ok anahtar Ã¼zerinde diziyi sÄ±ralar ve her anahtar iÃ§in belirtilen sÄ±ra ile sÄ±ralamayÄ± gerÃ§ekleÅŸtirir.

* **numpy.msort():** Bu iÅŸlev, numpy.sort() iÅŸlevine benzer, ancak kararlÄ± bir sÄ±ralama yapar. Yani, aynÄ± deÄŸere sahip elemanlarÄ±n gÃ¶receli sÄ±rasÄ±nÄ± korur.

* **numpy.sort_complex():** Bu iÅŸlev, karmaÅŸÄ±k sayÄ±larÄ± bÃ¼yÃ¼klÃ¼klerine gÃ¶re sÄ±ralar.

In [39]:
import numpy as np

# Ã–rnek dizi:

dizi = np.array([3, 1, 4, 1, 5, 9, 2, 6, 5])

# numpy.sort() kullanÄ±mÄ±:

siralanmis_dizi = np.sort(dizi)

print("SÄ±ralanmÄ±ÅŸ dizi:")

print(siralanmis_dizi)

SÄ±ralanmÄ±ÅŸ dizi:
[1 1 2 3 4 5 5 6 9]

In [40]:
# numpy.argsort() kullanÄ±mÄ±:

sirali_dizinler = np.argsort(dizi)

print("\nSÄ±ralÄ± dizinler:")

print(sirali_dizinler)

SÄ±ralÄ± dizinler:
[1 3 6 0 2 4 8 7 5]

In [41]:
# numpy.lexsort() kullanÄ±mÄ±:

isimler = np.array(['Alice', 'Bob', 'Cathy', 'David', 'Eva'])
yaslar = np.array([25, 22, 29, 32, 28])
sirali_dizinler_lex = np.lexsort((isimler, yaslar))

print("\nlexsort() ile sÄ±ralÄ± dizinler:")

print(sirali_dizinler_lex)

lexsort() ile sÄ±ralÄ± dizinler:
[1 0 4 2 3]

In [42]:
# numpy.msort() kullanÄ±mÄ±:

dizi2 = np.array([3, 1, 4, 1, 5, 9, 2, 6, 5])
stabil_siralanmis_dizi = np.msort(dizi2)

print("\nKararlÄ± sÄ±ralanmÄ±ÅŸ dizi:")

print(stabil_siralanmis_dizi)

KararlÄ± sÄ±ralanmÄ±ÅŸ dizi:
[1 1 2 3 4 5 5 6 9]

<a id = "10"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Indeks Ä°ÅŸlemleri </h1>

NumPy'da, NumPy dizilerinde belirli elemanlara veya alt dizilere eriÅŸmek iÃ§in kullanÄ±lan Ã§eÅŸitli index metodlarÄ± ve iÅŸlemleri bulunmaktadÄ±r. Ä°ÅŸte NumPy'da yaygÄ±n olarak kullanÄ±lan bazÄ± index metodlarÄ± ve iÅŸlemleri:

* **Integer Ä°ndeksleme:** Dizinin belirli elemanlarÄ±na eriÅŸmek iÃ§in tamsayÄ±larÄ± indeks olarak kullanabilirsiniz.

* **Slicing (Dilimleme):** Dilimleme, bir dizinin belirli bir bÃ¶lÃ¼mÃ¼nÃ¼ (alt diziyi) belirli bir indeks aralÄ±ÄŸÄ± ile almanÄ±za olanak tanÄ±r.

* **Boolean Ä°ndeksleme:** Boolean indeksleme, bir koÅŸula dayalÄ± olarak diziden elemanlarÄ± filtrelemek iÃ§in bir boolean maske kullanmanÄ±zÄ± saÄŸlar.

* **Fancy Ä°ndeksleme:** Fancy indeksleme, dizilere eriÅŸmek iÃ§in bir dizi indeks saÄŸlayarak belirli elemanlara veya alt dizilere eriÅŸmenizi saÄŸlar.

* **Ä°ki Boyutlu Ä°ndeksleme:** Ä°ki boyutlu dizilerde, satÄ±r ve sÃ¼tun indeksleri kullanarak belirli elemanlara veya alt dizilere eriÅŸebilirsiniz.

* **Ä°ndeksleri DeÄŸiÅŸtirme:** Dizi elemanlarÄ±nÄ±n indekslerini deÄŸiÅŸtirerek dizinin elemanlarÄ±nÄ± yeniden dÃ¼zenleyebilirsiniz.

AÅŸaÄŸÄ±da her bir index yÃ¶ntemini kullanarak bazÄ± Ã¶rnekler verilmiÅŸtir:

In [43]:
import numpy as np

# Ã–rnek dizi:

arr = np.array([10, 20, 30, 40, 50])

# Integer Ä°ndeksleme:

arr[2]

30

In [44]:
arr[2]

30

In [45]:
# Slicing (Dilimleme):

arr[1:4]

array([20, 30, 40])

In [46]:
# Boolean Ä°ndeksleme:

mask = arr > 30
arr[mask]

array([40, 50])

In [47]:
# Fancy Ä°ndeksleme:

indices = [0, 2, 4]
arr[indices]

array([10, 30, 50])

In [48]:
# Ä°ki Boyutlu Ä°ndeksleme:

arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

arr_2d[1, 2]

6

In [49]:
# Ä°ndeksleri DeÄŸiÅŸtirme:

arr[1], arr[3] = arr[3], arr[1]

arr

array([10, 40, 30, 20, 50])

In [50]:
import numpy as np

# Ã–rnek 2B dizi:

dizi_2b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

dizi_2b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [51]:
# Tek bir elemanÄ± seÃ§me:

dizi_2b[1, 2]

6

In [52]:
# Bir satÄ±rÄ± seÃ§me:

dizi_2b[1, :]

array([4, 5, 6])

In [53]:
# Birden Ã§ok satÄ±rÄ± seÃ§me:

dizi_2b[[0, 2], :]

array([[1, 2, 3],
       [7, 8, 9]])

In [54]:
# Bir sÃ¼tunu seÃ§me:

dizi_2b[:, 0]

array([1, 4, 7])

In [55]:
# Birden Ã§ok sÃ¼tunu seÃ§me:

dizi_2b[:, [0, 2]]

array([[1, 3],
       [4, 6],
       [7, 9]])

In [56]:
# Alt bir dizi seÃ§me:

dizi_2b[0:2, 1:3]

array([[2, 3],
       [5, 6]])

<a id = "11"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Alt KÃ¼melerde Ä°ÅŸlem Yapma </h1>

NumPy, alt kÃ¼melerle Ã§alÄ±ÅŸÄ±rken yaygÄ±n olarak kullanÄ±lan iÅŸlem tÃ¼rlerini destekler ve bu iÅŸlemler genellikle daha hÄ±zlÄ± ve verimli olabilir.

Alt kÃ¼melerde iÅŸlem yapmak iÃ§in, Ã¶nce alt kÃ¼meyi seÃ§meniz ve ardÄ±ndan bu alt kÃ¼meye istediÄŸiniz iÅŸlemi uygulamanÄ±z gerekir. NumPy'de alt kÃ¼meler, dilimleme (slicing) veya boolean indeksleme (boolean indexing) gibi yÃ¶ntemlerle seÃ§ilebilir.

Ã–rnek olarak, bir NumPy dizisinin alt kÃ¼mesine ulaÅŸÄ±p bazÄ± iÅŸlemler yapalÄ±m:

In [57]:
# Ã–rnek dizi:

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [58]:
# Alt kÃ¼me seÃ§me (dilimleme):

alt_kume = arr[2:6]

alt_kume

array([3, 4, 5, 6])

In [59]:
# Alt kÃ¼me Ã¼zerinde iÅŸlem yapma:

ortalama = np.mean(alt_kume)

ortalama

4.5

In [60]:
# Alt kumeye deÄŸer atama:

arr[2:6] = 10

arr

array([ 1,  2, 10, 10, 10, 10,  7,  8,  9, 10])

* NumPy alt kÃ¼melerinde **copy()** yÃ¶ntemi, bir dizi alt kÃ¼mesinin baÄŸÄ±msÄ±z bir kopyasÄ±nÄ± oluÅŸturmak iÃ§in kullanÄ±lÄ±r. Bu yÃ¶ntem, alt kÃ¼meyle ilgili iÅŸlemleri gerÃ§ekleÅŸtirirken orijinal diziyi deÄŸiÅŸtirmek istemediÄŸiniz durumlarda Ã§ok yararlÄ±dÄ±r. **copy()** yÃ¶ntemi, alt kÃ¼menin bir kopyasÄ±nÄ± oluÅŸturur ve bu kopya Ã¼zerinde istediÄŸiniz iÅŸlemleri yapabilirsiniz.

In [61]:
# Ã–rnek dizi:

arr = np.array([1, 2, 3, 4, 5])

arr

array([1, 2, 3, 4, 5])

In [62]:
# Dilimleme yÃ¶ntemiyle alt kÃ¼me seÃ§me:

subset = arr[1:4]

subset

array([2, 3, 4])

In [63]:
# Alt kÃ¼menin kopyasÄ±nÄ± oluÅŸturma:

subset_copy = subset.copy()

subset_copy

array([2, 3, 4])

In [64]:
# Alt kÃ¼me ve kopyasÄ±nÄ± deÄŸiÅŸtirme:

subset[0] = 10
subset_copy[1] = 20

subset_copy

array([ 2, 20,  4])

<a id = "12"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> KoÅŸullu Eleman Ä°ÅŸlemleri </h1>

NumPy, koÅŸullu eleman iÅŸlemleri iÃ§in bir dizi gÃ¼Ã§lÃ¼ fonksiyon ve yÃ¶ntem saÄŸlar. Bu iÅŸlemler, bir NumPy dizisindeki elemanlarÄ± belirli koÅŸullara gÃ¶re filtrelemek veya deÄŸiÅŸtirmek iÃ§in kullanÄ±labilir. KoÅŸullu eleman iÅŸlemleri, NumPy dizileri Ã¼zerinde veri analizi ve dÃ¶nÃ¼ÅŸÃ¼mleri iÃ§in yaygÄ±n olarak kullanÄ±lÄ±r.

* **Boolean Ä°ndeksleme:** Boolean dizileri kullanarak bir dizi iÃ§indeki elemanlarÄ± filtrelemek iÃ§in kullanÄ±lÄ±r.

* **np.where():** Belirli bir koÅŸulu saÄŸlayan elemanlarÄ± seÃ§mek veya baÅŸka bir deÄŸerle deÄŸiÅŸtirmek iÃ§in kullanÄ±lÄ±r.

* **np.logical_and() ve np.logical_or():** Ä°ki veya daha fazla koÅŸulu birleÅŸtirmek iÃ§in kullanÄ±lÄ±r.

* **np.any() ve np.all():** Dizideki elemanlarÄ±n en az biri veya tÃ¼mÃ¼ belirli bir koÅŸulu saÄŸlÄ±yorsa True deÄŸeri dÃ¶ndÃ¼rÃ¼r.

In [65]:
# Ã–rnek dizi:

arr = np.array([1, 2, 3, 4, 5])

arr

array([1, 2, 3, 4, 5])

In [66]:
# Boolean Ä°ndeksleme ile filtreleme:

arr[arr > 3]

array([4, 5])

In [67]:
# np.where() ile deÄŸer deÄŸiÅŸtirme:

arr2 = np.where(arr > 3, 10, arr)

arr2

array([ 1,  2,  3, 10, 10])

In [68]:
# np.logical_and() ve np.logical_or() ile birden fazla koÅŸulu birleÅŸtirme:

mask1 = arr > 2
mask2 = arr < 5

arr[np.logical_and(mask1, mask2)]

array([3, 4])

In [69]:
# np.any() ve np.all() ile koÅŸullu deÄŸerlendirme:

np.any(arr > 3)

True

In [70]:
np.all(arr > 3)

False

<a id = "13"></a><br>
<h1 style="background-color:#98AFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Matematiksel Ä°ÅŸlemler </h1>

Python'da NumPy, matematiksel iÅŸlemler iÃ§in geniÅŸ bir dizi fonksiyon ve yÃ¶ntem saÄŸlar. NumPy, matematiksel iÅŸlemler iÃ§in hÄ±zlÄ± ve etkili araÃ§lar sunar ve bilimsel hesaplamalarda yaygÄ±n olarak kullanÄ±lÄ±r.

* **Temel Aritmetik Ä°ÅŸlemler:** Toplama, Ã§Ä±karma, Ã§arpma, bÃ¶lme gibi temel aritmetik iÅŸlemleri gerÃ§ekleÅŸtirebilirsiniz.

* **Matris Ä°ÅŸlemleri:** Matris toplama, matris Ã§arpÄ±mÄ±, matris tersi alma gibi matris iÅŸlemleri iÃ§in NumPy kullanabilirsiniz.

* **Trigonometrik Ä°ÅŸlemler:** SinÃ¼s, kosinÃ¼s, tanjant gibi trigonometrik fonksiyonlarÄ± hesaplamak iÃ§in NumPy'Ä±n trigonometrik fonksiyonlarÄ±nÄ± kullanabilirsiniz.

* **Logaritmik ve Ãœstel Ä°ÅŸlemler:** Logaritma ve Ã¼stel iÅŸlemler iÃ§in NumPy fonksiyonlarÄ±nÄ± kullanabilirsiniz.

* **Ä°statistiksel Ä°ÅŸlemler:** Ortalama, standart sapma, medyan gibi istatistiksel iÅŸlemleri yapmak iÃ§in NumPy'Ä±n istatistiksel fonksiyonlarÄ±nÄ± kullanabilirsiniz.

* **UzaklÄ±k ve Norm Ä°ÅŸlemleri:** Ä°ki nokta arasÄ±ndaki uzaklÄ±ÄŸÄ± hesaplamak iÃ§in NumPy fonksiyonlarÄ±nÄ± kullanabilirsiniz.

* **Rastgele SayÄ± Ãœretimi:** Rastgele sayÄ±lar Ã¼retmek iÃ§in NumPy'Ä±n rastgele sayÄ± Ã¼retme fonksiyonlarÄ±nÄ± kullanabilirsiniz.

* **DoÄŸrusal Cebir Ä°ÅŸlemleri:** VektÃ¶r iÃ§ Ã§arpÄ±mÄ±, matris Ã§arpÄ±mÄ±, determinan hesaplama gibi doÄŸrusal cebir iÅŸlemleri iÃ§in NumPy kullanabilirsiniz.

In [71]:
# Temel aritmetik iÅŸlemler:

x = 5
y = 3

In [72]:
np.add(x, y)  # toplama

8

In [73]:
np.subtract(x, y) # Ã§Ä±karma

2

In [74]:
np.multiply(x, y) # Ã§arpma

15

In [75]:
np.divide(x, y) # bÃ¶lme

1.6666666666666667

In [76]:
# Trigonometrik iÅŸlemler:

angle = np.pi / 4

In [77]:
np.sin(angle)  # SinÃ¼s

0.7071067811865475

In [78]:
np.cos(angle)  # KosinÃ¼s

0.7071067811865476

In [79]:
np.tan(angle)  # Tanjant

0.9999999999999999

In [80]:
# Logaritmik ve Ã¼stel iÅŸlemler:

num = 10

In [81]:
np.log(num)  # Logaritma

2.302585092994046

In [82]:
np.exp(num)  # Ãœstel fonksiyon

22026.465794806718

In [83]:
# Ä°statistiksel iÅŸlemler:

data = np.array([2, 5, 7, 3, 9])

In [84]:
np.mean(data)  # Ortalama

5.2

In [85]:
np.std(data)  # Standart sapma

2.5612496949731396

In [86]:
np.median(data)  # Medyan

5.0

In [87]:
# Rastgele sayÄ± Ã¼retimi:

np.random.rand()  # 0 ile 1 arasÄ±nda rastgele bir sayÄ±

0.3357719469807494

In [88]:
np.random.randint(1, 10)  # 1 ile 9 arasÄ±nda rastgele bir tamsayÄ±

7

In [89]:
# DoÄŸrusal cebir iÅŸlemleri:

vector1 = np.array([1, 2, 3])
vector2 = np.array([4, 5, 6])

np.dot(vector1, vector2)  # VektÃ¶r iÃ§ Ã§arpÄ±mÄ±

32

In [90]:
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

np.matmul(matrix1, matrix2)  # Matris Ã§arpÄ±mÄ±

array([[19, 22],
       [43, 50]])

In [91]:
np.linalg.det(matrix1)  # Matris determinantÄ±

-2.0000000000000004

In [92]:
# NumPy ile Ä°ki Bilinmeyenli Denklem Ã‡Ã¶zÃ¼mÃ¼

a = np.array([[5, 1], [1, 3]])
b = np.array([12, 10])

np.linalg.solve(a, b)

array([1.85714286, 2.71428571])

<a id = "14"></a><br>
<h1 style="background-color:#F75D59;font-family:courier;font-size:300%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Pandas </h1>

<a id = "15"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> GiriÅŸ </h1>

Pandas, Python programlama dilinde veri analizi ve veri manipÃ¼lasyonu iÃ§in kullanÄ±lan aÃ§Ä±k kaynaklÄ± bir kÃ¼tÃ¼phanedir. Pandas, gÃ¼Ã§lÃ¼ ve esnek veri yapÄ±larÄ± ve veri analizi araÃ§larÄ± sunarak verilerinizi etkili bir ÅŸekilde iÅŸlemenize ve analiz etmenize olanak tanÄ±r. Pandas, Ã¶zellikle tablo benzeri veri yapÄ±larÄ± (DataFrame) Ã¼zerinde yÃ¼ksek performanslÄ± ve kolay iÅŸlemler yapmak iÃ§in tasarlanmÄ±ÅŸtÄ±r.

Pandas'Ä±n temel yapÄ±larÄ± ÅŸunlardÄ±r:

* **DataFrame:** Verileri tablo ÅŸeklinde saklamak ve iÅŸlemek iÃ§in kullanÄ±lan iki boyutlu veri yapÄ±sÄ±dÄ±r. DataFrame, sÃ¼tunlar ve satÄ±rlar iÃ§eren bir tabloyu temsil eder ve verilerinizi etiketli bir biÃ§imde dÃ¼zenlemenize ve analiz etmenize olanak tanÄ±r.

* **Series:** Tek boyutlu etiketli veri dizileridir. Series, veri noktalarÄ±nÄ± ve bunlara karÅŸÄ±lÄ±k gelen etiketleri iÃ§eren bir dizi gibi dÃ¼ÅŸÃ¼nÃ¼lebilir. DataFrame iÃ§indeki sÃ¼tunlar veya satÄ±rlar Series olarak temsil edilir.

Pandas, verileri yÃ¼kleme, filtreleme, dÃ¶nÃ¼ÅŸtÃ¼rme, birleÅŸtirme, gruplama ve istatistiksel hesaplamalar gibi Ã§eÅŸitli iÅŸlemler iÃ§in kullanÄ±labilir. AyrÄ±ca, verileri farklÄ± formatlarda (CSV, Excel, SQL, vb.) okuma ve yazma iÅŸlemleri iÃ§in de geniÅŸ bir desteÄŸe sahiptir.

Pandas, veri bilimciler, analistler ve veri mÃ¼hendisleri tarafÄ±ndan yaygÄ±n olarak kullanÄ±lmaktadÄ±r. Verilerinizi hÄ±zlÄ± ve etkili bir ÅŸekilde iÅŸlemek ve analiz etmek iÃ§in Pandas'Ä± kullanabilirsiniz.

<a id = "16"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Seri OluÅŸturma </h1>

Pandas serilerini Python'da oluÅŸturmak iÃ§in pd.Series() yapÄ±cÄ±sÄ±nÄ± kullanabilirsiniz. Seriler, herhangi bir veri tÃ¼rÃ¼ndeki verileri tutabilen, etiketli bir boyutlu dizi olarak dÃ¼ÅŸÃ¼nÃ¼lebilir. NumPy dizilerine benzerdir, ancak etiketli indeksleme gibi ek Ã¶zelliklere sahiptir. Bir Pandas Series oluÅŸturmak iÃ§in Ã¶ncelikle import pandas as pd komutuyla Pandas kÃ¼tÃ¼phanesini iÃ§e aktarmalÄ± ve ardÄ±ndan pd.Series() yapÄ±cÄ±sÄ±nÄ± kullanarak Series oluÅŸturmalÄ±sÄ±nÄ±z.

In [93]:
import pandas as pd

# Python listesinden bir Series oluÅŸturma:

veri = [10, 20, 30, 40, 50]
seri1 = pd.Series(veri)

seri1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [94]:
# NumPy dizisinden bir Series oluÅŸturma:

veri_np = np.array([0.1, 0.2, 0.3, 0.4, 0.5])
seri2 = pd.Series(veri_np)

seri2

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [95]:
# Ã–zel indeks etiketleriyle bir Series oluÅŸturma:

veri_sozluk = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}
seri3 = pd.Series(veri_sozluk)

seri3

A    10
B    20
C    30
D    40
E    50
dtype: int64

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>ğŸ’¡ Notlar: </font></h3>

* Pandas Serileri iÃ§in sÄ±k kullanÄ±lan bazÄ± komutlar:

**pd.Series():** Yeni bir Pandas Serisi oluÅŸturmak iÃ§in kullanÄ±lÄ±r.

**head():** Serinin ilk birkaÃ§ satÄ±rÄ±nÄ± gÃ¶rmek iÃ§in kullanÄ±lÄ±r.

**tail():** Serinin son birkaÃ§ satÄ±rÄ±nÄ± gÃ¶rmek iÃ§in kullanÄ±lÄ±r.

**shape:** Serinin boyutunu (satÄ±r, sÃ¼tun) gÃ¶steren bir demet dÃ¶ndÃ¼rÃ¼r.

**size:** Serinin toplam eleman sayÄ±sÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.

**index:** Serinin indekslerini dÃ¶ndÃ¼rÃ¼r.

**values:** Serinin deÄŸerlerini (verilerini) dÃ¶ndÃ¼rÃ¼r.

**describe():** Serinin temel istatistiksel bilgilerini (count, mean, std, min, 25%, 50%, 75%, max) gÃ¶rmek iÃ§in kullanÄ±lÄ±r.

**unique():** Serideki benzersiz deÄŸerleri dÃ¶ndÃ¼rÃ¼r.

**nunique():** Serideki benzersiz deÄŸerlerin sayÄ±sÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.

**count():** Serideki toplam eleman sayÄ±sÄ±nÄ± dÃ¶ndÃ¼rÃ¼r (NaN olmayan deÄŸerlerin sayÄ±sÄ±).

**sum():** Serideki deÄŸerlerin toplamÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.

**mean():** Serideki deÄŸerlerin ortalamasÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.

**median():** Serideki deÄŸerlerin ortanca deÄŸerini dÃ¶ndÃ¼rÃ¼r.

**min():** Serideki en kÃ¼Ã§Ã¼k deÄŸeri dÃ¶ndÃ¼rÃ¼r.

**max():** Serideki en bÃ¼yÃ¼k deÄŸeri dÃ¶ndÃ¼rÃ¼r.

**std():** Serideki deÄŸerlerin standart sapmasÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.

**var():** Serideki deÄŸerlerin varyansÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.

**sort_values():** Seriyi deÄŸerlere gÃ¶re sÄ±ralar.

**sort_index():** Seriyi indekslere gÃ¶re sÄ±ralar.

**isnull():** Her bir elemanÄ±n NaN olup olmadÄ±ÄŸÄ±nÄ± kontrol eder ve sonuÃ§larÄ± bir boolean Seri olarak dÃ¶ndÃ¼rÃ¼r.

**fillna():** NaN deÄŸerleri baÅŸka bir deÄŸerle doldurmak iÃ§in kullanÄ±lÄ±r.

**dropna():** NaN deÄŸerleri iÃ§eren satÄ±rlarÄ± kaldÄ±rmak iÃ§in kullanÄ±lÄ±r.

**apply():** Her elemana bir fonksiyon uygulamak iÃ§in kullanÄ±lÄ±r.

**map():** Her elemana bir sÃ¶zlÃ¼k veya Seri uygulamak iÃ§in kullanÄ±lÄ±r.

**replace():** Belirli deÄŸerleri baÅŸka bir deÄŸerle deÄŸiÅŸtirmek iÃ§in kullanÄ±lÄ±r.

**iloc[]:** Serideki elemanlara konum indeksiyle eriÅŸmek iÃ§in kullanÄ±lÄ±r.

**loc[]:** Serideki elemanlara etiket indeksiyle eriÅŸmek iÃ§in kullanÄ±lÄ±r.

**astype():** Serinin veri tÃ¼rÃ¼nÃ¼ dÃ¶nÃ¼ÅŸtÃ¼rmek iÃ§in kullanÄ±lÄ±r.

**copy():** Bir Seri Ã¼zerinde deÄŸiÅŸiklik yapmak istediÄŸinizde, orijinal Seriyi korumak iÃ§in kullanÄ±lÄ±r.

In [96]:
seri1.index

RangeIndex(start=0, stop=5, step=1)

In [97]:
seri1.dtype

dtype('int64')

In [98]:
seri1.size

5

In [99]:
seri1.ndim

1

In [100]:
seri1.values

array([10, 20, 30, 40, 50])

In [101]:
type(seri1.values)

numpy.ndarray

In [102]:
seri1.head(2)

0    10
1    20
dtype: int64

In [103]:
seri1.tail(2)

3    40
4    50
dtype: int64

<a id = "17"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> DataFrame OluÅŸturma </h1>

Pandas DataFrame, Python'da tablo benzeri verileri dÃ¼zenlemek ve iÅŸlemek iÃ§in kullanÄ±lan gÃ¼Ã§lÃ¼ bir veri yapÄ±sÄ±dÄ±r. DataFrame, etiketli sÃ¼tun ve satÄ±rlardan oluÅŸur ve birÃ§ok veri tipini destekler.

In [104]:
import pandas as pd
import numpy as np

#  Liste veya NumPy Dizisi kullanarak:

data = [['John', 25, 'New York'],
        ['Jane', 30, 'London'],
        ['Mike', 22, 'Paris']]

columns = ['Name', 'Age', 'City']

df = pd.DataFrame(data, columns=columns)

df

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   22     Paris

In [105]:
# SÃ¶zlÃ¼k kullanarak:

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 22],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)

df

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   22     Paris

In [106]:
# CSV dosyasÄ±ndan DataFrame oluÅŸturma:

df = pd.read_csv('/kaggle/input/titanic/train.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [107]:
# Excel dosyasÄ±ndan DataFrame oluÅŸturma:

# df = pd.read_excel('veri.xlsx')

<a id = "18"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> DataFrame Ä°ÅŸlemleri </h1>

In [108]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

 * **Veriye HÄ±zlÄ± BakÄ±ÅŸ:**

In [109]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [110]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [111]:
df.shape

(891, 12)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [113]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [114]:
df.index

RangeIndex(start=0, stop=891, step=1)

In [115]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [116]:
df.isnull().values.any()

True

In [117]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [118]:
df.describe(include=[object]).T

         count unique                      top freq
Name       891    891  Braund, Mr. Owen Harris    1
Sex        891      2                     male  577
Ticket     891    681                   347082    7
Cabin      204    147                  B96 B98    4
Embarked   889      3                        S  644

In [119]:
# Belirli bir baÅŸlÄ±ÄŸÄ± almak

df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [120]:
# Belirli bir sÃ¼tunu seÃ§mek

df[['Survived', 'Pclass']]

     Survived  Pclass
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
..        ...     ...
886         0       2
887         1       1
888         0       3
889         1       1
890         0       3

[891 rows x 2 columns]

In [121]:
# SatÄ±r indeksi ile belirli bir satÄ±rÄ± almak

df.loc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [122]:
# SatÄ±r numarasÄ± ile belirli bir satÄ±rÄ± almak

df.iloc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [123]:
df["Sex"].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [124]:
df["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

* **Veri Ekleme ve DeÄŸiÅŸtirme:**

In [125]:
df['Age'] = df['Age'] + 1

* **Veri Filtreleme:**

In [126]:
# KoÅŸullara gÃ¶re verileri filtreleme:

df[df['Age'] > 25].head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,39.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,27.0,0,0,STON/O2. 3101282,7.9250,NaN,S

* **NaN DeÄŸerlerini Ä°ÅŸleme:**

In [127]:
# NaN deÄŸerlerini silme:

df.dropna().head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,39.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,36.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,55.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,5.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,59.0,0,0,113783,26.5500,C103,S

In [128]:
# NaN deÄŸerlerini baÅŸka bir deÄŸerle doldurma:

df.fillna(0).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,23.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,39.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,27.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,36.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,36.0,0,0,373450,8.0500,0,S

* **Veri Gruplama ve Ä°statistiksel Ä°ÅŸlemler:**

In [129]:
# Bir sÃ¼tuna gÃ¶re verileri gruplama:

grouped_df = df.groupby('Ticket')

grouped_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,23.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,39.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,27.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,36.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,36.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,28.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,20.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,27.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,33.0,0,0,370376,7.7500,NaN,Q

In [130]:
# GruplanmÄ±ÅŸ verilerin ortalama deÄŸerlerini hesaplama:

grouped_df['Age'].mean()

Ticket
110152         27.333333
110413         37.333333
110465         48.000000
110564         29.000000
110813         61.000000
                 ...
W./C. 6608     24.500000
W./C. 6609           NaN
W.E.P. 5734    47.000000
W/C 14208      31.000000
WE/P 5735      54.000000
Name: Age, Length: 681, dtype: float64

* **Veri SÄ±ralama:**

In [131]:
# SÃ¼tuna gÃ¶re verileri sÄ±ralama:

df.sort_values('Age').head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,1.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,1.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,1.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,1.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,1.83,0,2,248738,29.0000,NaN,S

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>ğŸ’¡ Notlar: </font></h3>

* Pandas DataFrame'de **axis** parametresi, bazÄ± iÅŸlemlerde hangi eksen Ã¼zerinde iÅŸlem yapÄ±lacaÄŸÄ±nÄ± belirtmek iÃ§in kullanÄ±lÄ±r.

    * **axis=0**: Bu, DataFrame Ã¼zerinde iÅŸlem yaparken satÄ±rlar (gÃ¶zlemler) Ã¼zerinde iÅŸlem yapÄ±lacaÄŸÄ±nÄ± belirtir. Yani, satÄ±r bazlÄ± iÅŸlem yapmak istediÄŸinizde axis=0 kullanÄ±lÄ±r. VarsayÄ±lan olarak Ã§oÄŸu DataFrame iÅŸlemi iÃ§in bu kullanÄ±lÄ±r.
    * **axis=1**: Bu, DataFrame Ã¼zerinde iÅŸlem yaparken sÃ¼tunlar (deÄŸiÅŸkenler) Ã¼zerinde iÅŸlem yapÄ±lacaÄŸÄ±nÄ± belirtir. Yani, sÃ¼tun bazlÄ± iÅŸlem yapmak istediÄŸinizde axis=1 kullanÄ±lÄ±r.

* Pandas DataFrame'de **inplace** parametresi, Ã§oÄŸu DataFrame iÅŸlemi sÄ±rasÄ±nda mevcut DataFrame'in deÄŸiÅŸtirilip deÄŸiÅŸtirilmeyeceÄŸini belirlemek iÃ§in kullanÄ±lÄ±r. VarsayÄ±lan olarak, Ã§oÄŸu iÅŸlemde inplace=False olarak ayarlanmÄ±ÅŸtÄ±r, bu nedenle DataFrame'iniz deÄŸiÅŸtirilmeden iÅŸlem sonucu dÃ¶ndÃ¼rÃ¼lÃ¼r.

* Ancak **inplace=True** olarak ayarlandÄ±ÄŸÄ±nda, iÅŸlem mevcut DataFrame Ã¼zerinde uygulanÄ±r ve DataFrame deÄŸiÅŸtirilir. Bu durumda iÅŸlem sonucu ayrÄ±ca dÃ¶ndÃ¼rÃ¼lmez ve None deÄŸeri dÃ¶ner.

In [132]:
import pandas as pd

# DataFrame oluÅŸturalÄ±m:

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}

df = pd.DataFrame(data)

df

   A  B
0  1  4
1  2  5
2  3  6

In [133]:
# Axis kullanÄ±mÄ± (SatÄ±rlar Ã¼zerinde toplama):

data = df.sum(axis=0)

data

A     6
B    15
dtype: int64

In [134]:
# Axis kullanÄ±mÄ± (SÃ¼tunlar Ã¼zerinde toplama):

data = df.sum(axis=1)

data

0    5
1    7
2    9
dtype: int64

* **Pandas'ta SeÃ§im Ä°ÅŸlemleri:**

In [135]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [136]:
df[0:8]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [137]:
df.drop(0, axis=0).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [138]:
delete_indexes = [1, 3, 5, 7]

df.drop(delete_indexes, axis=0).head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S

* **DeÄŸiÅŸkeni Indexe Ã‡evirmek:**

In [139]:
df["Age"].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [140]:
df.index = df["Age"]

In [141]:
df.drop("Age", axis=1).head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Age,,,,,,,,,,,
22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

In [142]:
df.drop("Age", axis=1, inplace=True)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Age,,,,,,,,,,,
22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

* **Indexi DeÄŸiÅŸkene Ã‡evirmek:**

In [143]:
df.index

Float64Index([22.0, 38.0, 26.0, 35.0, 35.0,  nan, 54.0,  2.0, 27.0, 14.0,
              ...
              33.0, 22.0, 28.0, 25.0, 39.0, 27.0, 19.0,  nan, 26.0, 32.0],
             dtype='float64', name='Age', length=891)

In [144]:
df["Age"] = df.index

In [145]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age
Age,,,,,,,,,,,,
22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S,22.0
38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,38.0
26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0
35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,35.0
35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S,35.0

In [146]:
df.drop("Age", axis=1, inplace=True)

In [147]:
df.reset_index().head()

,Age,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
1,38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
2,26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
4,35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

In [148]:
df = df.reset_index()

* **DeÄŸiÅŸkenler Ãœzerinde Ä°ÅŸlemler:**

In [149]:
"Age" in df

True

In [150]:
df["Age"].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [151]:
df.Age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [152]:
type(df["Age"].head())

pandas.core.series.Series

In [153]:
df[["Age"]].head()

    Age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0

In [154]:
type(df[["Age"]].head())

pandas.core.frame.DataFrame

In [155]:
df["Age2"] = df["Age"]**2

In [156]:
df["Age3"] = df["Age"] / df["Age2"]

In [157]:
df.head()

,Age,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age2,Age3
0,22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S,484.0,0.045455
1,38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C,1444.0,0.026316
2,26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S,676.0,0.038462
3,35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S,1225.0,0.028571
4,35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S,1225.0,0.028571

In [158]:
df = df.drop(["Age3","Age2"], axis=1)

In [159]:
df.head()

,Age,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
1,38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
2,26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
4,35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

In [160]:
df.loc[:, ~df.columns.str.contains("Age")].head() # ~ ifadesi hariÃ§ ekler, contains yakalamak iÃ§in kullanÄ±lÄ±r.

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>ğŸ’¡ Notlar: </font></h3>

Bu Python kodu ile;

1. `df` bir pandas DataFrame nesnesini temsil eder. Bu DataFrame Ã¼zerinde iÅŸlem yapmak istiyoruz.

2. `.loc[]` yÃ¶ntemi, veri Ã§erÃ§evesindeki belirli satÄ±r ve sÃ¼tunlara eriÅŸmeyi saÄŸlar. Burada sadece sÃ¼tunlarÄ± filtrelemek istediÄŸimiz iÃ§in satÄ±r endeksi kÄ±smÄ±nÄ± ":" kullanarak tÃ¼m satÄ±rlarÄ± seÃ§iyoruz.

3. `~df.columns.str.contains("Age")` ifadesi, DataFrame'deki sÃ¼tun adlarÄ±nÄ± kontrol eder ve "Age" kelimesini iÃ§ermeyen sÃ¼tunlarÄ± seÃ§meyi amaÃ§lar.

   - `df.columns` sÃ¼tun adlarÄ±nÄ± iÃ§eren bir Index nesnesini temsil eder.
   - `.str.contains("Age")` yÃ¶ntemi, sÃ¼tun adlarÄ±nÄ± "Age" kelimesini iÃ§erip iÃ§ermediÄŸini kontrol etmek iÃ§in kullanÄ±r ve sonuÃ§ta her bir sÃ¼tun iÃ§in bir boolean (True/False) deÄŸer dÃ¶ndÃ¼rÃ¼r.
   - `~` iÅŸareti, bu boolean deÄŸerleri ters Ã§evirir. Yani "Age" kelimesini iÃ§ermeyen sÃ¼tunlar `True` ve "Age" kelimesini iÃ§eren sÃ¼tunlar `False` olarak iÅŸaretlenir.

4. SonuÃ§ olarak, `.loc[:, ~df.columns.str.contains("Age")]` ifadesi, tÃ¼m satÄ±rlarÄ± ve "Age" kelimesini iÃ§ermeyen sÃ¼tunlarÄ± iÃ§eren bir DataFrame'i seÃ§er.

5. `.head()` yÃ¶ntemi, bu filtrelenmiÅŸ DataFrame'in ilk birkaÃ§ satÄ±rÄ±nÄ± (varsayÄ±lan olarak ilk 5 satÄ±rÄ±) dÃ¶ndÃ¼rÃ¼r.

<a id = "19"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> loc - iloc FarkÄ± </h1>

Ã–ncelikle indeksler konusunu aÃ§Ä±klayalÄ±m.

Pandas'ta bir indeks, DataFrame iÃ§indeki satÄ±rlarÄ± benzersiz bir ÅŸekilde tanÄ±mlayan bir Ã¶ÄŸedir. Verilere daha anlamlÄ± ve verimli bir ÅŸekilde eriÅŸim ve baÅŸvurular saÄŸlar. Bir DataFrame oluÅŸturduÄŸunuzda, varsayÄ±lan olarak pandas satÄ±rlara 0'dan baÅŸlayarak sÄ±ralÄ± bir sayÄ±sal indeks atar. Ancak aynÄ± zamanda, DataFrame'den bir veya birden fazla sÃ¼tunu indeks olarak kullanmak Ã¼zere belirleyebilirsiniz.

Pandas DataFrame indeksleri hakkÄ±nda bazÄ± Ã¶nemli noktalar:

* **VarsayÄ±lan Ä°ndeks:** Ä°ndeks belirtmeden bir DataFrame oluÅŸturduÄŸunuzda, pandas otomatik olarak 0'dan baÅŸlayarak her satÄ±ra sÄ±ralÄ± bir sayÄ±sal indeks atar.

* **Ä°ndeks Belirtme:** Mevcut bir sÃ¼tunu DataFrame oluÅŸtururken indeks olarak belirtmek iÃ§in index parametresini kullanabilirsiniz. Ã–rneÄŸin: **df = pd.DataFrame(veri, index=benim_indeks_sÃ¼tunum)**.

* **Sonradan Ä°ndeks Belirleme:** DataFrame iÃ§indeki indeksi sonradan da belirleyebilirsiniz. Bunun iÃ§in DataFrame'in set_index() metodunu kullanabilirsiniz. Ã–rneÄŸin: **df.set_index('sÃ¼tun_adÄ±', inplace=True)**.

* **Ã‡ok DÃ¼zeyli Ä°ndeks:** DataFrame, Ã§ok dÃ¼zeyli bir indekse sahip olabilir. Birden fazla sÃ¼tunu indeks olarak kullanarak hiyerarÅŸik bir yapÄ± oluÅŸturabilirsiniz.

* **Ä°ndeksleme ile SatÄ±rlara EriÅŸim:** Bir indeks belirledikten sonra, DataFrame iÃ§indeki satÄ±rlara **loc[]** metodunu kullanarak indeksleme yapabilirsiniz. Ã–rneÄŸin: **df.loc['indeks_deÄŸeri']**.

* **Ä°ndeksi SÄ±fÄ±rlama:** Mevcut indeksi kaldÄ±rmak ve varsayÄ±lan sayÄ±sal indekse geri dÃ¶nmek isterseniz, **reset_index()** metodunu kullanabilirsiniz.

In [161]:
import pandas as pd

veri = {
    'Ä°sim': ['Alice', 'Bob', 'Charlie', 'David'],
    'YaÅŸ': [25, 30, 35, 28],
    'Åehir': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

# 'Ä°sim' sÃ¼tununu indeks olarak belirleyerek DataFrame oluÅŸturma:

df = pd.DataFrame(veri, index=['A', 'B', 'C', 'D'])

df

      Ä°sim  YaÅŸ          Åehir
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   28        Chicago

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>ğŸ’¡ Notlar: </font></h3>

**1. DataFrame loc[] metodu:**

* loc[] metodu, satÄ±r ve sÃ¼tunlara etiket adlarÄ±yla eriÅŸim yapmak iÃ§in kullanÄ±lÄ±r.
* Bu metot, satÄ±r ve sÃ¼tunlarÄ±n etiketlerine dayalÄ± seÃ§im yapmanÄ±za olanak saÄŸlar.
* Etiket tabanlÄ± iÅŸlemler yapmak iÃ§in loc[] kullanÄ±lÄ±r.
* loc[] metodu, etiketlerle Ã§alÄ±ÅŸÄ±r ve sonucu daima etiketleri iÃ§eren bir DataFrame olarak dÃ¶ndÃ¼rÃ¼r.
* Ä°ÅŸlem sonucunda belirtilen etiketleri iÃ§eren satÄ±r ve sÃ¼tunlardan oluÅŸan bir alt kÃ¼me elde edilir.

**2. DataFrame iloc[] metodu:**

* iloc[] metodu, satÄ±r ve sÃ¼tunlara tamsayÄ± tabanlÄ± konumlarÄ±yla eriÅŸim yapmak iÃ§in kullanÄ±lÄ±r.
* Bu metot, satÄ±r ve sÃ¼tunlarÄ±n tamsayÄ± indeksine dayalÄ± seÃ§im yapmanÄ±za olanak saÄŸlar.
* TamsayÄ± tabanlÄ± iÅŸlemler yapmak iÃ§in iloc[] kullanÄ±lÄ±r.
* iloc[] metodu, tamsayÄ± indeksleriyle Ã§alÄ±ÅŸÄ±r ve sonucu daima tamsayÄ± indeksleri iÃ§eren bir DataFrame olarak dÃ¶ndÃ¼rÃ¼r.
* Ä°ÅŸlem sonucunda belirtilen tamsayÄ± indeksleri iÃ§eren satÄ±r ve sÃ¼tunlardan oluÅŸan bir alt kÃ¼me elde edilir.

In [162]:
import pandas as pd

# DataFrame oluÅŸturalÄ±m
data = {
    'Ad': ['John', 'Jane', 'Mike', 'Emily'],
    'YaÅŸ': [25, 30, 22, 28],
    'Åehir': ['New York', 'London', 'Paris', 'Sydney']
}

df = pd.DataFrame(data)

# loc[] ile etiket tabanlÄ± iÅŸlem yapalÄ±m:

df.loc[0:3,"YaÅŸ"]   # Etiket tabanlÄ± olarak 'Jane' satÄ±rÄ±nÄ± alÄ±r

0    25
1    30
2    22
3    28
Name: YaÅŸ, dtype: int64

In [163]:
# iloc[] ile tamsayÄ± tabanlÄ± iÅŸlem yapalÄ±m:

df.iloc[0:3]   # TamsayÄ± tabanlÄ± olarak 1. indeksteki satÄ±rÄ± alÄ±r

     Ad  YaÅŸ     Åehir
0  John   25  New York
1  Jane   30    London
2  Mike   22     Paris

In [164]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [165]:
# iloc: integer tabanlÄ± seÃ§im;

df.iloc[0:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [166]:
df.iloc[0, 0]

1

In [167]:
# loc: etiket tabanlÄ± seÃ§im;

df.loc[0:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [168]:
df.iloc[0:3, 0:3]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1
2            3         1       3

In [169]:
df.loc[0:3, "Age"] # satÄ±r veya indekslerde deÄŸerlerin bizzat kendisine gÃ¶re seÃ§mek istersek

0    22.0
1    38.0
2    26.0
3    35.0
Name: Age, dtype: float64

<a id = "20"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> KoÅŸullu Eleman Ä°ÅŸlemleri </h1>

Pandas DataFrame'de koÅŸullu eleman iÅŸlemleri, belirli koÅŸullara gÃ¶re veri seÃ§mek, filtrelemek veya deÄŸiÅŸtirmek iÃ§in kullanÄ±lan iÅŸlemlerdir. DataFrame iÃ§indeki verileri daha iyi anlamak ve manipÃ¼le etmek iÃ§in koÅŸullu eleman iÅŸlemleri oldukÃ§a Ã¶nemlidir. Ä°ÅŸte DataFrame'de yaygÄ±n olarak kullanÄ±lan koÅŸullu eleman iÅŸlemleri:

1. **SeÃ§me (Selection):**

DataFrame'de belirli bir koÅŸulu saÄŸlayan elemanlarÄ± seÃ§mek iÃ§in kullanÄ±lÄ±r.
Bu, DataFrame'i filtrelemek veya belirli verileri analiz etmek iÃ§in kullanÄ±ÅŸlÄ±dÄ±r.

2. **Filtreleme (Filtering):**

DataFrame iÃ§indeki belirli bir koÅŸulu saÄŸlayan elemanlarÄ± filtrelemek iÃ§in kullanÄ±lÄ±r.
Filtreleme iÅŸlemi sonucunda, DataFrame iÃ§inde sadece belirli koÅŸulu saÄŸlayan veriler kalÄ±r.

3. **Yeniden DÃ¼zenleme (Reassignment):**

DataFrame iÃ§inde belirli bir koÅŸulu saÄŸlayan elemanlarÄ± belirli bir deÄŸerle deÄŸiÅŸtirmek iÃ§in kullanÄ±lÄ±r.
Bu, DataFrame'deki verileri gÃ¼ncellemek veya dÃ¼zenlemek iÃ§in kullanÄ±ÅŸlÄ±dÄ±r.

4. **NaN DeÄŸerlerini Ä°ÅŸleme (Handling NaN Values):**

DataFrame'de NaN (Not a Number) deÄŸerlerini belirli bir deÄŸerle deÄŸiÅŸtirmek veya kaldÄ±rmak iÃ§in kullanÄ±lÄ±r.
Bu, eksik veya geÃ§ersiz verilerle baÅŸa Ã§Ä±kmak iÃ§in kullanÄ±ÅŸlÄ±dÄ±r.

---------------------------------------

In [170]:
import pandas as pd

# DataFrame oluÅŸturalÄ±m:

data = {
    'Name': ['John', 'Jane', 'Mike', 'Emily'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'London', 'Paris', 'Sydney']
}

df = pd.DataFrame(data)

# YaÅŸÄ± 25'ten bÃ¼yÃ¼k olan kiÅŸileri seÃ§me:

df[df['Age'] > 25]

    Name  Age    City
1   Jane   30  London
3  Emily   28  Sydney

In [171]:
# Paris'te yaÅŸayan kiÅŸileri seÃ§me:

df[df['City'] == 'Paris']

   Name  Age   City
2  Mike   22  Paris

In [172]:
# Åehri "London" olan kiÅŸileri filtreleme:

df[df['City'] == 'London']

   Name  Age    City
1  Jane   30  London

In [173]:
# YaÅŸÄ± 25'ten bÃ¼yÃ¼k olan kiÅŸileri filtreleme:

df[df['Age'] > 25]

    Name  Age    City
1   Jane   30  London
3  Emily   28  Sydney

In [174]:
# "Jane" adlÄ± kiÅŸinin yaÅŸÄ± 35 olarak gÃ¼ncelleme:

df.loc[df['Name'] == 'Jane', 'Age'] = 35

df

    Name  Age      City
0   John   25  New York
1   Jane   35    London
2   Mike   22     Paris
3  Emily   28    Sydney

In [175]:
# "Emily" adlÄ± kiÅŸinin ÅŸehrini "Los Angeles" olarak gÃ¼ncelleme:

df.loc[df['Name'] == 'Emily', 'City'] = 'Los Angeles'

df

    Name  Age         City
0   John   25     New York
1   Jane   35       London
2   Mike   22        Paris
3  Emily   28  Los Angeles

In [176]:
# NaN deÄŸerleri "Bilinmiyor" ile deÄŸiÅŸtirme:

df.fillna('Bilinmiyor', inplace=True)

In [177]:
# NaN deÄŸerleri iÃ§eren satÄ±rlarÄ± kaldÄ±rma:

df.dropna(inplace=True)

--------------------------------

In [178]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [179]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [180]:
df.loc[df["Age"] > 50, ["Age", "Pclass"]].head()

     Age  Pclass
6   54.0       1
11  58.0       1
15  55.0       2
33  66.0       2
54  65.0       1

In [181]:
df.loc[(df["Age"] > 50) & (df["Sex"] == "male"), ["Age", "Pclass"]].head()

     Age  Pclass
6   54.0       1
33  66.0       2
54  65.0       1
94  59.0       3
96  71.0       1

In [182]:
df.loc[(df["Age"] > 50) & (df["Sex"] == "male") & ((df["Embarked"] == "C") | (df["Embarked"] == "S")), ["Age", "Pclass", "Embarked"]].head()

     Age  Pclass Embarked
6   54.0       1        S
33  66.0       2        S
54  65.0       1        C
94  59.0       3        S
96  71.0       1        C

<a id = "21"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> BirleÅŸtirme Ä°ÅŸlemleri </h1>

FarklÄ± DataFrame'leri tek bir DataFrame iÃ§inde birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. Bu iÅŸlemler, verileri farklÄ± yollarla bir araya getirerek analiz ve iÅŸlemleri kolaylaÅŸtÄ±rÄ±r. Pandas, DataFrame birleÅŸtirme iÅŸlemleri iÃ§in **concat(), merge(), ve join()** gibi yÃ¶ntemler saÄŸlar.

1. **concat():** verilen DataFrame'leri belirtilen eksende (satÄ±r veya sÃ¼tun) birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. Eksende birleÅŸtirme iÅŸlemi yapar ve verileri yan yana (satÄ±rlar halinde) veya alt alta (sÃ¼tunlar halinde) ekler.

2. **merge():** verilen DataFrame'leri belirli sÃ¼tunlarda birleÅŸtirmek iÃ§in kullanÄ±lÄ±r. Bu yÃ¶ntem, SQL'deki "join" iÅŸlemine benzer ve Ã§akÄ±ÅŸan sÃ¼tunlarda verileri birleÅŸtirir.

3. **join():** iki DataFrame'yi birleÅŸtirmek iÃ§in kullanÄ±lÄ±r, ancak merge() yÃ¶nteminden farklÄ± olarak, DataFrame'lerin indeksleri Ã¼zerinden birleÅŸtirme yapar.

---

In [183]:
import pandas as pd

# DataFrame'ler oluÅŸturalÄ±m:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2'],
                    'C': ['C0', 'C1', 'C2']},
                   index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5'],
                    'C': ['C3', 'C4', 'C5']},
                   index=[3, 4, 5])

In [184]:
df1

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [185]:
df2

    A   B   C
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

In [186]:
# DataFrame'leri satÄ±rlar halinde birleÅŸtirme:

result_concat_row = pd.concat([df1, df2])

result_concat_row

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

In [187]:
# DataFrame'leri sÃ¼tunlar halinde birleÅŸtirme:

result_concat_column = pd.concat([df1, df2], axis=1)

result_concat_column

     A    B    C    A    B    C
0   A0   B0   C0  NaN  NaN  NaN
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2  NaN  NaN  NaN
3  NaN  NaN  NaN   A3   B3   C3
4  NaN  NaN  NaN   A4   B4   C4
5  NaN  NaN  NaN   A5   B5   C5

---

In [188]:
import pandas as pd

# DataFrame'ler oluÅŸturalÄ±m:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2'],
                    'key': ['K0', 'K1', 'K2']})

df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                    'D': ['D0', 'D1', 'D2'],
                    'key': ['K0', 'K1', 'K2']})

In [189]:
df1

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2

In [190]:
df2

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2

In [191]:
# 'key' sÃ¼tununa gÃ¶re DataFrame'leri birleÅŸtirme:

result_merge = pd.merge(df1, df2, on='key')

result_merge

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2

---

In [192]:
# DataFrame'ler oluÅŸturalÄ±m:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']},
                   index=['K0', 'K1', 'K2'])

df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                    'D': ['D0', 'D1', 'D2']},
                   index=['K0', 'K1', 'K3'])

In [193]:
df1

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [194]:
df2

     C   D
K0  C0  D0
K1  C1  D1
K3  C2  D2

In [195]:
# Indeksler Ã¼zerinden DataFrame'leri birleÅŸtirme:

result_join = df1.join(df2, how='outer')

result_join

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1   C1   D1
K2   A2   B2  NaN  NaN
K3  NaN  NaN   C2   D2

---

In [196]:
df1 = pd.DataFrame({'employees': ['john', 'dennis', 'mark', 'maria'],
                    'group': ['accounting', 'engineering', 'engineering', 'hr']})

df2 = pd.DataFrame({'employees': ['mark', 'john', 'dennis', 'maria'],
                    'start_date': [2010, 2009, 2014, 2019]})

In [197]:
df1

  employees        group
0      john   accounting
1    dennis  engineering
2      mark  engineering
3     maria           hr

In [198]:
df2

  employees  start_date
0      mark        2010
1      john        2009
2    dennis        2014
3     maria        2019

In [199]:
pd.merge(df1, df2, on="employees")

  employees        group  start_date
0      john   accounting        2009
1    dennis  engineering        2014
2      mark  engineering        2010
3     maria           hr        2019

In [200]:
df3 = pd.merge(df1, df2)

In [201]:
df4 = pd.DataFrame({'group': ['accounting', 'engineering', 'hr'],
                    'manager': ['Caner', 'Mustafa', 'Berkcan']})

In [202]:
pd.merge(df3, df4)

  employees        group  start_date  manager
0      john   accounting        2009    Caner
1    dennis  engineering        2014  Mustafa
2      mark  engineering        2010  Mustafa
3     maria           hr        2019  Berkcan

<a id = "22"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> ToplulaÅŸtÄ±rma ve Gruplama </h1>

**1. GruplandÄ±rma Ä°ÅŸlemleri**

Pandas DataFrame gruplandÄ±rma iÅŸlemleri, verileri belirli sÃ¼tunlara veya birden Ã§ok sÃ¼tuna gÃ¶re gruplara ayÄ±rmayÄ± ve her grup Ã¼zerinde baÄŸÄ±msÄ±z olarak iÅŸlem yapmayÄ± iÃ§erir. Gruplama, her grup iÃ§indeki verileri ayrÄ± ayrÄ± analiz etmenize ve Ã¶zetlemenize olanak tanÄ±r.

ArdÄ±ndan, verileri bir veya daha fazla sÃ¼tuna gÃ¶re gruplandÄ±rmak iÃ§in DataFrame'in groupby() yÃ¶ntemini kullanabilirsiniz. groupby() yÃ¶ntemi, gruplanmÄ±ÅŸ verileri temsil eden bir DataFrameGroupBy nesnesi dÃ¶ndÃ¼rÃ¼r.

GruplandÄ±rÄ±lmÄ±ÅŸ DataFrame'e sahip olduÄŸunuzda, Ã¼zerinde Ã§eÅŸitli toplama veya dÃ¶nÃ¼ÅŸtÃ¼rme iÅŸlemleri gerÃ§ekleÅŸtirebilirsiniz. Toplama iÅŸlevleri, her grup iÃ§in Ã¶zet istatistikleri hesaplarken, dÃ¶nÃ¼ÅŸtÃ¼rme iÅŸlevleri grup bazÄ±nda iÅŸlemler gerÃ§ekleÅŸtirir ve orijinaliyle aynÄ± ÅŸekle sahip bir DataFrame dÃ¶ndÃ¼rÃ¼r.

**2. ToplulaÅŸtÄ±rma (Aggregation) FonksiyonlarÄ±**

Pandastaki DataFrame toplama iÅŸlevleri, gruplandÄ±rma iÅŸlemlerini gerÃ§ekleÅŸtirdikten sonra her gruptaki verilerle ilgili Ã¶zet istatistikleri hesaplamak iÃ§in kullanÄ±lÄ±r. Bu iÅŸlevler, verileri her grup iÃ§in tek bir deÄŸerde toplayarak, belirli kategorilere veya gruplara dayalÄ± olarak verileri hÄ±zlÄ± bir ÅŸekilde analiz etmenize ve Ã¶zetlemenize olanak tanÄ±r.

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>ğŸ’¡ Notlar: </font></h3>

* **sum():** Her gruptaki deÄŸerlerin toplamÄ±nÄ± hesaplar.
* **mean():** Her gruptaki deÄŸerlerin ortalamasÄ±nÄ± (ortalama) hesaplar.
* **median():** Her gruptaki deÄŸerlerin medyanÄ±nÄ± hesaplar.
* **min():** Her gruptaki minimum deÄŸeri hesaplar.
* **max():** Her gruptaki maksimum deÄŸeri hesaplar.
* **count():** Her gruptaki oluÅŸum sayÄ±sÄ±nÄ± sayar.
* **first():** Her grubun ilk elemanÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.
* **last():** Her grubun son elemanÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.
* **var():** Her grubun varyansÄ±nÄ± hesaplar.
* **std():** Her grubun standart sapmasÄ±nÄ± hesaplar.

In [203]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 20, 15, 25, 5, 30]
}

df = pd.DataFrame(data)

In [204]:
df.groupby('Category')['Value'].sum()

Category
A    35
B    70
Name: Value, dtype: int64

In [205]:
df.groupby('Category')['Value'].mean()

Category
A    11.666667
B    23.333333
Name: Value, dtype: float64

In [206]:
df.groupby('Category')['Value'].median()

Category
A    10.0
B    25.0
Name: Value, dtype: float64

In [207]:
df.groupby('Category')['Value'].min()

Category
A     5
B    15
Name: Value, dtype: int64

In [208]:
df.groupby('Category')['Value'].max()

Category
A    20
B    30
Name: Value, dtype: int64

In [209]:
df.groupby('Category')['Value'].count()

Category
A    3
B    3
Name: Value, dtype: int64

In [210]:
df.groupby('Category')['Value'].first()

Category
A    10
B    15
Name: Value, dtype: int64

In [211]:
df.groupby('Category')['Value'].last()

Category
A     5
B    30
Name: Value, dtype: int64

In [212]:
df.groupby('Category')['Value'].var()

Category
A    58.333333
B    58.333333
Name: Value, dtype: float64

In [213]:
df.groupby('Category')['Value'].std()

Category
A    7.637626
B    7.637626
Name: Value, dtype: float64

---

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>ğŸ’¡ Notlar: </font></h3>

* **aggregate():** Pandas'daki aggregate() fonksiyonu, DataFrame iÃ§indeki verilere toplulaÅŸtÄ±rma iÅŸlemleri uygulamak iÃ§in kullanÄ±lÄ±r. Bu fonksiyon, aynÄ± anda farklÄ± sÃ¼tunlara birden fazla toplulaÅŸtÄ±rma iÅŸlevi uygulamanÄ±za olanak tanÄ±r. aggregate() fonksiyonuna, sÃ¼tun adlarÄ± ve karÅŸÄ±lÄ±k gelen toplulaÅŸtÄ±rma iÅŸlevlerini iÃ§eren bir sÃ¶zlÃ¼k geÃ§irebilirsiniz.

* **filter():** DataFrame iÃ§inden belirli koÅŸullara uygun verileri filtrelemek iÃ§in kullanÄ±lÄ±r. Bu fonksiyon, bir iÅŸlev, koÅŸul veya belirli deÄŸerlerin varlÄ±ÄŸÄ±na dayanarak DataFrame'in satÄ±rlarÄ±nÄ± veya sÃ¼tunlarÄ±nÄ± filtrelemenize olanak tanÄ±r.

* **apply():** DataFrame'in eksen boyunca bir iÅŸlevi uygulamak iÃ§in kullanÄ±lÄ±r. Bu fonksiyon, DataFrame'in her satÄ±rÄ± veya sÃ¼tunu Ã¼zerinde Ã¶zel bir iÅŸlev uygulamanÄ±za olanak tanÄ±r.

---

In [214]:
import pandas as pd

veri = {
    'Kategori': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Deger': [10, 20, 15, 25, 5, 30]
}

df = pd.DataFrame(veri)

In [215]:
# 'Deger' sÃ¼tununa birden fazla toplulaÅŸtÄ±rma iÅŸlevi uygulayalÄ±m:

df.groupby('Kategori').agg({'Deger': ['sum', 'mean', 'max']})

         Deger
           sum       mean max
Kategori
A           35  11.666667  20
B           70  23.333333  30

In [216]:
# 'Deger' sÃ¼tununda her gruptaki toplam deÄŸeri 40'tan bÃ¼yÃ¼k olan satÄ±rlarÄ± filtreleyelim:

df.groupby('Kategori').filter(lambda x: x['Deger'].sum() > 40)

  Kategori  Deger
2        B     15
3        B     25
5        B     30

---

In [217]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [218]:
df["Age"].mean()

29.69911764705882

In [219]:
df.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [220]:
df.groupby("Sex").agg({"Age": ["mean", "sum"]})

              Age
             mean       sum
Sex
female  27.915709   7286.00
male    30.726645  13919.17

In [221]:
df.groupby("Sex").agg({"Age": ["mean", "sum"],"Survived": "mean"})

              Age            Survived
             mean       sum      mean
Sex
female  27.915709   7286.00  0.742038
male    30.726645  13919.17  0.188908

In [222]:
df.groupby(["Sex", "Embarked"]).agg({"Age": ["mean"],"Survived": "mean"})

                       Age  Survived
                      mean      mean
Sex    Embarked
female C         28.344262  0.876712
       Q         24.291667  0.750000
       S         27.771505  0.689655
male   C         32.998841  0.305263
       Q         30.937500  0.073171
       S         30.291440  0.174603

In [223]:
df.groupby(["Sex", "Embarked", "Pclass"]).agg({"Age": ["mean"],"Survived": "mean","Sex": "count"})

                              Age  Survived   Sex
                             mean      mean count
Sex    Embarked Pclass
female C        1       36.052632  0.976744    43
                2       19.142857  1.000000     7
                3       14.062500  0.652174    23
       Q        1       33.000000  1.000000     1
                2       30.000000  1.000000     2
                3       22.850000  0.727273    33
       S        1       32.704545  0.958333    48
                2       29.719697  0.910448    67
                3       23.223684  0.375000    88
male   C        1       40.111111  0.404762    42
                2       25.937500  0.200000    10
                3       25.016800  0.232558    43
       Q        1       44.000000  0.000000     1
                2       57.000000  0.000000     1
                3       28.142857  0.076923    39
       S        1       41.897188  0.354430    79
                2       30.875889  0.154639    97
                3       26.574766  0.128302   265

---

In [224]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [225]:
df["Age2"] = df["Age"]*2
df["Age3"] = df["Age"]*5

In [226]:
for col in df.columns:
    if "Age" in col:
        print(col)

for col in df.columns:
    if "Age" in col:
        print((df[col]/10).head())

for col in df.columns:
    if "Age" in col:
        df[col] = df[col]/10

Age
Age2
Age3
0    2.2
1    3.8
2    2.6
3    3.5
4    3.5
Name: Age, dtype: float64
0    4.4
1    7.6
2    5.2
3    7.0
4    7.0
Name: Age2, dtype: float64
0    11.0
1    19.0
2    13.0
3    17.5
4    17.5
Name: Age3, dtype: float64

In [227]:
df[["Age", "Age2", "Age3"]].apply(lambda x: x/10).head()

    Age  Age2  Age3
0  0.22  0.44  1.10
1  0.38  0.76  1.90
2  0.26  0.52  1.30
3  0.35  0.70  1.75
4  0.35  0.70  1.75

In [228]:
df.loc[:, df.columns.str.contains("Age")].apply(lambda x: x/10).head()

    Age  Age2  Age3
0  0.22  0.44  1.10
1  0.38  0.76  1.90
2  0.26  0.52  1.30
3  0.35  0.70  1.75
4  0.35  0.70  1.75

In [229]:
df.loc[:, df.columns.str.contains("Age")].apply(lambda x: (x - x.mean()) / x.std()).head()

        Age      Age2      Age3
0 -0.530005 -0.530005 -0.530005
1  0.571430  0.571430  0.571430
2 -0.254646 -0.254646 -0.254646
3  0.364911  0.364911  0.364911
4  0.364911  0.364911  0.364911

In [230]:
def standart_scaler(col_name):
    return (col_name - col_name.mean()) / col_name.std()

df.loc[:, df.columns.str.contains("Age")].apply(standart_scaler).head()

        Age      Age2      Age3
0 -0.530005 -0.530005 -0.530005
1  0.571430  0.571430  0.571430
2 -0.254646 -0.254646 -0.254646
3  0.364911  0.364911  0.364911
4  0.364911  0.364911  0.364911

----

In [231]:
data = sns.load_dataset("tips")

data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [232]:
data.groupby('time').agg({"total_bill" : ['sum', 'min', 'max', 'mean']})

       total_bill
              sum   min    max       mean
time
Lunch     1167.47  7.51  43.11  17.168676
Dinner    3660.30  3.07  50.81  20.797159

In [233]:
data.groupby(["day","time"]).agg({"total_bill" :['sum', 'min', 'max', 'mean']})

            total_bill
                   sum    min    max       mean
day  time
Thur Lunch     1077.55   7.51  43.11  17.664754
     Dinner      18.78  18.78  18.78  18.780000
Fri  Lunch       89.92   8.58  16.27  12.845714
     Dinner     235.96   5.75  40.17  19.663333
Sat  Lunch        0.00    NaN    NaN        NaN
     Dinner    1778.40   3.07  50.81  20.441379
Sun  Lunch        0.00    NaN    NaN        NaN
     Dinner    1627.16   7.25  48.17  21.410000

In [234]:
data1 = data[(data['time'] == 'Lunch') & (data['sex'] == 'Female')]

data1.groupby(["day"]).agg({"total_bill" : ['sum', 'min', 'max', 'mean'], "tip" : ['sum', 'min', 'max', 'mean']})

     total_bill                            tip
            sum    min    max      mean    sum   min   max      mean
day
Thur     516.11   8.35  43.11  16.64871  79.42  1.25  5.17  2.561935
Fri       55.76  10.09  16.27  13.94000  10.98  2.00  3.48  2.745000
Sat        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN
Sun        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN

In [235]:
data[(data["size"] < 3) & (data["total_bill"] > 10)].agg({"total_bill" : ["mean"]})

      total_bill
mean   17.184965

In [236]:
data["total_bill_tip_sum"] = data['total_bill'] + data['tip']

In [237]:
data.sort_values(by = "total_bill_tip_sum",ascending=False, ignore_index=True).head(10)

   total_bill    tip     sex smoker   day    time  size  total_bill_tip_sum
0       50.81  10.00    Male    Yes   Sat  Dinner     3               60.81
1       48.33   9.00    Male     No   Sat  Dinner     4               57.33
2       48.27   6.73    Male     No   Sat  Dinner     4               55.00
3       48.17   5.00    Male     No   Sun  Dinner     6               53.17
4       45.35   3.50    Male    Yes   Sun  Dinner     3               48.85
5       43.11   5.00  Female    Yes  Thur   Lunch     4               48.11
6       39.42   7.58    Male     No   Sat  Dinner     4               47.00
7       44.30   2.50  Female    Yes   Sat  Dinner     3               46.80
8       41.19   5.00    Male     No  Thur   Lunch     5               46.19
9       40.17   4.73    Male    Yes   Fri  Dinner     4               44.90

<a id = "23"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Pivot Tablosu </h1>

Pandas'da, bir veri kÃ¼mesini Ã¶zetlemek ve yeniden ÅŸekillendirmek iÃ§in kullanÄ±lan gÃ¼Ã§lÃ¼ bir veri iÅŸleme aracÄ±dÄ±r. pivot_table() fonksiyonu, bir DataFrame'i alÄ±r ve belirtilen kriterlere gÃ¶re satÄ±rlarÄ± ve sÃ¼tunlarÄ± yeniden dÃ¼zenleyerek yeni bir DataFrame dÃ¶ndÃ¼rÃ¼r.

pivot_table() fonksiyonunun yaygÄ±n kullanÄ±lan argÃ¼manlarÄ± aÅŸaÄŸÄ±daki gibidir:

In [238]:
# pd.pivot_table(
#     data,               # Pivot tablosunun oluÅŸturulacaÄŸÄ± DataFrame
#     values=None,        # ToplulaÅŸtÄ±rÄ±lacak sÃ¼tun. Birden Ã§ok sÃ¼tun iÃ§in liste kullanÄ±labilir.
#     index=None,         # Pivot tablosunun satÄ±rlarÄ±nda kullanÄ±lacak sÃ¼tun(lar).
#     columns=None,       # Pivot tablosunun sÃ¼tunlarÄ±nda kullanÄ±lacak sÃ¼tun(lar).
#     aggfunc='mean',     # ToplulaÅŸtÄ±rma iÃ§in kullanÄ±lacak iÅŸlev(ler). VarsayÄ±lan 'mean'.
#     fill_value=None,    # Eksik deÄŸerlerin yerine kullanÄ±lacak deÄŸer. VarsayÄ±lan None.
#     margins=False,      # True ise toplam satÄ±rÄ± ve sÃ¼tunu ekler. VarsayÄ±lan False.
#     margins_name='All'  # Toplam satÄ±rÄ±nÄ±n/sÃ¼tunun adÄ±. VarsayÄ±lan 'All'.
# )

<div style="border-radius:10px; border:#DEB887 solid; padding: 15px; background-color: #FFFAF0; font-size:100%; text-align:left">

<h3 align="left"><font color='#DEB887'>ğŸ’¡ Notlar: </font></h3>

* **data:** Pivot tablosunun oluÅŸturulacaÄŸÄ± DataFrame.
* **values:** Ã–zet istatistiklerin hesaplanacaÄŸÄ± sÃ¼tun(lar). Tek bir sÃ¼tun veya birden Ã§ok sÃ¼tun iÃ§in liste kullanÄ±labilir.
* **index:** Pivot tablosunun satÄ±rlarÄ±nÄ± oluÅŸturacak sÃ¼tun(lar).
* **columns:** Pivot tablosunun sÃ¼tunlarÄ±nÄ± oluÅŸturacak sÃ¼tun(lar).
* **aggfunc:** DeÄŸerler iÃ§in uygulanacak toplulaÅŸtÄ±rma iÅŸlevi(ler). VarsayÄ±lan olarak 'mean' (ortalama), ancak 'sum', 'count', 'min', 'max' veya Ã¶zel iÅŸlevler de kullanÄ±labilir.
* **fill_value:** Elde edilen pivot tablosundaki eksik veya NaN deÄŸerlerin yerine geÃ§ecek deÄŸer.
* **margins:** True olarak ayarlanÄ±rsa, toplam satÄ±rÄ±nÄ± ve sÃ¼tununu iÃ§eren bir satÄ±r ve sÃ¼tun ekler. VarsayÄ±lan deÄŸeri False.
* **margins_name:** Toplam satÄ±rÄ±nÄ±n/sÃ¼tunun adÄ±. VarsayÄ±lan deÄŸeri 'All'.

In [239]:
# Ã–rnek olarak, satÄ±ÅŸ verilerini iÃ§eren bir DataFrame dÃ¼ÅŸÃ¼nelim:

import pandas as pd

veri = {
    'Kategori': ['Elektronik', 'Giyim', 'Elektronik', 'Giyim', 'Elektronik', 'Giyim'],
    'Åehir': ['New York', 'New York', 'Los Angeles', 'Los Angeles', 'Chicago', 'Chicago'],
    'SatÄ±ÅŸlar': [1000, 500, 800, 300, 600, 200]
}

df = pd.DataFrame(veri)

In [240]:
# Bu DataFrame Ã¼zerinden her kategori ve ÅŸehir iÃ§in toplam satÄ±ÅŸlarÄ± iÃ§eren bir pivot tablosu oluÅŸturalÄ±m:

pivot_tablosu = pd.pivot_table(df, values='SatÄ±ÅŸlar', index='Kategori', columns='Åehir', aggfunc='sum')

pivot_tablosu

Åehir       Chicago  Los Angeles  New York
Kategori
Elektronik      600          800      1000
Giyim           200          300       500

---

In [241]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/titanic/train.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [242]:
df.pivot_table("Survived", "Sex", "Embarked")

Embarked         C         Q         S
Sex
female    0.876712  0.750000  0.689655
male      0.305263  0.073171  0.174603

In [243]:
df.pivot_table("Survived", "Sex", ["Embarked", "Pclass"])

Embarked         C                   Q                        S            \
Pclass           1    2         3    1    2         3         1         2
Sex
female    0.976744  1.0  0.652174  1.0  1.0  0.727273  0.958333  0.910448
male      0.404762  0.2  0.232558  0.0  0.0  0.076923  0.354430  0.154639

Embarked
Pclass           3
Sex
female    0.375000
male      0.128302

In [244]:
df["new_age"] = pd.cut(df["Age"], [0, 10, 18, 25, 40, 90])

In [245]:
df.pivot_table("Survived", "Sex", ["new_age", "Pclass"])

new_age (0, 10]                 (10, 18]                 (18, 25]            \
Pclass        1    2         3         1    2         3         1         2
Sex
female      0.0  1.0  0.500000  1.000000  1.0  0.523810  0.941176  0.933333
male        1.0  1.0  0.363636  0.666667  0.0  0.103448  0.333333  0.047619

new_age            (25, 40]                      (40, 90]
Pclass          3         1         2         3         1         2         3
Sex
female   0.500000  1.000000  0.906250  0.464286  0.961538  0.846154  0.111111
male     0.115385  0.513514  0.071429  0.172043  0.280000  0.095238  0.064516

<a id = "24"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Veri Okuma </h1>

Pandas'da, CSV (VirgÃ¼lle AyrÄ±lmÄ±ÅŸ DeÄŸerler) dosyasÄ±ndan veri okumak ve DataFrame oluÅŸturmak iÃ§in kullanÄ±lan read_csv() fonksiyonudur. Pandas'ta dÄ±ÅŸ kaynaklardan veri almak iÃ§in en sÄ±k kullanÄ±lan fonksiyonlardan biridir. Ä°ÅŸte read_csv() fonksiyonunun yaygÄ±n kullanÄ±lan argÃ¼manlarÄ± ile sÃ¶zdizimi:

In [246]:
# pd.read_csv(
#     filepath_or_buffer, # CSV dosyasÄ±nÄ±n yolu veya URL'si veya CSV verisini iÃ§eren dosya benzeri bir nesne.
#     sep=',',            # CSV dosyasÄ±nda deÄŸerleri ayÄ±rmak iÃ§in kullanÄ±lan ayraÃ§. VarsayÄ±lan deÄŸeri ','.
#     header='infer',     # SÃ¼tun isimleri olarak kullanÄ±lacak satÄ±r numarasÄ±(larÄ±). VarsayÄ±lan deÄŸeri 'infer'.
#     names=None,         # KullanÄ±lacak sÃ¼tun isimlerinin listesi. Belirtilmezse, sÃ¼tun adlarÄ± satÄ±r(lar) olarak kullanÄ±lÄ±r.
#     index_col=None,     # DataFrame'in indeks (satÄ±r etiketleri) olarak kullanÄ±lacak sÃ¼tun(lar). VarsayÄ±lan deÄŸeri None.
#     usecols=None,       # Dosyadan okunacak sÃ¼tun isimlerinin listesi. VarsayÄ±lan deÄŸeri None (tÃ¼m sÃ¼tunlarÄ± okur).
#     dtype=None,         # Belirtilen sÃ¼tunlar iÃ§in zorlanacak veri tÃ¼rÃ¼.
#     parse_dates=False,  # Tarih olarak ayrÄ±ÅŸtÄ±rÄ±lacak sÃ¼tunlarÄ±n listesi. VarsayÄ±lan deÄŸeri False (tarih ayrÄ±ÅŸtÄ±rma yok).
#     na_values=None,     # NaN (Not a Number) deÄŸeri olarak kabul edilecek ekstra deÄŸerler.
#     skiprows=None,      # DosyanÄ±n baÅŸlangÄ±cÄ±nda atlanacak satÄ±r sayÄ±sÄ±.
#     nrows=None,         # Dosyadan okunacak satÄ±r sayÄ±sÄ±.
#     skip_blank_lines=True,  # True ise, boÅŸ satÄ±rlarÄ± atlar ve NaN deÄŸeri olarak yorumlar.
#     encoding='utf-8',   # Dosya kodlamasÄ± (Ã¶rn. 'utf-8', 'latin-1' vb.). VarsayÄ±lan deÄŸeri 'utf-8'.
#     thousands=None,     # SayÄ±sal verileri ayrÄ±ÅŸtÄ±rÄ±rken binler ayracÄ± olarak kullanÄ±lacak karakter.
#     decimal='.',        # SayÄ±sal verileri ayrÄ±ÅŸtÄ±rÄ±rken ondalÄ±k ayracÄ± olarak kullanÄ±lacak karakter.
#     header=None,        # SÃ¼tun isimleri olarak kullanÄ±lacak satÄ±r numarasÄ±(larÄ±) (kullanÄ±m dÄ±ÅŸÄ±; yerine `header='infer'` kullanÄ±n).
#     comment=None,       # Yorum belirteci olarak kullanÄ±lacak karakter(ler). Bu karakterle baÅŸlayan satÄ±rlar yorum olarak kabul edilir.
#     skipfooter=0,       # DosyanÄ±n sonundaki satÄ±r sayÄ±sÄ±.
#     engine='c',         # KullanÄ±lacak ayrÄ±ÅŸtÄ±rma motoru. 'c' motoru daha hÄ±zlÄ±dÄ±r, 'python' motoru ise daha Ã¶zelliklidir.
# )

<a id = "25"></a><br>
<h1 style="background-color:#77BFC7;font-family:courier;font-size:250%;font-style: oblique;font-weight: bold;font-variant: small-caps;text-align:center;border-radius: 15px 50px;"> Kural TabanlÄ± SÄ±nÄ±flandÄ±rma </h1>

In [247]:
df = pd.read_csv("/kaggle/input/persona/week_02_data.csv")

*** Ä°lk BakÄ±ÅŸ**

In [248]:
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [249]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [250]:
df.describe().T

        count     mean        std   min   25%   50%   75%   max
PRICE  5000.0  34.1320  12.464897   9.0  29.0  39.0  39.0  59.0
AGE    5000.0  23.5814   8.995908  15.0  17.0  21.0  27.0  66.0

In [251]:
df.isnull().sum()

PRICE      0
SOURCE     0
SEX        0
COUNTRY    0
AGE        0
dtype: int64

In [252]:
df.describe(include=[object]).T

        count unique      top  freq
SOURCE   5000      2  android  2974
SEX      5000      2   female  2621
COUNTRY  5000      6      usa  2065

* **KaÃ§ unique SOURCE vardÄ±r? FrekanslarÄ± nedir?**

In [253]:
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [254]:
df["SOURCE"].mode()

0    android
Name: SOURCE, dtype: object

* **KaÃ§ unique PRICE vardÄ±r?**

In [255]:
df["PRICE"].nunique()

6

* **PRICE miktarlarÄ±nÄ±n satÄ±ÅŸ adetleri?**

In [256]:
df["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

* **Hangi Ã¼lkeden kaÃ§ar tane satÄ±ÅŸ olmuÅŸ?**

In [257]:
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

* **Ãœlkelere gÃ¶re satÄ±ÅŸlardan toplam ne kadar kazanÄ±lmÄ±ÅŸ?**

In [258]:
df.groupby("COUNTRY").agg({"PRICE": "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [259]:
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [260]:
df.groupby("COUNTRY")[["PRICE"]].sum()

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [261]:
df.pivot_table("PRICE","COUNTRY",aggfunc="sum")

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

* **SOURCE tÃ¼rlerine gÃ¶re satÄ±ÅŸ sayÄ±larÄ± nedir?**

In [262]:
df.groupby("SOURCE")["SOURCE"].agg([("SatÄ±ÅŸ_SayÄ±sÄ±","count")])

         SatÄ±ÅŸ_SayÄ±sÄ±
SOURCE
android          2974
ios              2026

In [263]:
df.groupby("SOURCE").agg({"SOURCE": "count"})

         SOURCE
SOURCE
android    2974
ios        2026

In [264]:
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

* **Ãœlkelere gÃ¶re PRICE ortalamalarÄ± nedir?**

In [265]:
df.groupby("COUNTRY")["PRICE"].agg([("Fiyat_OrtalamalarÄ±","mean")])

         Fiyat_OrtalamalarÄ±
COUNTRY
bra               34.327540
can               33.608696
deu               34.032967
fra               33.587459
tur               34.787140
usa               34.007264

In [266]:
df.groupby("COUNTRY").agg({"PRICE": "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [267]:
df.groupby("COUNTRY")["PRICE"].mean()

COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

In [268]:
df.pivot_table("PRICE","COUNTRY",aggfunc="mean")

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

* **SOURCE'lara gÃ¶re PRICE ortalamalarÄ± nedir?**

In [269]:
df.groupby("SOURCE")["PRICE"].agg([("Fiyat_OrtalamalarÄ±","mean")])

         Fiyat_OrtalamalarÄ±
SOURCE
android           34.174849
ios               34.069102

In [270]:
df.groupby("SOURCE").agg({"PRICE": "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [271]:
df.groupby("SOURCE")["PRICE"].mean()

SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

In [272]:
df.pivot_table("PRICE","SOURCE",aggfunc="mean")

             PRICE
SOURCE
android  34.174849
ios      34.069102

* **COUNTRY-SOURCE kÄ±rÄ±lÄ±mÄ±nda PRICE ortalamalarÄ± nedir?**

In [273]:
df.groupby(["COUNTRY","SOURCE"])["PRICE"].agg([("Fiyat_OrtalamalarÄ±","mean")])

                 Fiyat_OrtalamalarÄ±
COUNTRY SOURCE
bra     android           34.387029
        ios               34.222222
can     android           33.330709
        ios               33.951456
deu     android           33.869888
        ios               34.268817
fra     android           34.312500
        ios               32.776224
tur     android           36.229437
        ios               33.272727
usa     android           33.760357
        ios               34.371703

In [274]:
df.groupby(["COUNTRY","SOURCE"]).agg({"PRICE": "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [275]:
df.groupby(["COUNTRY","SOURCE"])["PRICE"].mean()

COUNTRY  SOURCE
bra      android    34.387029
         ios        34.222222
can      android    33.330709
         ios        33.951456
deu      android    33.869888
         ios        34.268817
fra      android    34.312500
         ios        32.776224
tur      android    36.229437
         ios        33.272727
usa      android    33.760357
         ios        34.371703
Name: PRICE, dtype: float64

In [276]:
df.pivot_table("PRICE",["COUNTRY","SOURCE"],aggfunc="mean")

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

* **COUNTRY, SOURCE, SEX, AGE kÄ±rÄ±lÄ±mÄ±nda ortalama kazanÃ§lar nedir?**

In [277]:
df.groupby(["COUNTRY","SOURCE","SEX","AGE"])["PRICE"].agg([("KazanÃ§_OrtalamalarÄ±","mean")]).head()

                            KazanÃ§_OrtalamalarÄ±
COUNTRY SOURCE  SEX    AGE
bra     android female 15             38.714286
                       16             35.944444
                       17             35.666667
                       18             32.255814
                       19             35.206897

In [278]:
df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE": "mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

In [279]:
df.pivot_table("PRICE",["COUNTRY","SOURCE","SEX","AGE"],aggfunc="mean").head()

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897

In [280]:
[df.groupby(["COUNTRY","SOURCE","SEX","AGE"])[["PRICE"]].mean().apply(lambda x : x.loc[[i]].head(5)) for i in set(df.COUNTRY)]

[                                PRICE
 COUNTRY SOURCE  SEX    AGE
 bra     android female 15   38.714286
                        16   35.944444
                        17   35.666667
                        18   32.255814
                        19   35.206897,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 usa     android female 15   32.666667
                        16   34.901639
                        17   34.625000
                        18   32.404255
                        19   35.764706,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 fra     android female 15   37.571429
                        16   36.727273
                        17   34.652174
                        19   27.333333
                        21   39.000000,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 can     android female 15   25.666667
                        16   29.689655
                        18   37.333333
                        19   32.529412
                        20   31.500000,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 tur     android female 15   41.000000
                        16   34.555556
                        17   33.687500
                        18   41.500000
                        19   31.000000,
                                 PRICE
 COUNTRY SOURCE  SEX    AGE
 deu     android female 15   32.000000
                        16   27.000000
                        17   33.736842
                        21   31.000000
                        22   35.000000]

* **Ã‡Ä±ktÄ±yÄ± PRICE'a gÃ¶re sÄ±ralayÄ±nÄ±z.**

In [281]:
agg_df = df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE": "mean"}).sort_values(by="PRICE",ascending=False)

* **Indekste yer alan isimleri deÄŸiÅŸken ismine Ã§eviriniz.**

In [282]:
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

In [283]:
agg_df.reset_index(inplace=True)

In [284]:
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

* **AGE deÄŸiÅŸkenini kategorik deÄŸiÅŸkene Ã§eviriniz ve agg_df'e ekleyiniz.**

In [285]:
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"],bins=[0,18,23,30,40,agg_df["AGE"].max()],
                                        labels=['0_18', '19_23', '24_30', '31_40', f'41_{agg_df["AGE"].max()}'])

In [286]:
agg_df["AGE_CAT"].value_counts()

24_30    78
0_18     77
19_23    71
31_40    65
41_66    57
Name: AGE_CAT, dtype: int64

* **Yeni level based mÃ¼ÅŸterileri tanÄ±mlayÄ±nÄ±z ve veri setine deÄŸiÅŸken olarak ekleyiniz.**

In [287]:
agg_df["customers_level_based"] = [f"{COUNTRY}_{SOURCE}_{SEX}_{AGE_CAT}".upper()
                                 for COUNTRY,SOURCE,SEX,AGE_CAT
                                 in zip(agg_df["COUNTRY"],agg_df["SOURCE"],agg_df["SEX"],agg_df["AGE_CAT"])]

In [288]:
agg_df["customers_level_based"] = [f"{i[0]}_{i[1]}_{i[2]}_{i[5]}".upper() for i in agg_df.values]

In [289]:
agg_df['customers_level_based'] = agg_df[['COUNTRY', 'SOURCE', 'SEX', 'AGE_CAT']].agg(lambda x: '_'.join(x).upper(), axis=1)

In [290]:
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE":"mean"})

* **Yeni mÃ¼ÅŸterileri (USA_ANDROID_MALE_0_18) segmentlere ayÄ±rÄ±nÄ±z.**

In [291]:
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"],q=4,labels=["D","C","B","A"])

* **Yeni gelen mÃ¼ÅŸterileri sÄ±nÄ±flandÄ±rÄ±nÄ±z ne kadar gelir getirebileceÄŸini tahmin ediniz.**

In [292]:
resetli_df = agg_df.reset_index()

In [293]:
new_customer = "TUR_ANDROID_FEMALE_31_40"

In [294]:
agg_df.loc[new_customer]

PRICE      41.833333
SEGMENT            A
Name: TUR_ANDROID_FEMALE_31_40, dtype: object

In [295]:
resetli_df.head()

      customers_level_based      PRICE SEGMENT
0   BRA_ANDROID_FEMALE_0_18  35.645303       B
1  BRA_ANDROID_FEMALE_19_23  34.077340       C
2  BRA_ANDROID_FEMALE_24_30  33.863946       C
3  BRA_ANDROID_FEMALE_31_40  34.898326       B
4  BRA_ANDROID_FEMALE_41_66  36.737179       A

In [296]:
resetli_df[resetli_df["customers_level_based"]==new_customer][["PRICE","SEGMENT"]]

        PRICE SEGMENT
72  41.833333       A

* **All in One Fonksiyon**

In [297]:
df = pd.read_csv("/kaggle/input/persona/week_02_data.csv")

In [298]:
def all_in_one(df , customer):
    df = df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE": "mean"}).sort_values(by="PRICE",ascending=False).reset_index()
    df["AGE_CAT"] = pd.cut(df["AGE"], bins=[0, 18, 23, 30, 40, df["AGE"].max()],
                                        labels=['0_18', '19_23', '24_30', '31_40', f'41_{df["AGE"].max()}'])
    df["customers_level_based"] = [f"{i[0]}_{i[1]}_{i[2]}_{i[5]}".upper() for i in df.values]
    df = df.groupby("customers_level_based").agg({"PRICE": "mean"})
    df["SEGMENT"] = pd.qcut(df["PRICE"], q=4, labels=["D", "C", "B", "A"])
    df.reset_index(inplace=True)
    result = df[df["customers_level_based"] == customer][["PRICE", "SEGMENT"]]
    return (f"{new_customer} Ortalama Gelir: {result.iloc[0][0].round(2)}, Segment: {result.iloc[0][1]}")


new_customer = "TUR_ANDROID_FEMALE_31_40"
new_customer = "FRA_IOS_FEMALE_31_40"

all_in_one(df,new_customer)

'FRA_IOS_FEMALE_31_40 Ortalama Gelir: 32.82, Segment: C'